{% extends './../base.html' %}
{% load static %}
{% block title %}Account - {{request.user.first_name}} {{request.user.last_name}} {% endblock %}

{% block styles %}
<style>
    .btn-first{
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
    }
    .btn-last{
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
    }
</style>
{% endblock %}

{% block content %}


<!-- Start Page Title Area -->
{% comment %}
<div class="page-title-area item-bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>My Profile</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>{{request.user.username}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}
<!-- End Page Title Area -->

<div class="sign-in-are pt-70 pb-70">

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card border-0" >
                    <div class="card-header">
                        <div class="btn-group d-flex justify-content-between btns">
                            <a href="{% url 'account_notifications' %}?notifications=all" class="btn btn-outline-primary btn-first {% if request.GET.notifications == 'all' or request.GET.notifications == None %}active {% endif %}" aria-current="page">All</a>
                            <a href="{% url 'account_notifications' %}?notifications=unread" class="btn btn-outline-success {% if request.GET.notifications == 'unread' %} active {% endif %}">Unread</a>
                            <a href="{% url 'account_notifications' %}?notifications=read" class="btn btn-outline-danger btn-last {% if request.GET.notifications == 'read' %} active {% endif %}">Read</a>
                          </div>
                    </div>
                    <div class="card-body bg-light" style="border-radius: 10px !important;">
                        {% include './../components/notifications.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'superadmin/assets/plugins/select2/js/select2.full.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('select').select2();
    })
</script>
{% endblock %}