{% extends './../base.html' %}
{% load static %}
{% block title %}Account - {{request.user.first_name}} {{request.user.last_name}} {% endblock %}

{% block styles %}
<link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'superadmin/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


<!-- Start Page Title Area -->
<div class="page-title-area item-bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>My Profile</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>{{request.user.username}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<div class="sign-in-are ptb-40 pb-70">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tab products-details-tab">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mb-4">
                            <ul class="tabs nav-fill">
                                <li>
                                    <a href="#" class="rounded-pill">
                                        <div class="dot"></div>
                                        Account Information
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rounded-pill">
                                        <div class="dot"></div>
                                        Linked Facilities
                                    </a>
                                </li>
                                {% if request.user.doctor %}
                                <li>
                                    <a href="#" class="rounded-pill">
                                        <div class="dot"></div>
                                        Doctor Profile
                                    </a>
                                </li>
                                {% endif %}
                                {% if request.user.doctor.is_verified %}
                                <li>
                                    <a href="#" class="rounded-pill">
                                        <div class="dot"></div>
                                        List a Facility
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="tab_content">

                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        {% include './forms/basic-user-info-form.html' %}
                                        {% include './forms/account-profile-form.html' %}
                                        {% include './forms/profile-picture-form.html' %}
                                        {% include './forms/password-form.html' %}
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        {% include './facilities/account-facilities.html' %}
                                    </div>
                                </div>
                                {% if request.user.doctor %}
                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <h3>Update doctor profile</h3>
                                        {% include './components/qualifications.html' %}
                                    </div>
                                </div>
                                {% endif %}
                                {% if request.user.doctor.is_verified %}
                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        {% include './facilities/add-facility.html' %}
                                    </div>
                                </div>
                                {% endif %}

                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        content 4
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %} 

{% block scripts %}
<script src="{% static 'superadmin/assets/plugins/select2/js/select2.full.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('select').select2();
    })
</script>
{% endblock %}