{% load static %}
{% load customtags %}
<div class="doctor-item h-100 border-0">
    <div class="image" style="height: 250px; overflow: hidden;">
        {% if doctor.user.profile.profile_photo %}
        <img src="{{doctor.user.profile.profile_photo.url}}" alt="{{doctor.user.full_name}}">
        {% else %}
        <div class="h-100 w-100 d-flex align-items-center justify-content-center doctor-no-image">
            {{doctor.user.username|make_list|first}}
            <!-- <img src="{% static 'assets/img/team/image1.jpg' %}" alt="{{doctor.user.full_name}}"> -->
        </div>
        {% endif %}
    </div>
    <div class="content">
        <a href="{% url 'single-doctor' doctor.id %}">
            <h3>{{doctor.user.profile.salutation.title}} {{doctor.user.get_full_name}}</h3>
        </a>
        <span>
            {{ doctor.specialities.all|get_doctor_specialties }}
        </span>
        <!-- <ul class="social d-none">
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul> -->
    </div>
</div>