{% extends 'base.html' %}
{% load static %}
{% load customtags %}

{% block title %} Specialist Search {% endblock title %}

{% block content %}

<style>
    /* .image {
        height: 140px;
        overflow: hidden;
        max-height: 140px;
    } */
</style>

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Specialist Search Results</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Specialist Search</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->


<!-- Service details -->
<div class="service-details ptb-100">
    <div class="container">
        <div class="row"> 
            {% for doctor in doctors %}
            <div class="col-lg-3 col-md-6 mb-3">
                {% include './doctor-card.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Service details -->

{% endblock %}