{% extends 'base.html' %}
{% load static %}
{% load customtags %}

{% block title %} {{doctor.user.profile.salutation.title}} {{doctor.user.get_full_name}} {% endblock title %}

{% block styles %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'superadmin/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<style>
    .profile-photo {
        width: 100%;
        height: auto;
    }

    .profile-photo img {
        width: 100%;
        border-radius: 10px;
    }
</style>
<!-- Start Page Title Area -->
<div class="page-title-area item-bg-">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>{{doctor.user.profile.salutation.title}} {{doctor.user.get_full_name}}</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>{{doctor.user.profile.salutation.title}} {{doctor.user.get_full_name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<div class="container">
    <div class="service-details ptb-100">
        <div class="row">
            <div class="col-md-3">
                <div class="image" style="height: 250px; overflow: hidden;">
                    {% if doctor.user.profile.profile_photo %}
                    <img src="{{doctor.user.profile.profile_photo.url}}" alt="{{doctor.user.full_name}}">
                    {% else %}
                    <div class="h-100 w-100 d-flex align-items-center justify-content-center doctor-no-image">
                        {{doctor.user.username|make_list|first}}
                        <!-- <img src="{% static 'assets/img/team/image1.jpg' %}" alt="{{doctor.user.full_name}}"> -->
                    </div>
                    {% endif %}
                </div>
                <div class="my-3">
                    <h4>{{doctor.user.profile.salutation.title}} {{doctor.user.get_full_name}}</h4>
                    <div>
                        <h5>SPecialities</h5>
                        <ul class="list-group">
                            {% for spec in doctor.specialities.all %}
                            <li class="list-group-item">
                                <p class="m-0 p-0">{{spec.name}}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h4 class="mb-3">About</h4>
                <div class="d-flex align-items-center gap-3 mb-3">
                    {% if doctor.is_verified %}
                    <button class="btn text-dark btn-sm px-3"
                        style="border-radius: 10px; background: rgba(39, 255, 39, 0.521);">
                        <i class="fa fa-trophy"></i>
                        Verified
                    </button>
                    {% else %}
                    <button class="btn text-dark btn-sm px-3"
                        style="border-radius: 10px; background: rgba(255, 39, 39, 0.521);">
                        <i class="fa fa-trophy"></i>
                        Not Verified
                    </button>
                    {% endif %}
                    <div class="p- m-0">
                        {{doctor.speciality_field.name}}
                    </div>
                </div>
                <p class="mb-3">{{doctor.about}}</p>
                <h4 class="mb-3">Academic Qualifications</h4>
                <div>
                    <div class="row">
                        {% for qualification in doctor.qualifications.all %}
                        {% include './qualification-card.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <h3>Book Appointment</h3>
            <p>Book an appointment with this doctor.</p>
        </div>
        <div style="position: relative;">
            {% if not request.user.patient %}
            <div class="d-flex align-items-center justify-content-center"
                style="position: absolute; top: 0; left: 0;right: 0;bottom: 0;z-index: 100;background-color: rgba(0, 0, 0, 0.6);border-radius: 10px;">
                <div class="text-white text-center">
                    <h3 class="text-white text-center">Patient account required</h3>
                    <p class="text-white text-center">
                        You need to login in as a patient to continue
                    </p>
                </div>
            </div>
            {% endif %}
            <form action="{% url 'doctor:create-appointment' %}" method="POST">
                {% csrf_token %}
                <input name="doctor" value="{{doctor.id}}" hidden />
                <input name="patient" value="{{request.user.patient.id}}" hidden />
                <div class="row mt-2 p-md-4">
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" required name="date" id="date-input" min="{% now 'Y-m-d' %}"
                                class="form-control shadow-none" value="{{request.GET.date}}">
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label for="date" class="form-label">Condition</label>
                            <select class="form-control shadow-none" name="condition" required>
                                {% for illness in 'illness'|illness %}
                                <option value="{{illness.id}}">{{illness.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label for="date" class="form-label">Enter Condition(if other)</label>
                            <input type="text" name="other_condition" placeholder="Enter other condition"
                                class="form-control shadow-none">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <h4 class="mb-2" style="font-weight: 400 !important; font-size: 18px;">Select Appointment Type
                        </h4>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="flex-wrap: wrap;">
                            <label class="btn btn-outline-secondary text-capitalize mb-2"
                                style="display: inline-block; width: 200px;">
                                <input required type="radio" name="consultation_type" value="video" autocomplete="off"
                                    class="form-check-input">
                                Video
                            </label>
                            <label class="btn btn-outline-secondary text-capitalize mb-2"
                                style="display: inline-block; width: 200px;">
                                <input required type="radio" name="consultation_type" value="text" autocomplete="off"
                                    class="form-check-input">
                                Text
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <h4 class="mb-2" style="font-weight: 400 !important; font-size: 18px;">Select Appointment Category
                        </h4>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="flex-wrap: wrap;">
                            <label class="btn btn-outline-secondary text-capitalize mb-2"
                                style="display: inline-block; width: 200px;">
                                <input required type="radio" name="consultation_category" value="mental" autocomplete="off"
                                    class="form-check-input">
                                Mental Health
                            </label>
                            <label class="btn btn-outline-secondary text-capitalize mb-2"
                                style="display: inline-block; width: 200px;">
                                <input required type="radio" name="consultation_category" value="medical" autocomplete="off"
                                    class="form-check-input">
                                Medical Health
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <h4 class="mb-2" style="font-weight: 400 !important; font-size: 18px;">Select Time</h4>
                        {% appointment_time as available_app_time %}
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="flex-wrap: wrap;">
                            {% for app_time in available_app_time %}
                            {% is_time_available appointments app_time.time request.GET.date as is_available %}
                            {% if is_available %}
                            <label class="btn btn-outline-secondary text-capitalize mb-2"
                                style="display: inline-block; width: 200px;">
                                <input required type="radio" name="start_time" value="{{app_time.id}}" id="option1"
                                    autocomplete="off" class="form-check-input">
                                {{app_time.time}}
                            </label>
                            {% else %}
                            <label class="btn btn-outline-secondary text-capitalize mb-2 active"
                                style="display: inline-block; width: 200px; pointer-events: none;">
                                <input type="radio" name="start_time" disabled value="{{app_time.id}}" id="option1"
                                    autocomplete="off" class="form-check-input">
                                {{app_time.time}}
                            </label>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-12 mb-4">
                        <h4 class="mb-2" style="font-weight: 400 !important; font-size: 18px;">Select Duration</h4>
                        {% appointment_durations as available_durations %}
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="flex-wrap: wrap;">
                            {% for app_duration in available_durations %}
                            <label class="btn btn-outline-secondary text-capitalize mb-2"
                                style="display: inline-block; width: 200px;">
                                <input required type="radio" name="duration" value="{{app_duration.id}}" id="option1"
                                    autocomplete="off" class="form-check-input">
                                {{app_duration.minutes}} Minutes
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="note" class="form-label">Note</label>
                            <textarea required id="note" name="note" placeholder="Enter more information about the appointment"
                                rows="6" class="form-control shadow-none"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary">Make Appointment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'superadmin/assets/plugins/select2/js/select2.full.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('select').select2();
    })
</script>

<script>

    function redirectToNewPage() {
        const dateInput = document.getElementById('date-input');
        const selectedDate = dateInput.value;
        const url = window.location.href.split('?')[0] + '?date=' + selectedDate;
        window.location.href = url;
    }
    const dateInput = document.getElementById('date-input');
    dateInput.addEventListener('change', redirectToNewPage);

</script>
{% endblock %}