<div class="row">
    {% if my_facilities|length > 0 %}
    <div class="col-12 py-4">
        <h2 class="pb-3">Listed by you</h2>

        <div class="row py-2">
            {% for facility in my_facilities %}
            <div class="col-md-4 mb-3">
                {% include './../components/facility_card.html' with facility=facility has_admin_buttons=True %}
            </div>
            {% endfor %}
        </div>
        {% if my_facilities|length == 0 %}
        <p>You have not listed any facilities yet!</p>
        {% endif %}
    </div>
    {% endif %}

    {% if request.user.patient %}
    <div class="col-12 py-4">
        <h2 class="pb-3">As a patient</h2>
        <div class="row py-2">
            {% if request.user.patient.facility %}
            <div class="col-md-4 mb-3">
                {% include './../components/facility_card.html' with facility=request.user.patient.facility has_admin_buttons=False
                %}
            </div>
            {% endif %}

            {% for facility in request.user.patient.facilities.all %}
            <div class="col-md-4 mb-3">
                {% include './../components/facility_card.html' with facility=request.user.patient.facility has_admin_buttons=False
                %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if request.user.doctor %}
    <div class="col-12 py-2">
        <h2 class="pb-3">As a doctor</h2>
        <div class="row py-2">
            {% if request.user.doctor.facility %}
            <div class="col-md-4 mb-3">
                {% include './../components/facility_card.html' with facility=request.user.doctor.facility has_admin_buttons=True %}
            </div>
            {% endif %}
            {% for facility in request.user.doctor.facilities.all %}
            <div class="col-md-4 mb-3">
                {% include './../components/facility_card.html' with facility=facility has_admin_buttons=True %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>