<form action="{% url 'create_facility' %}" method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <div class="row">

        <div class="col-12 mb-2">
            <h3>Basic facility information</h3>
        </div>
        <div class="col-md-6 input-group-lg mb-2">
            <label for="name" class="form-label">Name</label>
            <input type="text" required class="form-control shadow-none" name="name" id="name"
                placeholder="Facility Name" value="{{facility.name}}">
        </div>
        <div class="col-md-6 input-group-lg mb-2">
            <label for="facility_code" class="form-label">Facility Code</label>
            <input type="text" required class="form-control shadow-none" name="facility_code" id="facility_code"
                placeholder="Facility Code" value="{{facility.facility_code}}">
        </div>
        <div class="col-md-12 input-group-lg mb-2">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" required id="description" class="form-control shadow-none" name="description"
                placeholder="Describe the facility" value="{{facility.description}}"></textarea>
        </div>

        <div class="col-md-12 input-group-lg mb-2">
            <label for="" class="form-label">Facility Kind</label>
            <div class="d-flex align-items-center">
                <div class="form-check ms-3 mb-3">
                    <input class="form-check-input" type="radio" name="facility_kind" value="clinic" id="clinic">
                    <label class="form-check-label" for="clinic">
                        Clinic
                    </label>
                </div>
                <div class="form-check ms-3 mb-3">
                    <input class="form-check-input" type="radio" name="facility_kind" value="hospital" id="hospital">
                    <label class="form-check-label" for="hospital">
                        Hospital
                    </label>
                </div>
                <div class="form-check ms-3 mb-3">
                    <input class="form-check-input" type="radio" name="facility_kind" value="pharmacy" id="pharmacy">
                    <label class="form-check-label" for="pharmacy">
                        Pharmacy
                    </label>
                </div>
                <div class="form-check ms-3 mb-3">
                    <input class="form-check-input" type="radio" name="facility_kind" value="nutraceutical"
                        id="nutraceutical">
                    <label class="form-check-label" for="nutraceutical">
                        Nutraceutical
                    </label>
                </div>
            </div>
        </div>

        <div class="col-12 mb-2">
            <h3>Contact information</h3>
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label for="fphone_number" class="form-label">Phone Number</label>
            <input type="text" required id="fphone_number" class="form-control shadow-none" name="contact_no"
                placeholder="Facility Phone number" value="{{facility.contact_no}}">
        </div>
        <div class="col-md-4 input-group-lg mb-3">
            <label for="femail" class="form-label">Email</label>
            <input type="text" id="femail" class="form-control shadow-none" name="email" required
                placeholder="Facility Email" value="{{facility.email}}">
        </div>
        <div class="col-md-4 input-group-lg mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" id="address" class="form-control shadow-none" name="address" required
                placeholder="Facility address" value="{{facility.address}}">
        </div>

        <div class="col-12 mb-2">
            <h3>Location Details</h3>
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label for="county" class="form-label w-100">County</label>
            <select type="text" required id="county" class="w-100 shadow-none" name="county" placeholder="County"
                value="{{facility.county}}">
                <option value="">Select county</option>
                {% for county in counties %}
                <option value="{{county.id}}" class="text-capitalize">{{county.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4 input-group-lg mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" required id="city" class="form-control shadow-none" name="city" placeholder="City"
                value="{{facility.city}}">
        </div>
        <div class="col-md-4 input-group-lg mb-3">
            <label for="location" class="form-label">Location Name</label>
            <input type="text" required id="location" class="form-control shadow-none" name="location"
                placeholder="Location" value="{{facility.location}}">
        </div>

        <div class="col-12 mb-2">
            <h3>Geo Coordinates</h3>
        </div>
        <div class="col-md-6 input-group-lg mb-2">
            <label for="latitude" class="form-label">Latitude</label>
            <input type="text" id="latitude" class="form-control shadow-none" name="latitude" required
                placeholder="Latitude" value="{{facility.latitude}}">
        </div>
        <div class="col-md-6 input-group-lg mb-3">
            <label for="longitude" class="form-label">Longitude</label>
            <input type="text" id="longitude" class="form-control shadow-none" name="longitude" required
                placeholder="Longitude" value="{{facility.longitude}}">
        </div>

        <div class="col-12 mb-2">
            <h3>Facility Specialities</h3>
        </div>
        <div class="col-md-12 input-group-lg mb-2">
            <label for="specialities" class="form-label">Specialities</label>
            <!-- <select type="text" id="specialities" multiple class="w-100"
                    name="specialities" placeholder="Specialities"
                    value="{{facility.specialities}}">
                    <option value="">Select specialities</option>
                    {% for speciality in specialities %}
                    <option value="{{speciality.id}}">{{speciality.name}}</option>
                    {% endfor %}
                </select> -->
            <div class="row">
                {% for speciality in specialities %}
                <div class="col-6 col-md-4">
                    <div class="form-check">
                        <input type="checkbox" name="specialities" class="form-check-input" id="spe_{{speciality.id}}"
                            value="{{speciality.id}}">
                        <label class="form-check-label" for="spe_{{speciality.id}}">{{speciality.name}}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-12 mb-2">
            <h3>Images</h3>
        </div>
        <div class="col-md-6 input-group-lg mb-2">
            <label for="logo" class="form-label">Logo</label>
            <input type="file" id="logo" class="form-control shadow-none" name="logo" placeholder="Logo"
                value="{{facility.logo}}" accept="image/*">
        </div>
        <div class="col-md-6 input-group-lg mb-3">
            <label for="cover_image" class="form-label">Cover Image</label>
            <input type="file" id="cover_image" class="form-control shadow-none" name="cover_image"
                placeholder="Cover Image" value="{{facility.cover_image}}" accept="image/*">
        </div>


        <div class="col-md-4 input-group-lg my-2 d-flex align-items-center">
            <button class="btn btn-primary rounded-pill px-5">
                Create facility
            </button>
        </div>
    </div>
</form>