{% extends './../../base.html' %}
{% load static %}
{% block title %} Password Reset Confirm {% endblock title %}


{% block content %}
<style>
    .helptext ul {
        padding: 10px 20px;
    }

    .helptext ul li {
        list-style-type: lower-roman !important;
        margin-bottom: 6px;
    }
</style>

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Set New Password</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Password Reset</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<div class="sign-in-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow rounded mt-5 px-3 pt-5">
                    <div class="mailer-holder">
                        <div class="left">
                            <div class="header">
                                <h2 class="text-center"> Reset password </h2>
                            </div>
                        </div>
                        <div class="right mt-4">
                            <div class="body">
                                <form method="post">
                                    {% csrf_token %}

                                    <div class="input-holder">
                                        {{ form }}
                                    </div>

                                    <div class="py-3">
                                        <button type="submit" class="btn default-btn" name="send" id="send_btn">
                                            Reset password
                                        </button>
                                    </div>
                                </form>
                                {% for message in messages %}
                                <div class="login-error mails-failed">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const labels = document.getElementsByTagName('label')
            for (var i = 0; i < labels.length; i++) {
                labels[i].classList.add('form-label')
            }
            function getElementAddClass(element, classes_) {
                const el = document.querySelector(element)
                if (el) {
                    el.classList.add(classes_)
                }
            }
            document.querySelector('label').classList.add('form-label')
            getElementAddClass('#id_new_password1', 'form-control')
            getElementAddClass('#id_new_password1', 'shadow-none')
            
            getElementAddClass('#id_new_password2', 'form-control')
            getElementAddClass('#id_new_password2', 'shadow-none')
        </script>
    </div>
</div>


{% endblock %}