{% extends './../../base.html' %}
{% load static %}
{% block title %} Password Reset Complete {% endblock title %}

{% block content %}
<!-- Start Page Title Area -->
<div class="page-title-area item-bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Password Reset Complete</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Password Reset</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<div class="sign-in-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow rounded p-4">
                    <div class="py-5">
                        <div class="">
                            <div class="alert alert-info mb-3">
                                Password reset complete.
                            </div>
                            <div>
                                <a href="{%url 'signin' %}" class="default-btn">Proceed to Login </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}