{% extends './../../base.html' %}
{% load static %}
{% block title %} Password Reset Done {% endblock title %}

{% block content %}
<!-- Start Page Title Area -->
<div class="page-title-area item-bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Password Reset Email Sent</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Password Reset</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<div class="sign-in-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow rounded px-3 mt-5 pt-5 border-none">
                    <div class="mailer-holder">
                        <div class="left">
                            <div class="header">
                                <h1 class="text-center"> Email sent </h1>
                            </div>
                        </div>
                        <div class="right">
                            <div class="body">
                                <div class="alert alert-info">
                                    A message to reset your password has been sent to your email.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}