{% extends './../../base.html' %}
{% load static %}
{% block title %} Password Reset {% endblock title %}


{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Request Password Reset</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Password Reset</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<div class="sign-in-area ptb-100">
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card rounded shadow px-3 mt-5 pt-5">
                    <div class="mailer-holder">
                        <div class="left">
                            <div class="header">
                                <h1 class="text-center"> Request Password Reset </h1>
                            </div>
                        </div>
                        <div class="right">
                            <div class="body">
                                <form method="post">
                                    {% csrf_token %}

                                    <div class="input-holder">
                                        {{ form }}
                                    </div>

                                    <div class="py-3">
                                        <button type="submit" name="send" class="default-btn" id="send_btn">
                                            Request password reset
                                        </button>
                                    </div>
                                </form>
                                {% for message in messages %}
                                <div class="login-error mails-failed">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const labels = document.getElementsByTagName('label')
            for (var i = 0; i < labels.length; i++) {
                labels[i].innerHTML = labels[i].innerHTML.split(':')[0];
                labels[i].classList.add('form-label')
            }
            function getElementAddClass(element, classes_){
                const el = document.querySelector(element)
                if(el){
                    el.classList.add(classes_)
                }
            }
            document.querySelector('label').classList.add('form-label')
            getElementAddClass('#id_email', 'form-control')
            getElementAddClass('#id_email', 'shadow-none')
        </script>
    </div>
</div>

{% endblock %}