{% extends './../../base.html' %}
{% load customtags %}

{% block title %} Email Configurations {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-description">
                <h1>Email Configurations</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-primary">
                            <i class="material-icons">outgoing_mail</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Total Configs</span>
                            <span class="widget-stats-amount">{{total_configs}}</span>
                            <!-- <span class="widget-stats-info">471 Orders Total</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-negative align-self-start">
                            <i class="material-icons">keyboard_arrow_down</i> 4%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col">
        <div class="card">
            <div class="card-body">
                <table id="datatable4" class="display nowrap custom-table" style="width:auto">
                    <thead>
                        <tr>
                            <th class="w-custom">Created By</th>
                            <th>Title</th>
                            <th>Email</th>
                            <th>Host</th>
                            <th>Port</th>
                            <th>Use TLS</th>
                            <th>Color</th>
                            <th>Created On</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for config in emailconfigs %}
                        <tr>
                            <td class="w-custom">
                                <div class="custom-name-holder" data-bs-toggle="modal"
                                    data-bs-target="#emailconfig-update-modal"
                                    data-bs-data="{{config|to_json:'emailconfig'}}">
                                    <div
                                        class="avatar rounded-circle avatar-sm me-2 d-flex align-items-center justify-content-center bg-light text-capitalize p-1">
                                        {% if config.created_by.profile.profile_photo %}
                                        <img src="{{config.created_by.profile.profile_photo.url}}" alt="">
                                        {% else %}
                                        {{config.created_by.username|get_first_letter}}
                                        {% endif %}
                                    </div>
                                    <div class="vstack gap-0">
                                        <p class="m-0 p-0">{{config.created_by.first_name}}
                                            {{config.created_by.last_name}}</p>
                                        <p class="m-0 p-0">
                                            <small>{{config.created_by.email}}</small>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>{{config.title}}</td>
                            <td>{{config.email}}</td>
                            <td>{{config.host}}</td>
                            <td>{{config.port}}</td>
                            <td>
                                {% if config.use_tls %}
                                <div class="badge badge-success">
                                    True
                                </div>
                                {% else %}
                                <div class="badge badge-danger">
                                    False
                                </div>
                                {% endif %}
                            </td>
                            <td>{{config.color}}</td>
                            <td>{{config.created_on}}</td>
                            <td>
                                <button class="btn btn-rounded btn-danger text-white"
                                    onclick="deleteEntry('api/emailconfigs/{{config.id}}/')">
                                    <i class="material-icons-two-tone">delete</i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="w-custom">Created By</th>
                            <th>Title</th>
                            <th>Email</th>
                            <th>Host</th>
                            <th>Port</th>
                            <th>Use TLS</th>
                            <th>Color</th>
                            <th>Created On</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Updating Email Configuration Modal -->
<div class="modal fade" id="emailconfig-update-modal" tabindex="-1" aria-labelledby="emailconfig-modal-label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="emailconfig-modal-label">Update Email Config</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="emailconfig-update-form" method="post">
                    {% csrf_token %}

                    <div class="form-group mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control" required id="title" name="title"
                            placeholder="Account Management">
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" required id="email" name="email"
                            placeholder="info@resq247.live">
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Host</label>
                        <input type="text" class="form-control" required id="host" name="host"
                            placeholder="mail.resq247.live">
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Use TLS</label>
                        <div class="d-flex align-items-center gap-3">
                            <input type="checkbox" class="form-check" id="use_tls" required name="use_tls">
                            <label for="use_tls" class="form-label">Use secure connection.</label>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Port</label>
                        <input type="text" class="form-control" required id="port" name="port" placeholder="587">
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <input type="text" class="form-control" required id="password" name="password"
                            placeholder="emailpassword">
                    </div>

                    <div class="row col">
                        <div class="msgSubmit py-2"></div>
                        <div class="msgSubmitErrors py-2"></div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="emailconfig-update-form" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        "use strict";

        // $('#datatable4 tfoot th').each(function () {
        //     var title = $(this).text();
        //     $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
        // });

        // DataTable
        var table = $('#datatable4').DataTable({
            // scrollY: "300px",
            scrollX: true,
            // scrollCollapse: true,
            // paging: true,

            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }
        });

    })

    const emailConfigUpdateModal = document.getElementById('emailconfig-update-modal')
    $('#emailconfig-update-modal').on('show.bs.modal', e => {
        const button = e.relatedTarget
        const data = JSON.parse(button.getAttribute('data-bs-data'))
        emailConfigUpdateModal.querySelector('#title').value = data?.title
        emailConfigUpdateModal.querySelector('#email').value = data?.email
        emailConfigUpdateModal.querySelector('#host').value = data?.host
        emailConfigUpdateModal.querySelector('#use_tls').checked = data?.use_tls
        emailConfigUpdateModal.querySelector('#port').value = data?.port
        emailConfigUpdateModal.querySelector('#password').value = data?.password

        emailConfigUpdateModal.querySelector('#emailconfig-update-form').addEventListener('submit', e => {
            e.preventDefault();
            updateEntry(`api/emailconfigs/${data.id}/`, 'emailconfig-update-form')
        })
    })


</script>
{% endblock %}