{% extends './../components/base.html' %}
{% load static %}

{% block content %}
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<div class="form-head d-flex mb-3 mb-md-4 align-items-start">
			<div class="me-auto d-lg-block">
				<button class="btn btn-primary btn-rounded shadow-none" data-bs-target="#add-doctor-modal"
					data-bs-toggle="modal">+ Add New</button>
			</div>
			<div class="input-group search-area ms-auto d-inline-flex me-2">
				<input type="text" class="form-control" placeholder="Search here">
				<div class="input-group-append">
					<button type="button" class="input-group-text"><i class="flaticon-381-search-2"></i></button>
				</div>
			</div>
			<a href="javascript:void(0);" class="settings-icon"><i class="flaticon-381-settings-2 me-0"></i></a>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="table-responsive">
					<table id="example5" class="table shadow-hover  table-bordered mb-4 dataTablesCard fs-14">
						<thead>
							<tr>
								<th>
									<div class="checkbox align-self-center">
										<div class="form-check custom-checkbox ">
											<input type="checkbox" class="form-check-input" id="checkAll" required="">
											<label class="form-check-label" for="checkAll"></label>
										</div>
									</div>
								</th>
								<th class="c-header">Doctor Name</th>
								<th class="c-header">Date Joined</th>
								<th class="c-header">Specialities</th>
								<th class="c-header">Schedule</th>
								<th class="c-header">Contact</th>
								<th class="c-header">Status</th>
							</tr>
						</thead>
						<tbody>
							{% for doctor in doctors %}
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div class="checkbox text-end align-self-center">
											<div class="form-check custom-checkbox ">
												<input type="checkbox" class="form-check-input" id="customCheckBox2"
													required="">
												<label class="form-check-label" for="customCheckBox2"></label>
											</div>
										</div>
										<img alt=""
											src="{% if doctor.user.profile.profile_photo %}{{doctor.user.profile.profile_photo.url}}{% endif %}"
											height="43" width="43" class="rounded-circle ms-4">
									</div>
								</td>
								<td>{{doctor.user.first_name}} {{doctor.user.last_name}}</td>
								<td>{{doctor.created_on}}</td>
								<td>{{doctor.speciality.name}}
									<!-- <ul class="list-group">
										<li class="list-group-item py-1"></li>
									</ul> -->
									{% for speciality in doctor.specialities.all %}
									{{speciality.name}} |
									{% endfor %}

								</td>
								<td>
									<a href="javascript:void(0);"
										class="btn btn-primary light btn-rounded btn-sm text-nowrap">
										{% with doctor.doctor_appointments.all|length as appointments_count %}
										{{appointments_count}}
										{% if appointments_count == 1 %}
										appointment
										{% else %}
										appointments
										{% endif %}
										{% endwith %}
									</a>
								</td>
								<td>
									<span class="font-w500">
										{{doctor.user.profile.phone_number}}
									</span>
								</td>
								<td>
									<div class="d-flex align-items-center">
										{% if doctor.available %}
										<span class="badge badge-success font-w600">
											Available
										</span>
										{% else %}
										<span class="badge badge-warning font-w600">
											Unavailable
										</span>
										{% endif %}
										<div class="dropdown ms-auto text-end">
											<div class="btn-link" data-bs-toggle="dropdown">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11Z"
														stroke="#3E4954" stroke-width="2" stroke-linecap="round"
														stroke-linejoin="round" />
													<path
														d="M12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18Z"
														stroke="#3E4954" stroke-width="2" stroke-linecap="round"
														stroke-linejoin="round" />
													<path
														d="M12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4Z"
														stroke="#3E4954" stroke-width="2" stroke-linecap="round"
														stroke-linejoin="round" />
												</svg>
											</div>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="javascript:void(0);">View Detail</a>
												<a class="dropdown-item" href="javascript:void(0);">Edit</a>
												<a class="dropdown-item" href="javascript:void(0);">Delete</a>
											</div>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="add-doctor-modal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add doctor</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<form id="doctor-form" action="{% url 'doctors_create' request.facility.id %}" method="post"
					enctype="multipart/form-data">
					{% csrf_token %}
					<input type="text" class="form-control d-none" id="facility_id" value="{{request.facility.id}}"
						placeholder="Facility Id">
					<div class="row">
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">First Name</label>
								<input type="text" class="form-control" id="first_name" placeholder="First Name"
									name="user.first_name">
							</div>
						</div>

						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Last Name</label>
								<input type="text" class="form-control" id="last_name" placeholder="Last Name"
									name="user.last_name">
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Last Name"
									name="user.email">
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Login Username</label>
								<input type="text" class="form-control" id="username" placeholder="Username"
									name="user.username">
							</div>
						</div>

						<div class="col-xl-12">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Address</label>
								<textarea class="form-control" id="address" rows="3"
									name="user.profile.address"></textarea>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Mobile No</label>
								<input type="text" class="form-control" id="phone_number" placeholder="Mobile"
									name="user.profile.phone_number">
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Gender</label>
								<select class="form-control" name="user.profile.gender" id="gender">
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Country</label>
								<input type="text" class="form-control" id="country" placeholder="Country"
									name="user.profile.country">
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">City</label>
								<input type="text" class="form-control" id="city" placeholder="City"
									name="user.profile.city">
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Date of Birth</label>
								<input type="date" class="form-control" id="dob" placeholder="Date of Birth"
									name="user.profile.dob">
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Profile Photo</label>
								<input type="file" accept="image/*" class="form-control" id="profile_photo"
									placeholder="Profile Photo" name="user.profile.profile_photo">
							</div>
						</div>
						<div class="col-xl-12">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Speciality</label>
								<select class="form-control" name="specialities" id="specialities" multiple>
									{% for spec in specialities %}
									<option value="{{spec.id}}">{{spec.name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-xl-12">
							<div class="form-group">
								<label for="message-text" class="col-form-label">About the Doctor</label>
								<textarea class="form-control" id="about" rows="3" name="about"></textarea>
							</div>
						</div>

					</div>
					
					<div class="row col-md-8 offset-md-2 text-center">
						<div id="msgSubmit" class="py-2"></div>
						<div id="msgSubmitErrors" class="py-2"></div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" form="doctor-form">Save</button>
			</div> 
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}

<script>

	const spinner = () => {
		return `
			<div class="d-flex align-items-center justify-content-center flex-column">
				<div class="spinner-border ml-auto mb-2" role="status" aria-hidden="true"></div>
				<strong>Loading...</strong>
			</div>
		`
	}

	$("#doctor-form").on("submit", e => {
		e.preventDefault()
		postDoctor()
	})

	const postDoctor = () => {
		const loc = window.location
		const url = `${loc.protocol}//${loc.host}/api/doctors/`

		const formdata = new FormData(document.getElementById("doctor-form"))
		formdata.append('facilities', [$("#doctor-form #facility_id").val()])

		toastr.options = {
			positionClass: "toast-bottom-center",
			progressBar: true,
			timeOut: 10000
		}
		const headers = {
			'X-CSRFToken': getCookie('csrftoken')
		}

		$("#msgSubmitErrors").html("")
		$("#msgSubmit").html(spinner)
		axios.post(url, formdata, { headers }).then((response) => {
			const data = response.data;
			console.log(data)
			toastr.info('Doctor Created Successfully')
			$("#msgSubmit").html(`<div class="alert alert-success">Doctor Created Successfully. On the next page refresh you can be able to see the newly created doctor.</div>`)
		}).catch((error) => {
			console.log(error.response.data)
			toastr.error(`Error - ${error.message}`)
			$("#msgSubmit").html(`<div class="alert alert-danger">${error.message}</div>`)
			if (typeof error?.response?.data === 'object') {
				$("#msgSubmitErrors").html(`<div class="alert alert-danger">${JSON.stringify(error.response.data, null, 4)}</div>`)
			}
		});
	};

</script>

{% endblock %}