{% extends './../components/base.html' %}
{% load static %}

{% block content %}
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<div class="text-end mb-3">
			<a href="javascript:video" class="btn btn-primary btn-rounded add-staff">+ Add Staff</a>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table id="example5" class="table table-striped patient-list mb-4 dataTablesCard fs-14">
								<thead>
									<tr>
										<th>
											<div class="checkbox text-end align-self-center">
												<div class="form-check custom-checkbox ">
													<input type="checkbox" class="form-check-input" id="checkAll" required="">
													<label class="form-check-label" for="checkAll"></label>
												</div>
											</div>
										</th>
										<th>Name</th>
										<th>Designation</th>
										<th>Email</th>
										<th>Mobile</th>
										<th>Address</th>
										<th>Joining Date</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="checkbox text-end align-self-center">
												<div class="form-check custom-checkbox ">
													<input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
													<label class="form-check-label" for="customCheckBox2"></label>
												</div>
											</div>
										</td>
										<td class="patient-info ps-0">
											<span>
												<img src="images/avatar/2.jpg" alt="">
											</span>
											<span class="text-nowrap ms-2">Matthew</span>
										</td>
										<td>
											<span>Nurse</span>
										</td>
										
										<td class="text-primary">9876512345</td>
										<td class="text-primary">gabriel@gmail.com</td>
										<td>1310 Glenwood Avenue</td>
										
										<td>22 Mar 2021</td>
										<td>
											<span class="me-3">
												<a href="staff-profile.html"><i class="fa fa-eye fs-18"></i></a>
											</span>	
											<span class="me-3">
												<a href="javascript:void(0);" class="edit-staff"><i class="fa fa-pencil fs-18 text-success"></i></a>
											</span>	
											<span>
												<i class="fa fa-trash-o fs-18 text-danger"></i>
											</span>
										</td>
									</tr>
									<tr>
										<td>
											<div class="checkbox text-end align-self-center">
												<div class="form-check custom-checkbox ">
													<input type="checkbox" class="form-check-input" id="customCheckBox3" required="">
													<label class="form-check-label" for="customCheckBox3"></label>
												</div>
											</div>
										</td>
										<td class="patient-info ps-0">
											<span>
												<img src="images/avatar/3.jpg" alt="">
											</span>
											<span class="text-nowrap ms-2">Matthew</span>
										</td>
										<td>
											<span>Compounder</span>
										</td>
										
										<td class="text-primary">9876512345</td>
										<td class="text-primary">gabriel@gmail.com</td>
										<td>1310 Glenwood Avenue</td>
										
										<td>22 Mar 2021</td>
										<td>
											<span class="me-3">
												<a href="staff-profile.html"><i class="fa fa-eye fs-18"></i></a>
											</span>
											<span class="me-3">
											<a href="javascript:void(0);" class="edit-staff"><i class="fa fa-pencil fs-18 text-success"></i></a>
											</span>	
											<span>
												<i class="fa fa-trash-o fs-18 text-danger"></i>
											</span>
										</td>
									</tr>
									<tr>
										<td>
											<div class="checkbox text-end align-self-center">
												<div class="form-check custom-checkbox ">
													<input type="checkbox" class="form-check-input" id="customCheckBox1" required="">
													<label class="form-check-label" for="customCheckBox1"></label>
												</div>
											</div>
										</td>
										<td class="patient-info ps-0">
											<span>
												<img src="images/avatar/1.jpg" alt="">
											</span>
											<span class="text-nowrap ms-2">Matthew</span>
										</td>
										<td>
											<span>Compounder</span>
										</td>
										
										<td class="text-primary">9876512345</td>
										<td class="text-primary">gabriel@gmail.com</td>
										<td>1310 Glenwood Avenue</td>
										
										<td>22 Mar 2021</td>
										<td>
											<span class="me-3">
												<a href="staff-profile.html"><i class="fa fa-eye fs-18"></i></a>
											</span>
											<span class="me-3">
												<a href="javascript:void(0);" class="edit-staff"><i class="fa fa-pencil fs-18 text-success"></i></a>
											</span>	
											<span>
												<i class="fa fa-trash-o fs-18 text-danger"></i>
											</span>
										</td>
									</tr>
									<tr>
										<td>
											<div class="checkbox text-end align-self-center">
												<div class="form-check custom-checkbox ">
													<input type="checkbox" class="form-check-input" id="customCheckBox4" required="">
													<label class="form-check-label" for="customCheckBox4"></label>
												</div>
											</div>
										</td>
										<td class="patient-info ps-0">
											<span>
												<img src="images/avatar/4.jpg" alt="">
											</span>
											<span class="text-nowrap ms-2">Matthew</span>
										</td>
										<td>
											<span>Compounder</span>
										</td>
										
										<td class="text-primary">9876512345</td>
										<td class="text-primary">gabriel@gmail.com</td>
										<td>1310 Glenwood Avenue</td>
										
										<td>22 Mar 2021</td>
										<td>
											<span class="me-3">
												<a href="staff-profile.html"><i class="fa fa-eye fs-18"></i></a>
											</span>
											<span class="me-3">
											<a href="javascript:void(0);" class="edit-staff"><i class="fa fa-pencil fs-18 text-success"></i></a>
											</span>	
											<span>
												<i class="fa fa-trash-o fs-18 text-danger"></i>
											</span>
										</td>
									</tr>
									<tr>
										<td>
											<div class="checkbox text-end align-self-center">
												<div class="form-check custom-checkbox ">
													<input type="checkbox" class="form-check-input" id="customCheckBox5" required="">
													<label class="form-check-label" for="customCheckBox5"></label>
												</div>
											</div>
										</td>
										<td class="patient-info ps-0">
											<span>
												<img src="images/avatar/5.jpg" alt="">
											</span>
											<span class="text-nowrap ms-2">Matthew</span>
										</td>
										<td>
											<span>Compounder</span>
										</td>
										
										<td class="text-primary">9876512345</td>
										<td class="text-primary">gabriel@gmail.com</td>
										<td>1310 Glenwood Avenue</td>
										
										<td>22 Mar 2021</td>
										<td>
											<span class="me-3">
												<a href="staff-profile.html"><i class="fa fa-eye fs-18"></i></a>
											</span>
											<span class="me-3">
											<a href="javascript:void(0);" class="edit-staff"><i class="fa fa-pencil fs-18 text-success"></i></a>
											</span>	
											<span>
												<i class="fa fa-trash-o fs-18 text-danger"></i>
											</span>
										</td>
									</tr>
									<tr>
										<td>
											<div class="checkbox text-end align-self-center">
												<div class="form-check custom-checkbox ">
													<input type="checkbox" class="form-check-input" id="customCheckBox6" required="">
													<label class="form-check-label" for="customCheckBox6"></label>
												</div>
											</div>
										</td>
										<td class="patient-info ps-0">
											<span>
												<img src="images/avatar/6.jpg" alt="">
											</span>
											<span class="text-nowrap ms-2">Matthew</span>
										</td>
										<td>
											<span>Compounder</span>
										</td>
										
										<td class="text-primary">9876512345</td>
										<td class="text-primary">gabriel@gmail.com</td>
										<td>1310 Glenwood Avenue</td>
										
										<td>22 Mar 2021</td>
										<td>
											<span class="me-3">
												<a href="staff-profile.html"><i class="fa fa-eye fs-18"></i></a>
											</span>
											<span class="me-3">
											<a href="javascript:void(0);" class="edit-staff"><i class="fa fa-pencil fs-18 text-success"></i></a>
											</span>	
											<span>
												<i class="fa fa-trash-o fs-18 text-danger"></i>
											</span>
										</td>
									</tr>
									<tr>
										<td>
											<div class="checkbox text-end align-self-center">
												<div class="form-check custom-checkbox ">
													<input type="checkbox" class="form-check-input" id="customCheckBox7" required="">
													<label class="form-check-label" for="customCheckBox7"></label>
												</div>
											</div>
										</td>
										<td class="patient-info ps-0">
											<span>
												<img src="images/avatar/7.jpg" alt="">
											</span>
											<span class="text-nowrap ms-2">Matthew</span>
										</td>
										<td>
											<span>Compounder</span>
										</td>
										
										<td class="text-primary">9876512345</td>
										<td class="text-primary">gabriel@gmail.com</td>
										<td>1310 Glenwood Avenue</td>
										
										<td>22 Mar 2021</td>
										<td>
											<span class="me-3">
												<a href="staff-profile.html"><i class="fa fa-eye fs-18"></i></a>
											</span>
											<span class="me-3">
											<a href="javascript:void(0);" class="edit-staff"><i class="fa fa-pencil fs-18 text-success"></i></a>
											</span>	
											<span>
												<i class="fa fa-trash-o fs-18 text-danger"></i>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<div class="modal fade" id="staff-edit-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Edit Staff</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
			</button>
		  </div>
		  <div class="modal-body">
			<form>
			<div class="row">
				
				<div class="col-xl-6">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Name:</label>
						 <input type="text" class="form-control" id="" placeholder="Name">
					</div>
				</div>
				<div class="col-xl-6">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Last Name:</label>
						 <input type="text" class="form-control" id="" placeholder="Last Name">
					</div>
				</div>
				<div class="col-xl-12">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Date Of Birth:</label>
						<input size="16" type="date" value="13-9-2021" class="form-control">
					</div>
				</div>
				<div class="col-xl-6">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Gender:</label>
						<select class="form-control">
						  <option>Male</option>
						   <option>Female</option>
						</select>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Designation:</label>
						 <input type="text" class="form-control" id="" placeholder="Nurse">
					</div>
				</div>
				
				<div class="col-xl-6">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Mobile No:</label>
						 <input type="number" class="form-control" id="" placeholder="Mobile">
					</div>
				</div>
				
				<div class="col-xl-6">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Email Id:</label>
						 <input type="email" class="form-control" id="" placeholder="Email">
					</div>
				</div>
				<div class="col-xl-12">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Address :</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="form-group">
						<label for="exampleFormControlFile1">Profile Picture:</label>
						<input type="file" class="form-control-file" id="exampleFormControlFile1">
					</div>
				</div>
				<div class="col-xl-12">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Education :</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
				</div>
				
			</div>
			 
			
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save</button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="staff-add-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Add Staff</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
			</button>
		  </div>
		  <div class="modal-body">
			<form>
			<div class="row">
				
				<div class="col-xl-6">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Name:</label>
						 <input type="text" class="form-control" id="" placeholder="Name">
					</div>
				</div>
				<div class="col-xl-6">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Last Name:</label>
						 <input type="text" class="form-control" id="" placeholder="Last Name">
					</div>
				</div>
				<div class="col-xl-12">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Date Of Birth:</label>
						<input size="16" type="date" value="13-9-2021" class="form-control">
					</div>
				</div>
				<div class="col-xl-6">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Gender:</label>
						<select class="form-control">
						  <option>Male</option>
						   <option>Female</option>
						</select>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Designation:</label>
						 <input type="text" class="form-control" id="" placeholder="Nurse">
					</div>
				</div>
				
				<div class="col-xl-6">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Mobile No:</label>
						 <input type="number" class="form-control" id="" placeholder="Mobile">
					</div>
				</div>
				
				<div class="col-xl-6">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Email Id:</label>
						 <input type="email" class="form-control" id="" placeholder="Email">
					</div>
				</div>
				<div class="col-xl-12">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Address :</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="form-group">
						<label for="exampleFormControlFile1">Profile Picture:</label>
						<input type="file" class="form-control-file" id="exampleFormControlFile1">
					</div>
				</div>
				<div class="col-xl-12">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Education :</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
				</div>
				
			</div>
			 
			
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save</button>
		  </div>
		</div>
	  </div>
	</div>
</div>
{% endblock %}