{% extends './../components/base.html' %}
{% load static %}
{% load customtags %}
{% block title %} Appointment with Dr {{appointment.doctor.user.get_full_name}} {% endblock %}

{% load humanize %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <h3 class="text-black font-w600 text-capitalize mb-3"></h3>
        <div class="card">
            <div class="card-header">
                <h3>Appointment with {{appointment.doctor.user.profile.salutation.title}}
                    {{appointment.doctor.user.get_full_name}}</h3>
            </div>
            <div class="card-body">
                {% include './../components/appointment-info-for-patient.html' with include_chat=True %}
                <div class="d-flex mt-3">
                    <a href="{% url 'patient:appointment-mental-form' appointment.id %}" class="btn btn-primary">
                        Mental Health Form
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}