<div class="d-flex flex-row justify-content-start">
    <div class="my-avatar" style="--size: 50px">
        {% if message.sender.profile.profile_photo %}
        <img src="{{message.sender.profile.profile_photo.url}}" alt="{{message.sender.get_full_name}}" />
        {% else %}
        {{message.sender.username|make_list|first}}
        {% endif %}
    </div>
    <div style="width: 70%">
        <div class="d-flex w-100 flex-wrap gap-2 align-items-center justify-content-start mb-1 position-relative ps-4">
            {{images}}
        </div>
        <p class="small p-2 ms-3 mb-1 rounded-3 other">
            {{message.text}}
        </p>
        <div class="d-flex justify-content-between me-3 mb-2">
            <p class="small rounded-3 text-muted p-0 m-0">{{message.created_on}}</p>
        </div>
    </div>
</div>