{% extends './../base.html' %}
{% load static %}

{% block title %}{{request.facility.name}} - Services & Treatments{% endblock title %}

{% block meta %}
<meta name="description" content="{{request.facility.description}}">
{% endblock %}

{% block content %}

{% include './components/header.html' %}
{% include './components/innernav.html' %}

<div class="ptb-50">
    <div class="services-area" style="padding: 10px;">
        <div class="container my-5">
            <h2 class="py-3 text-white">Our Services</h2>
            <div class="row">
                {% for service in request.facility_services %}
                <div class="col-lg-4 col-md-6">
                    <div class="services-item bg-5">
                        <div class="icon">
                            <i class="flaticon-crutches"></i>
                        </div>
                        <a href="javascript:void(0)">
                            <h3>{{service.name}}</h3>
                        </a>
                        <p>{{service.description}}</p>
                        {% comment %} <a href="#" class="read-btn">Read More +</a> {% endcomment %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}