<form id="{{form_id}}" action="{% url 'request_form' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label for="f_name">First Name</label>
                <input required type="text" id="f_name" name="f_name" placeholder="Enter your first name"
                    class="form-control shadow-none py-2">
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label for="l_name">Last Name</label>
                <input required type="text" id="l_name" name="l_name" placeholder="Enter your last name"
                    class="form-control shadow-none py-2">
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label for="email">Email address</label>
                <input required type="email" id="email" name="email" placeholder="Enter your email"
                    class="form-control shadow-none py-2">
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input required type="tel" id="phone" name="phone" placeholder="Enter your phone number"
                    class="form-control shadow-none py-2">
            </div>
        </div>
    </div>
    <div class="form-group mb-3">
        <label for="facility">Facility</label>
        <input required type="text" id="facility" name="facility" placeholder="Enter your facility"
            class="form-control shadow-none py-2">
    </div>
    <div class="form-group mb-3">
        <label for="location">Location</label>
        <input required type="text" id="location" name="location" placeholder="Enter your location"
            class="form-control shadow-none py-2">
    </div>
    <div class="form-grou mb-3">
        <label for="requesting_as d-block w-100">Request Demo as</label>
        <div class="w-100">
            <select required type="text" id="requesting_as" name="requesting_as"
                class="w-100 d-none">
                <option>Select</option>
                <option value="Service Provider">Service Provider</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label for="date_hosi">Date</label>
                <input required type="date" id="date_hosi" name="date_hosi" class="form-control shadow-none py-2">
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label for="time">Date</label>
                <input required type="time" id="time" name="time" class="form-control shadow-none py-2">
            </div>
        </div>
    </div>
</form>