{% extends './../../../base.html' %}
{% load customtags %}

{% block title %} Patients {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-description">
                <h1>All Patients</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-primary">
                            <i class="material-icons">personal_injury</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Total Patients</span>
                            <span class="widget-stats-amount">{{total_patients}}</span>
                            <!-- <span class="widget-stats-info">471 Orders Total</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-negative align-self-start">
                            <i class="material-icons">keyboard_arrow_down</i> 4%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col">
        <div class="card">
            <div class="card-body">

                <div>
                    <form id="filter-form">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Filter</h5>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label for="" class="form-label">Gender</label>
                                    <select name="gender" id="" class="form-select w-100">
                                        <option value="">Select</option>
                                        <option value="male" {% if request.GET.gender == 'male' %} selected {% endif %} >Male</option>
                                        <option value="female" {% if request.GET.gender == 'female' %} selected {% endif %}>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label for="" class="form-label">Blood Group</label>
                                    <input name="blood_group" type="search" value="{{request.GET.blood_group}}" placeholder="Enter Blood Group" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label for="" class="form-label">Ordering</label>
                                    <select name="ordering" id="" class="form-select w-100">
                                        <option value="">Select</option>
                                        <optgroup label="Ascending">
                                            <option value="id" {% if request.GET.ordering == 'id' %} selected {% endif %} >ID</option>
                                            <option value="name" {% if request.GET.ordering == 'name' %} selected {% endif %}>Name</option>
                                        </optgroup>
                                        <optgroup label="Descending">
                                            <option value="-id" {% if request.GET.ordering == '-id' %} selected {% endif %} >ID</option>
                                            <option value="-name" {% if request.GET.ordering == '-name' %} selected {% endif %}>Name</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label for="" class="form-label">Search</label>
                                    <input name="search" type="search" value="{{request.GET.search}}" placeholder="Enter Search Text" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label for="" class="form-label"> Limit</label>
                                    <select name="limit" id="" class="form-select w-100">
                                        <option value="">Select Limit</option>
                                        <option value="10" {% if request.GET.limit == '10' %} selected {% endif %} >10</option>
                                        <option value="25" {% if request.GET.limit == '25' %} selected {% endif %} >25</option>
                                        <option value="50" {% if request.GET.limit == '50' %} selected {% endif %} >50</option>
                                        <option value="75" {% if request.GET.limit == '75' %} selected {% endif %} >75</option>
                                        <option value="100" {% if request.GET.limit == '100' %} selected {% endif %} >100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="h-100 d-flex gap-3 align-items-end">
                                    <button type="submit" class="btn btn-primary py-2 px-4">
                                        Filter/Search
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <div class="h-100 d-flex align-items-end">
                                <p>Showing {{page_obj|length}} results of {{paginator_count}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <table id="datatable4" class="display nowrap custom-table" style="width:auto">
                    <thead>
                        <tr>
                            <th class="w-custom">User</th>
                            <th>Blood Group</th>
                            <th>Account Sharable</th>
                            <th>Date of Birth</th>
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in page_obj %}
                        <tr>
                            <td class="w-custom">
                                <a href="{% url 'super-admin-patients-single' obj.id %}" class="custom-name-holder">
                                    <div
                                        class="avatar rounded-circle avatar-sm me-2 d-flex align-items-center justify-content-center bg-light text-capitalize p-1">
                                        {% if obj.user.profile.profile_photo %}
                                        <img src="{{obj.user.profile.profile_photo.url}}" alt="">
                                        {% else %}
                                        {{obj.user.username|get_first_letter}}
                                        {% endif %}
                                    </div>
                                    <div class="vstack gap-0">
                                        <p class="m-0 p-0">{{obj.user.first_name}} {{obj.user.last_name}}</p>
                                        <p class="m-0 p-0">
                                            <small>{{obj.user.email}}</small>
                                        </p>
                                    </div>
                                </a>
                            </td>
                            <td class="text-uppercase">
                                {{obj.blood_group}}
                            </td>
                            <td>
                                {% if obj.make_account_sharable %}
                                <div class="badge badge-success">
                                    Sharable
                                </div>
                                {% else %}
                                <div class="badge badge-danger">
                                    Not Sharable
                                </div>
                                {% endif %}
                            </td>
                            <td class="text-capitalize">{{obj.user.profile.dob}}</td>
                            <td>{{obj.created_on}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="w-custom">User</th>
                            <th>Blood Group</th>
                            <th>Account Sharable</th>
                            <th>Date of Birth</th>
                            <th>Created On</th>
                        </tr>
                    </tfoot>
                </table>

                <div class="pagination-section">
                    <div>
                        {% if request.GET.page %}
                        <p>Showing page {{request.GET.page}} of {{page_count}}</p>
                        {% else %}
                        <p>Showing page 1 of {{page_count}}</p>
                        {% endif %}
                    </div>
                    
                    <div class="border-0">
                        <nav aria-label="Page navigation example py-2">
                            <ul class="pagination flex-wrap">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="{{ request.build_absolute_uri|update_page_param:page_obj.previous_page_number }}">
                                        Previous
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-disabled="true">
                                        Previous
                                    </a>
                                </li>
                                {% endif %}
    
                                {% for page in pages %}
                                {% if request.GET.page == page|stringformat:'i' %}
                                <li class="page-item active">
                                    <a class="page-link" aria-current="page" href="javascript:void(0)">
                                        {{page}}
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ request.build_absolute_uri|update_page_param:page }}">
                                        {{page}}
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
    
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="{{ request.build_absolute_uri|update_page_param:page_obj.next_page_number }}">
                                        Next
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" href="javascript:void(0)" aria-disabled="true">
                                        Next
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        "use strict";
        $('select').select2()

        // DataTable
        var table = $('#datatable4').DataTable({
            scrollY: false,
            scrollX: true,
            pageLength: 50,

            paging: false,
            info: false,
            searching: false,
        });

    })
</script>
{% endblock %}