{% extends './../../../base.html' %}
{% load customtags %}

{% block title %} Patients - {{patient.user.first_name}} {{patient.user.last_name}} {% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <div class="page-description">
                <h1>{{patient.user.first_name}} {{patient.user.last_name}}</h1>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <form method="post" id="patient-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 mb-3">
                        <h4>Basic Information</h4>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">First Name</label>
                            <input required type="text" class="form-control" placeholder="First Name"
                                name="user.first_name" value="{{patient.user.first_name}}">
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Last Name</label>
                            <input required type="text" class="form-control" placeholder="Last Name"
                                name="user.last_name" value="{{patient.user.last_name}}">
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Username</label>
                            <input required type="text" class="form-control" placeholder="Username" name="user.username"
                                value="{{patient.user.username}}">
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Email</label>
                            <input required type="email" id="patient.user-email" class="form-control"
                                placeholder="Email" name="user.email" value="{{patient.user.email}}">
                        </div>
                    </div>

                    <!-- <div class="col-lg-12 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Password  <small>(8 characters long, include symbols, numbers & alphabets)</small> </label>
                            <input required type="password" maxlength="8" minlength="8" class="form-control pass1" placeholder="Password" name="patient.user.password">
                        </div>
                    </div>
        
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="" class="form-label">Confirm Password <small>(8 characters long, include symbols, numbers & alphabets)</small></label>
                            <input required type="password" minlength="8" maxlength="8" class="form-control pass2" placeholder="Confirm Password"
                                name="patient.user.password1">
                        </div>
                    </div> -->

                    <div class="col-12 mb-3">
                        <h4>Profile Information</h4>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Phone Number</label>
                            <div class="input-group">
                                <span class="input-group-text">+254</span>
                                <input required type="number" class="form-control phone" placeholder="700000000"
                                    name="user.profile.phone_number" value="{{patient.user.profile.phone_number}}"
                                    minlength="9" maxlength="9">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="form-group overflow-hidden">
                            <label for="" class="form-label">Gender</label>
                            <input required type="text" class="form-control" placeholder="male/female"
                                value="{{patient.user.profile.gender}}" name="user.profile.gender">
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">
                                Profile Photo
                                <small>Current:
                                    {% if patient.user.profile.profile_photo %}
                                    <a href="{{patient.user.profile.profile_photo.url}}" target="_blank"
                                        referrerpolicy="noreferrer">Preview on new tab</a>
                                    {% else %}
                                    Not set
                                    {% endif %}
                                </small>
                            </label>
                            <div class="input-group">
                                <input required type="file" accept="image/png, image/jpg, image/jpeg"
                                    class="form-control" name="user.profile.profile_photo" maxlength="9">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Town/City</label>
                            <input required type="text" value="{{patient.user.profile.city}}" class="form-control"
                                placeholder="Town/City" name="user.profile.city">
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Address</label>
                            <div class="input-group">
                                <textarea required class="form-control" name="user.profile.address"
                                    placeholder="P.0 BOX 1212-00100 Nairobi">{{patient.user.profile.address}}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <h4>More information</h4>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Facility</label>
                            <input required type="text" value="{{patient.facility.name}}" class="form-control"
                                placeholder="Facility">
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">
                                Blood Group
                                <small>Current: {{patient.blood_group}}</small>
                            </label>
                            <div class="input-group">
                                <input type="text" required class="form-control" value="{{patient.blood_group}}"
                                    name="blood_group">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">
                                Date of Birth
                                <small>Current: {{patient.dob}}</small>
                            </label>
                            <div class="input-group">
                                <input type="date" required class="form-control" value="{{patient.dob}}" name="dob">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Reason For Sign Up</label>
                            <textarea required type="text" name="reason_for_signup" class="form-control"
                                placeholder="Reason for Sign Up">{{patient.reason_for_signup}}</textarea>
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <h4 class="mb-2">Facilities</h4>
                        <ul class="list-group">
                            {% if patient.facility %}
                            <a href="{% url 'super-admin-facilities-single' patient.facility.id %}" target="_blank" referrerpolicy="noreferrer"
                                class="list-group-item list-group-item-action">{{patient.facility.name}}</a>
                            {% endif %}
                            {% for facility in patient.facilities.all %}
                            <a href="{% url 'super-admin-facilities-single' facility.id %}" target="_blank" referrerpolicy="noreferrer" 
                                class="list-group-item list-group-item-action">{{facility.name}}</a>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-12">
                        <div class="">
                            <div id="msgSubmit"></div>
                            <div id="msgSubmitErrors"></div>
                        </div>
                    </div>

                    <!-- <div class="col-lg-12">
                        <div class="send-btn">
                            <button class="default-btn">Sign Up Now</button>
                        </div>
                    </div> -->
                </div>
            </form>

        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
    $('#patient-form').on('submit', e => {
        e.preventDefault()
    })
</script>
{% endblock %}