{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-5">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Cancer Care</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Cancer Care</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
                <div class="service-details-image">
                    <img src="assets/img/single-service.jpg" alt="image">
                </div>

                <div class="service-details-content">
                    <p>
                        Cancer care refers to the diagnosis, treatment, and management of cancer, including surgery, chemotherapy, radiation therapy, and other medical procedures. The goal of cancer care is to cure or control the disease, relieve symptoms, and improve quality of life for patients. Cancer care is provided by a team of healthcare professionals including oncologists, surgeons, radiologists, and nurses.
                    </p>
                    <h3>TYPES OF CANCER</h3>
        
                    <p>There are many different types of cancer, which can be classified based on the type of cell and the part of the body affected. Some common types of cancer include:</p>
                    <p><b>Carcinoma:</b> cancer that starts in the skin or tissues that line the body's internal organs.
                        Sarcoma: cancer that starts in bone, cartilage, fat, muscle, or other connective or supportive tissue.
                    </p>
                    <p><b>Leukemia:</b> cancer that starts in blood-forming tissue, such as bone marrow.
                    </p>
                    <p>
                        <b>Lymphoma:</b> cancer that starts in cells of the immune system.
                    </p>
                    <p></p>
                  
                    <div class="service-details-info">
                        <div class="single-info-box">
                            <h4>Client</h4>
                            <span>James Anderson</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Category</h4>
                            <span>Fever, Allergies, Morbidity</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Date</h4>
                            <span>February 28, 2022</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Share</h4>
                            <ul class="social">
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-info-box">
                            <a class="default-btn" href="#">
                                Live Preview
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service details -->

        {% endblock %}