{% extends 'base.html' %}
{% load static %}

{% block title %} Concierge Services {% endblock title %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area" style="background-image: url(/static/new/cs/cs-1.avif);">
    <div class="d-table" style="background: rgba(0, 0, 0, 0.7);">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Concierge Services</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Concierge Services</li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</div>
<!-- End Page Title Area -->

<!-- Service details -->
<div class="service-details ptb-100">
    <div class="container">
        <div class="row">
            <div class="service-details-image col-lg-6">
                <img src="{% static 'new/cs/cs.avif'%}" class="rounded" alt="Concierge Services">
            </div>
            <div class="col-lg-6">

                <ol class="bullet-list">
                    <li class="mb-3">
                        Dedicated healthcare coordinator assigned to each patient, serving as a single point of
                        contact for all medical needs.
                    </li>
                    <li class="mb-3">
                        Assistance with scheduling appointments, coordinating specialist referrals, and managing
                        medical records. our passionate dedication to patient care extends beyond the treatment
                        room.
                    </li>
                    <li class="mb-3">
                        Expedited access to healthcare services, reducing wait times for appointments, tests, and
                        procedures.
                    </li>
                    <li class="mb-3">
                        Personalized support in navigating insurance processes, including claims assistance and pre-
                        authorization coordination.
                    </li>
                    <li class="mb-3">
                        Access to exclusive amenities, such as private waiting areas, comfortable accommodations,
                        and personalized care packages.
                    </li>
                    <li class="mb-3">
                        Availability of additional services, such as medical concierge transportation, wellness
                        programs, and nutritional counselling.
                    </li>
                </ol>

            </div>
        </div>
        <div class="d-flex justify-content-center py-5 d-none">
            <img src="{% static 'new/cs/cs-1.avif'%}" class="rounded" alt="Concierge Services">
        </div>
        <div class="service-details-content">



            <div class="service-details-info">
                <div class="row w-100">
                    <div class="col-md-8">
                        <div class="single-info-ox">
                            <h4 class="text-center">Sign up today and experience a whole new difference.</h4>
                            <div class="d-flex justify-content-center">
                                <span>ResQ247, Your best virtual care platform</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 py-3">
                        <div class="single-info-bx d-flex justify-content-center">
                            <a class="default-btn-two" href="{% url 'register-as' %}">
                                Click Here
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- End Service details -->

{% endblock %}