{% extends 'base.html' %}
{% load static %}

{% block title %} Emergencies {% endblock title %}

{% block content %}
<style>
    .modals {
        display: none;
        position: fixed;
        z-index: 1020;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        z-index: 3;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<!-- Start Page Title Area -->
<div class="page-title-area" style="background-image: url(/static/assets/img/page-title/bg.webp);">
    <div class="d-table" style="background: rgba(0, 0, 0, 0.7);">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Emergencies</h2>
                    <button class="btn btn-primary text-white align-self-center" id="myButton123">
                        <a href="tel:0738247247" class="text-white">
                            In an emergency. Call now.
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Service details -->
<div class="service-details ptb-100">
    <div class="container">

        <div class="service-details-content">

            <div class="pb-20">
                <h3>The real deal </h3>

                <p>
                    Telehealth and telemedicine is a vital tool in emergency healthcare services. you can access
                    remotely critical services such as virtual consultations with healthcare professionals, online
                    triage tools, and telehealth hotlines. We also organize for emergency rescues using highly equipped
                    ambulances in major cities across the republic of Kenya.
                </p>
                <p>Access to virtual emergency services</p>
                <p>Call 0738 247 247 or 999 or local emergency services number in serious emergencies.
                    If it is a non-emergency medical issue, book an appointment with any of our doctors 24/7 for virtual
                    care. Download our free telehealth app log in, Select the option for a virtual visit or emergency
                    consultation, Provide your symptoms and medical history to the virtual provider.
                    Follow the instructions given by the provider, such as completing a video call or answering
                    questions. If necessary, the virtual provider may direct you to seek in-person medical attention.
                    Note: It is important to know the limitations of telehealth services in emergency situations and to
                    seek in-person medical attention when appropriate.
                </p>
                <br>
            </div>

            <div class="pt-20">
                <h4>Who is eligible for telehealth emergency services</h4>
                <p>
                    Eligibility for telehealth emergency services may vary based on factors such as:</p>

                <div class="about-content">
                    <ul class="about-features two" style="list-style: none;">
                        <li>
                            <span id="span1" class="clickable-span">
                                <i class='flaticon-doctor'></i>
                                Insurance coverage

                            </span>
                        </li>
                        <div id="modal1" class="modals">

                            <div class="modal-content">
                                <div class="d-flex justify-content-between">
                                    <h2 class=""> Insurance coverage </h2>
                                    <span class="close float-end">&times;</span>

                                </div>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    we work with major insurance service providers in Kenya , but it's best to check
                                    with your insurance provider to confirm.</p>
                                </p>

                            </div>
                        </div>


                        <li>
                            <span id="span2" class="clickable-span">
                                <i class='flaticon-worm'></i>
                                Location
                            </span>
                        </li>

                        <div id="modal2" class="modals">

                            <div class="modal-content">
                                <div class="d-flex justify-content-between">
                                    <h2 class="">Location </h2>
                                    <span class="close float-end">&times;</span>

                                </div>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    Availability of telehealth emergency services may depend on the location of the
                                    patient and the laws and regulations in that state.
                                </p>

                            </div>
                        </div>

                        <li>
                            <span id="span3" class="clickable-span">
                                <i class='flaticon-cough'></i>
                                Age
                            </span>
                        </li>

                        <div id="modal3" class="modals">

                            <div class="modal-content">
                                <div class="d-flex justify-content-between">
                                    <h2 class="">Age</h2>
                                    <span class="close float-end">&times;</span>

                                </div>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    Some telehealth services may have age restrictions, with different services being
                                    available to children, adults, and senior citizens.</p>

                            </div>
                        </div>

                        <li>
                            <span id="span4" class="clickable-span">
                                <i class='flaticon-blood-test'></i>
                                Health condition
                            </span>
                        </li>

                        <div id="modal4" class="modals">

                            <div class="modal-content">
                                <div class="d-flex justify-content-between">
                                    <h2 class="">Health condition </h2>
                                    <span class="close float-end">&times;</span>

                                </div>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    Patients with certain health conditions may not be eligible for virtual emergency
                                    services, and may need to seek in-person medical attention.
                                </p>

                            </div>
                        </div>


                        <li>
                            <span id="span5" class="clickable-span">
                                <i class='flaticon-family'></i>
                                Type of emergency
                            </span>
                        </li>

                        <div id="modal5" class="modals">

                            <div class="modal-content">
                                <div class="d-flex justify-content-between">
                                    <h2 class="">Type of emergency </h2>
                                    <span class="close float-end">&times;</span>

                                </div>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    Virtual emergency services may be limited to specific types of emergencies, such as
                                    non-life-threatening conditions.
                                </p>
                            </div>

                        </div>



                        <li>
                            <span id="span6" class="clickable-span">
                                <i class='flaticon-insurance'></i>
                                Virtual care
                            </span>
                        </li>

                        <div id="modal6" class="modals">

                            <div class="modal-content">
                                <div class="d-flex justify-content-between">
                                    <h2 class="">Virtual care </h2>
                                    <span class="close float-end">&times;</span>

                                </div>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    it's a lifeline that connects patients with their healthcare providers when they
                                    need it the most. For many patients, telemedicine has been a source of comfort and
                                    reassurance, allowing them to receive the care they need while staying safe and
                                    comfortable in their own homes.
                                </p>


                            </div>
                        </div>


                    </ul>
                </div>
                <br>

                <p>It is best to check verify your eligibility for telehealth emergency services with your insurance
                </p> <br>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <img src="{% static 'assets/img/emergencies.png' %}" alt="image">

                </div>
                <div class="col-lg-6">
                    <h4>What to do in a medical emergency</h4>
                    <p> In a medical emergency, it is important to follow these steps:</p>
                    <p>Call 0738 247 247 or your local emergency services number immediately.</p>
                    <p>Provide your location, phone number, and details about the emergency to the operator.</p>
                    <p>Follow the operator's instructions, such as performing CPR or providing first aid.</p>
                    <p>If possible, stay calm and keep the person safe until emergency services arrive.</p>
                    <p>If the emergency is not life-threatening, consider using telehealth services to speak with a
                        doctor or nurse for advice on how to proceed.</p>
                    <p>If directed to do so by emergency services, go to the nearest hospital or emergency room for
                        in-person medical attention.

                    </p>

                    <p>
                        <b> Note:</b><i> In a serious medical emergency, it is always best to call or seek in-person
                            medical attention. Telehealth services should not be relied upon as a substitute for
                            emergency services in life-threatening situation
                        </i>
                    </p>
                </div>

            </div>

            <br>

            <div class="container-fluid pt-50">
                <div class="row">
                    <h4>When to seek in-person emergency care</h4>
                    <p>It is important to seek in-person emergency care in the following situations:</p>
                    <div class="col-lg-4 col-md-6">
                        <div class="top-services-content two h-100">
                            <div class="icon">
                                <i class="flaticon-relationship"></i>
                            </div>
                            <h4>Life-threatening emergencies</h4>
                            <p>
                                Examples include chest pain, difficulty breathing, severe bleeding, sudden loss of
                                consciousness, and suspected strokes or heart attacks</p>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="top-services-content h-100">
                            <div class="icon">
                                <i class="flaticon-insurance"></i>
                            </div>
                            <h4>Suspected poisonings or overdoses</h4>
                            <p> Symptoms may include severe abdominal pain, confusion, seizures, or unconsciousness.</p>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="top-services-content h-100">
                            <div class="icon">
                                <i class="flaticon-clinic"></i>
                            </div>
                            <h4>Injuries that require immediate medical attention</h4>
                            <p>Examples include broken bones, severe cuts, and head injuries.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 pt-100 col-md-6">
                        <div class="top-services-content h-100">
                            <div class="icon">
                                <i class="flaticon-clinic"></i>
                            </div>
                            <h4>Mental health emergencies:</h4>
                            <p>
                                Examples include thoughts of suicide, severe anxiety or panic attacks, and severe
                                depression.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4  pt-100 col-md-6">
                        <div class="top-services-content h-100">
                            <div class="icon">
                                <i class="flaticon-clinic"></i>
                            </div>
                            <h4>Symptoms that persist or worsen</h4>
                            <p>
                                If symptoms do not improve or get worse after consulting with a virtual provider, it is
                                best to seek in-person medical attention.</p>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4  pt-100 col-md-6">
                        <div class="top-services-content h-100">
                            <div class="icon">
                                <i class="flaticon-clinic"></i>
                            </div>
                            <h4>Emergency situations where telehealth is not available or appropriate</h4>
                            <p>
                                Examples include emergencies that occur outside of telehealth hours or in areas without
                                reliable internet connectivity.</p>

                        </div>
                    </div>
                    <br>
                    <p><i>In general, it is best to seek in-person medical attention in any situation where you believe
                            the person's health is at risk. The safety and well-being of the patient should always be
                            the top priority.</i></p>

                </div>
            </div>

            <h4>Privacy and security of patient information</h4>
            <p>
                The privacy and security of patient information is a critical concern in for our services. The following
                are steps we may take to protect patient information:
            </p>
            <p><b>Encryption:</b>
                We may use encryption to protect the transmission and storage of patient information,ensuring that the
                data cannot be intercepted or accessed by unauthorized individuals.
            </p>
            <p><b>Compliance with privacy regulations:</b>
                Telehealth providers must comply with regulations such as the
                Health Insurance Portability and Accountability Act (HIPAA) DATA PROTECTION ACT to protect
                patient privacy and security.
            </p>
            <p><b>Access controls:</b>
                We may implement access controls to restrict who can access patient information,
                such as requiring a login and password to access the telehealth platform.
            </p>

        </div>
    </div>
</div>
<!-- End Service details -->
<script>
    // Get all the clickable spans
    const clickableSpans = document.querySelectorAll('.clickable-span');

    // Loop through the clickable spans and attach a click event listener to each one
    clickableSpans.forEach(span => {
        span.addEventListener('click', function () {
            // Get the ID of the clicked span
            const spanId = this.id;

            // Get the ID of the modal corresponding to the clicked span
            const modalId = `modal${spanId.slice(4)}`;

            // Get the modal element
            const modal = document.getElementById(modalId);

            // Get the close button element inside the modal
            const closeButton = modal.querySelector('.close');

            // When the user clicks on the span, display the corresponding modal
            modal.style.display = 'block';

            // When the user clicks on the close button, hide the modal
            closeButton.addEventListener('click', function () {
                modal.style.display = 'none';
            });
        });
    });

</script>

{% endblock %}