{% extends 'base.html' %}
{% load static %}

{% block title %} Home Based Care {% endblock title %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area" style="background-image: url(/static/new/hbc/hbc.avif);">
    <div class="d-table" style="background: rgba(0, 0, 0, 0.7);">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Home Based Care</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Home Based Care</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Service details -->
<div class="service-details ptb-100">
    <div class="container">
        <div class="row">
            <div class="service-details-image col-lg-6">
                <img src="{% static 'new/hbc/hbc-1.avif'%}" class="img rounded" alt="Home based care">
            </div>
            <div class="col-lg-6">
                <ol class="bullet-list">
                    <li class="mb-3">
                        Comprehensive assessment of patients&#39; healthcare needs and development of personalized
                        care plans.
                    </li class="mb-3">
                    <li>
                        Skilled nursing services, including wound care, medication administration, IV therapy, and
                        pain management.
                    </li>
                    <li class="mb-3">
                        Assistance with activities of daily living, such as bathing, grooming, and mobility support.
                        Physical, occupational, and speech therapy provided in the home setting. we wholeheartedly
                        believe in the transformative power of physical, occupational, and speech therapy provided
                        in the comfort of one&#39;s home.
                    </li>
                    <li class="mb-3">
                        Palliative and hospice care services for patients with advanced illnesses, focusing on pain
                        and symptom management.
                    </li>
                    <li class="mb-3">
                        Collaboration with patients, families, and other healthcare providers to ensure holistic and
                        coordinated care.
                    </li>
                </ol>
            </div>
        </div>
        <div class="service-details-content">
            <div class="service-details-info">
                <div class="row w-100">
                    <div class="col-md-8">
                        <div class="single-info-ox">
                            <h4 class="text-center">Sign up today and experience a whole new difference.</h4>
                            <div class="d-flex justify-content-center">
                                <span>ResQ247, Your best virtual care platform</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 py-3">
                        <div class="single-info-bx d-flex justify-content-center">
                            <a class="default-btn-two" href="{% url 'register-as' %}">
                                Click Here
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- End Service details -->

{% endblock %}