{% extends 'base.html' %}
{% load static %}

{% block title %} Virtual Consultation {% endblock title %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area" style="background-image: url(/static/assets/img/page-title/bg.webp);">
    <div class="d-table" style="background: rgba(0, 0, 0, 0.7);">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Virtual Consultation</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Virtual Consultation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Service details -->
<div class="service-details ptb-100">
    <div class="container">
        <div class="row">
            <div class="service-details-image col-lg-6">
                <img src="{% static 'new/vc/vc-1.avif'%}" loading="lazy" class="rounded" alt="image">
            </div>
            <div class="col-lg-6">

                <ol class="bullet-list">
                    <li class="mb-3">
                        Secure and user-friendly telehealth platform for remote consultations with healthcare
                        professionals.
                    </li>
                    <li class="mb-3">
                        Access to a diverse range of medical specialists, including general practitioners, specialists,
                        psychologists, and therapists.
                    </li>
                    <li class="mb-3">
                        Video or audio consultations for discussing medical concerns, obtaining diagnoses, and
                        receiving treatment recommendations.
                    </li>
                    <li class="mb-3">
                        Integration with electronic health records for efficient information exchange and continuity
                        of care.
                    </li>
                    <li class="mb-3">
                        Prescription and medication management services, including electronic prescriptions and
                        home delivery options.
                    </li>
                    <li class="mb-3">
                        Availability of virtual follow-up appointments and remote monitoring for ongoing
                        management of chronic conditions.
                    </li>
                </ol>

            </div>
        </div>
        <div class="service-details-content">



            <div class="service-details-info">
                <div class="row w-100">
                    <div class="col-md-8">
                        <div class="single-info-ox">
                            <h4 class="text-center">Sign up today and experience a whole new difference.</h4>
                            <div class="d-flex justify-content-center">
                                <span>ResQ247, Your best virtual care platform</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 py-3">
                        <div class="single-info-bx d-flex justify-content-center">
                            <a class="default-btn-two" href="{% url 'register-as' %}">
                                Click Here
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- End Service details -->

{% endblock %}