{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-13">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>HealthCare Equip Financing</h2>
                                     <button type="button" class="btn btn-primary" data-bs-toggle="modal"  data-bs-target="#apply-modal">APPLY HERE</button>
 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <img src="{% static 'assets/img/EQUIP.png'%}" alt="image">
                    </div>
                   
                    <div class="service-details-content col-lg-7">
                        <p>At ResQ247 we understand that access to quality medical equipment is essential for providing effective and efficient healthcare. However, purchasing or upgrading medical equipment can be a significant financial burden for many healthcare providers. That's why we offer healthcare equipment financing solutions to help make it easier for you to acquire the equipment you need.</p>
                        <p>Our financing options are designed to meet the specific needs of healthcare providers and can cover a wide range of medical equipment, including diagnostic equipment, surgical equipment, and medical devices. We work with a network of lenders to offer competitive rates and flexible repayment terms, so you can choose the solution that best fits your budget and business needs.</p>

    
                    </div>
                
                </div>

                <div class="service-details-content" style="margin-top:2rem;">
        
                    
                    <p>With our healthcare equipment financing, you can:</p>
                    <ul>
                        <li>
                            Acquire the latest medical equipment without depleting your cash reserves.
                        </li>
                        <li>Take advantage of tax benefits by financing your equipment through our financing program.
                        </li>
                        <li>
                            Choose from a variety of financing options, including leases and loans, to find the solution that best fits your needs.

                        </li>
                        <li>
                            If you're ready to upgrade your medical equipment, contact us today to find out more about our healthcare equipment financing options and how we can help you.
                        </li>
                    </ul>    
                             <button type="button" class="btn btn-primary" data-bs-toggle="modal"  data-bs-target="#apply-modal">APPLY HERE</button>
          
              <div class="modal fade" id="apply-modal" tabindex="-1"
      aria-labelledby="apply-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="apply-modal-title">APPLY HERE</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form class="signup-form" style="box-shadow: none;max-width:100% !important;"
                      method="post" id="appointment-form" enctype="multipart/form-data"
                      action="apply_equip">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-lg-6 form-group mb-3">
                              <label for="name" >First Name:</label>
                              <input type="text" id="name" name="f_name" class="form-control"
                                  required>
                          </div>

                          <div class="col-lg-6 form-group mb-3">
                              <label for="name">Last Name:</label>
                              <input type="text" id="name" name="l_name" class="form-control"
                                  required>
                          </div>

                          <div class="col-lg-12 form-group mb-3">
                              <label for="name">Facility Admin/Owner</label>
                              <input type="text" id="name" name="facility"  class="form-control" required>
                          </div>

                          <div class="col-lg-12 form-group mb-3">
                              <label for="name">Role of the applicant if Not facility Admin/owner</label>
                              <input type="text" id="name" name="role" class="form-control"
                                  required>
                          </div>
                     
                          <div class="col-lg-12 form-group mb-3">
                              <label for="name">Email Address</label>
                              <input type="email" id="name" name="email" class="form-control"
                                  required>
                          </div>

                        
                          <div class="col-lg-12 form-group mb-3">
                            <label for="name">Name of the facility.</label>
                            <input type="text" id="name" name="fa_name" class="form-control" required>
                          </div>
                          <div class="col-lg-6 form-group mb-3">
                            <label for="name">Phone Number</label>
                            <input type="number" id="phone" name="phone" class="form-control" required>
                          </div>
                          <div class="col-lg-6 form-group mb-3">
                            <label for="name">Location of the facility</label>
                            <input type="text" id="name" name="location" class="form-control" required>
                          </div>

                          <div class="col-lg-6 form-group mb-3">
                            <label for="name">Tel: No. of the Facility</label>
                            <input type="number" id="phoneF" name="n_facility" class="form-control" required>
                          </div>

                          <div class="col-lg-6 form-group mb-3">
                            <label for="name">Dates when started.</label>
                            <input type="date" id="date_hosi" name="date_hosi" class="form-control" required>
                          </div>
     
                          <div class="col-lg-12 form-group mb-3">
                              <label for="name">Type of medical Equipment you need financed.</label>
                              <input type="text" id="equip" name="equip" class="form-control"
                                  required>
                          </div>


                          <div class="col-lg-12 form-group mb-3">
                              <label for="message">Message (Tell us a little bit more on your Operations &amp; demand for the
                                equipment )</label>
                              <textarea id="message" name="message" class="form-control"
                                  required></textarea>
                          </div>

                      </div>


                  </form>
              </div>
              <div class="modal-footer">
                  <button type="submit" form="appointment-form" class="btn btn-primary">SUBMIT</button>
                  <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
             
                            </div>
              
            </div>
        </div>
        <!-- End Service details -->
<script>
const dateInput = document.getElementById('date_hosi');
const today = new Date();

dateInput.addEventListener('input', function() {
  const selectedDate = new Date(this.value);
  if (selectedDate > today) {
    alert('Date cannot be in the future');
    this.value = '';
  }
});
</script>
<script>
  // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myButton");
var btn2 = document.getElementById("myButton2");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
modal.style.display = "block";
}
btn2.onclick = function() {
modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal) {
modal.style.display = "none";
}
}

</script>
<script>
  const phoneInput = document.getElementById('phone');

phoneInput.addEventListener('input', function() {
  const inputValue = this.value;
  
  // Remove all non-digit and non-plus characters from input
  const strippedValue = inputValue.replace(/[^0-9+]/g, '');
  
  // If stripped value is longer than 4 characters, truncate it to the first 4 characters
  const truncatedValue = strippedValue.substring(0, 9);
  
  // If stripped value contains more than one plus sign, remove all but the first one
  const finalValue = truncatedValue.replace(/\+/g, (match, offset) => offset ? '' : match);
  
  // Update input value to final value
  if (finalValue !== inputValue) {
    this.value = finalValue;
  }
});

</script>
<script>
  const phoneInputF = document.getElementById('phoneF');

phoneInputF.addEventListener('input', function() {
  const inputValue = this.value;
  
  // Remove all non-digit and non-plus characters from input
  const strippedValue = inputValue.replace(/[^0-9+]/g, '');
  
  // If stripped value is longer than 4 characters, truncate it to the first 4 characters
  const truncatedValue = strippedValue.substring(0, 10);
  
  // If stripped value contains more than one plus sign, remove all but the first one
  const finalValue = truncatedValue.replace(/\+/g, (match, offset) => offset ? '' : match);
  
  // Update input value to final value
  if (finalValue !== inputValue) {
    this.value = finalValue;
  }
});

</script>
        {% endblock %}