{% extends 'base.html' %}
{% load static %}
{% block title %} Symptom Checker {% endblock title %}

{% block styles %}
<style>
    .chat-msg {
        background: white;
        padding: 10px;
        max-width: 70%;
        margin-bottom: 10px;
    }

    .gpt {
        position: relative;
        border-radius: 0px 20px 20px 20px;
        margin-right: auto;
    }

    .person {
        position: relative;
        border-radius: 20px 0px 20px 20px;
        margin-left: auto;
    }

    .custom-assist-card {
        --assist-height: 70vh;
        --header-size: 60px;
        border-radius: 20px;
        padding: 20px;
        background-color: rgba(0, 0, 255, 0.144);
        height: var(--assist-height);
    }

    .assist-header {
        height: var(--header-size);
    }

    .assist-footer {
        height: var(--header-size);
    }

    .assist-body {
        height: calc(var(--assist-height) - (var(--header-size) * 2));
        overflow-y: scroll;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }

    .assist-body::-webkit-scrollbar {
        width: 6px;
    }

    .assist-body::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    .assist-body::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 7px 10px 12px #f0f0f0;
    }

    .assist-body p {
        color: #131419 !important;
        white-space: pre-wrap;
    }
</style>
{% endblock %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-5 d-none">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Symptom Checker</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Symptom Checker</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Service details -->
<div class="service-details ptb-70 py-5">
    <div class="container">
        <!-- <p class="text-center">Check your symptoms with our free symptoms checker.</p> -->
        <div class="my-1">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card border-0 custom-assist-card">
                        <div class="assist-header">
                            <p class="text-center">Hello {{request.user.username}}, I am your virtual assistant. I will
                                help
                                you to check your
                                symptoms.</p>
                        </div>
                        <div class="assist-body">
                            <div class="msgs-holder">
                                <!-- <div class="chat-msg gpt">
                                    <p>
                                        Hi, I am your virtual assistant. I will help you to check your symptoms.
                                    </p>
                                </div>
                                <div class="chat-msg person">
                                    <p>
                                        I am having a headache.
                                    </p>
                                </div> -->
                            </div>
                        </div>
                        <div class="assist-footer d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <form id="chat-form">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg" style="border-radius: 10px;">
                                            <div class="input-group-text">
                                                <i class="fa fa-message"></i>
                                            </div>
                                            <input type="text" class="form-control shadow-none " id="msg"
                                                placeholder="Enter your symptom">
                                            <div class="input-group-text p-0">
                                                <button class="btn px-3 py-2 shadow-none"><i
                                                        class="fa fa-paper-plane"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    const chatForm = document.getElementById('chat-form');
    const msgsHolder1 = document.querySelector('.msgs-holder');
    const API_KEY = "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"
    const HEADERS = {
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${API_KEY}`
    };

    function chatMsg(msg, owner) {
        const trimMsg = msg?.trim() || '';
        return `
            <div>
                <div class="chat-msg ${owner}">
                    <p class="p-0 m-0">${trimMsg}</p>
                </div>
            <div>
        `;
    }

    const INSTRUCTIONS = `In the below prompt, if it is outside medicine, health care, healthcare, medicine, doctor, hospital, patient, diagnosis, treatment, prescription, surgery, nurse and related fields, ask the patient to rephrase their question on how they are feeling and try to give them a solution. 
    All the information you will provide is not being used by the patient. It is only used to provide you with the best possible results.
    Don't include 'As an AI model text' or any message text that shows you are are an AI in your message. The information you give to the patient will be further used by the doctor to make the final decision. 
    You are only helping the patient get some information before they see the doctor. Below is the patient's query.\n`
//     const INSTRUCTIONS = `Use the questions below to help the patient through. Do not include 'as an ai model' in your suggestions. You are just helping a patient based on the questions and maybe give help or suggest a doctor for further checking. Ask all the questions before exiting or suggesting a doctor. Don't ask the questions all at once. Ask them separately. 1. What is your age  2. gender?
// 3.  What is the primary symptom or issue you are experiencing? Please describe it in detail.
// 4. When did the symptom or issue first appear?
// 5.  Is the symptom or issue constant or does it come and go?
// 6.  Have you experienced this symptom or issue before? If so, when and how was it treated?
// 7. Have you recently experienced any other symptoms or issues that you think might be related?
// 8. Have you taken any medication or supplements recently? If so, what were they and how often did you take them?
// 9. Have you recently traveled to any other regions or countries?
// 10. Have you been exposed to anyone with a similar symptom or issue?
// 11. Have you had any recent accidents or injuries that might be related to the symptom or issue?`
    function scrollToBottom() {
        const msgsHolder = document.querySelector('.msgs-holder');
        const body = document.querySelector('body');
        const children = msgsHolder.children;
        const lastChild = children[children.length - 1];
        if (lastChild) {
            setTimeout(() => {
                lastChild?.scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
            }, 100);
        }
    }

    function sendMsg(msg) {
        const msgsHolder = document.querySelector('.msgs-holder');
        msgsHolder.insertAdjacentHTML('beforeend', chatMsg(msg, 'person'));
        scrollToBottom();
    }

    function receiveMsg(msg) {
        const msgsHolder = document.querySelector('.msgs-holder');
        msgsHolder.insertAdjacentHTML('beforeend', chatMsg(msg, 'gpt'));
        scrollToBottom();
    }

    function contactAssistant(msg) {
        const prompt = msg;
        const data = {
            // prompt, 
            messages: [{ "role": "user", "content": INSTRUCTIONS + msg }],
            model: "gpt-3.5-turbo",
            temperature: 0.7,
        };
        const options = {
            method: 'POST',
            headers: HEADERS,
            body: JSON.stringify(data)
        };
        document.getElementById('msg').value = '';
        fetch('https://api.openai.com/v1/chat/completions', options).then(response => response.json()).then(result => {
            // const text = result.choices[0].text;
            console.log(result)
            if (result?.error) {
                alert(result?.error?.message);
                return;
            }
            const text = result?.choices[0]?.message?.content;
            receiveMsg(text);
        }).catch(error => {
            alert(error);
        });
        // const json = await response.json();
        // const result = json.choices[0].text;
        // console.log(result);
        // return result

    }

    chatForm.addEventListener('submit', function (e) {
        e.preventDefault();
        const msg = document.getElementById('msg').value;
        if (msg.trim() === '') {
            alert('Please enter how you feel');
            return;
        };
        sendMsg(msg);
        contactAssistant(msg);
    });


    document.addEventListener('DOMContentLoaded', function () {
        receiveMsg('Hi, I am your virtual assistant. I will help you to check your symptoms.');
    });





</script>

{% endblock %}