{% load customtags %}
<div>
    <h5>Patient Note</h5>
    <p>
        {{appointment.note}}
    </p>
    <h5>Condition</h5>
    <p>{{appointment.condition.name}}</p>
    <h5>Any named condition</h5>
    <p>{{appointment.other_condition}}</p>
    <h5>Appointment Date</h5>
    <p>{{appointment.date|get_date}}</p>
    <h5>Appointment Time</h5>
    <p>{{appointment.start_time.time}} - {{appointment.end_time}}</p>
    <h5>Appointment Type</h5>
    <p>{{appointment.consultation_type}}</p>
    <h5>Appointment Category</h5>
    <p>{{appointment.consultation_category}}</p>
    {% if appointment.consultation_type == 'text' %}
    {% if include_chat %}
    <h5>Chat</h5>
    <button class="btn btn-primary" onclick="showChat()">
        Show Chat
    </button>
    <div>
        {% include './../../consultation/consultation.html' %}
    </div>
    {% endif %}
    {% elif appointment.consultation_type == 'video' %}
    <div>
        {% if appointment.video_link %}
        <a href="{{appointment.video_link}}" target="_blank" class="btn btn-primary">
            Go to Video Consultation
        </a>
        {% else %}
        <p>No link has been provided yet. Wait for the doctor to update the link.</p>
        {% endif %}
    </div>
    {% endif %}
</div>