{% load customtags %}
<tr>
    <td>
        <a href="{% url 'doctor:single-appointment' appointment.id %}">
            Go To Appointment
        </a>
    </td>
    <td>
        {{appointment.patient.user.get_full_name}}
    </td>
    <td>
        <button class="btn btn-primary px-4" data-bs-toggle="modal" data-bs-target="#info-modal"
            data-bs-title="{{appointment.patient.user.get_full_name}} - Appointment Note"
            data-bs-content="{{appointment.note}}<br>Condition: {{appointment.condition.name}}">
            Read
        </button>
    </td>
    <td>{{appointment.consultation_type}}</td>
    <td>{{appointment.date|get_date}}</td>
    <td>{{appointment.start_time.time}}</td>
    <td>{{appointment.end_time}}</td>
</tr>