<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="{% url 'index' %}" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-home"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li>
                <a href="{% url 'doctor:dashboard' %}" class="ai-icon" aria-expanded="false">
                    <i class="lni lni-dashboard"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url 'doctor:prescriptions' %}" class="ai-icon" aria-expanded="false">
                    <i class="lni lni-write"></i>
                    <span class="nav-text">Prescriptions</span>
                </a>
            </li>
            <li>
                <a href="{% url 'doctor:appointments' %}" class="ai-icon" aria-expanded="false">
                    <i class="lni lni-calendar"></i>
                    <span class="nav-text">Appointments</span>
                </a>
            </li> 
            <li>
                <a href="{% url 'doctor:medical-reports' %}" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-book"></i>
                    <span class="nav-text">Medical Reports</span>
                </a>
            </li>
            <li>
                <a href="{% url 'doctor:lab-orders' %}" class="ai-icon" aria-expanded="false">
                    <i class="lni lni-hospital"></i>
                    <span class="nav-text">Lab Orders</span>
                </a>
            </li>
            <li>
                <a href="{% url 'doctor:consultation-notes' %}" class="ai-icon" aria-expanded="false">
                    <i class="lni lni-consulting"></i>
                    <span class="nav-text">Consultation Notes</span>
                </a>
            </li>
            <li>
                <a href="{% url 'doctor:text-consultation' %}" class="ai-icon" aria-expanded="false">
                    <i class="lni lni-text-format"></i>
                    <span class="nav-text">Text Consultation </span>
                </a>
            </li>
            <li>
                <a href="{% url 'doctor:video-consultation' %}" class="ai-icon" aria-expanded="false">
                    <i class="lni lni-video"></i>
                    <span class="nav-text">Video Consultation </span>
                </a>
            </li>
            <li>
                <a href="{% url 'doctor:appointments' %}" class="ai-icon" aria-expanded="false">
                    <i class="lni lni-cogs"></i>
                    <span class="nav-text">Profile </span>
                </a>
            </li>
        </ul>
    </div>
</div>