{% extends './../components/base.html' %}
{% load humanize %}
{% load static %}

{% block title %} Upload Products {% endblock %}

{% block styles %}
<!-- CkEditor -->
<link href="{% static 'dashboard/vendor/ckeditor/ckeditor.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<div class="form-head d-flex mb-3 mb-md-4 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h3 class="text-black font-w600">Upload New Products</h3>
				<p class="mb-0 fs-18">Products</p>
			</div>
		</div>
		<div class="container">
			{% for msg in messages %}
			{% if msg.tags == 'error' %}
			<div class="alert alert-danger">
				{{msg}}
			</div>
			{% else %}
			<div class="alert alert-{{msg.tags}}">
				{{msg}}
			</div>
			{% endif %}
			{% endfor %}
			<form id="product-form" method="post">
				{% csrf_token %}
				<input type="text" class="form-control d-none" id="facility_id" name="facility" value="{{request.facility.id}}"
					placeholder="Facility Id">
					<input type="text" class="d-none" id="product-id" value="{{product.id}}">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">New Product Information</h4>
					</div>
					<div class="card-body custom-ekeditor">
						<div class="row">

							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Product Name</label>
									<input type="text" class="form-control" placeholder="Product Name" name="name"
										required disabled value="{{product.name}}">
								</div>
							</div>

							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Product Code</label>
									<input type="text" class="form-control" placeholder="Product Code" name="code" disabled value="{{product.code}}">
								</div>
							</div>

							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Brand Name</label>
									<input type="text" class="form-control" placeholder="Brand Name" name="brand" value="{{product.brand}}">
								</div>
							</div>

							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Price</label>
									<input type="number" step="0.01" class="form-control" placeholder="Product Price" name="price"
										required value="{{product.price}}">
								</div>
							</div>

							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Product Type</label>
									<select type="text" class="form-control" placeholder="Product Type"
										name="product_type" required>
										{% for type in product_types %}
										<option value="{{type.id}}" {% if product.product_type.id == type.id %} selected {% endif %}>{{type.name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Product Category(s)</label>
									<select type="text" class="form-control" placeholder="Product Type"
										name="categories" multiple required>
										{% for cat in product_categories %}
										<option value="{{cat.id}}" {% if cat in product.categories.all %} selected {% endif %}>{{cat.name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="col-xl-12">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Description</label>
									<textarea class="form-control" placeholder="Describe the product" id="description"
										name="description" disabled>{{product.description}}</textarea>
								</div>
							</div>

							<div class="col-xl-12">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Tags</label>
									<select type="text" class="form-control" placeholder="Product Tags" name="tags"
										multiple required>
										{% for tag in tags %}
										<option value="{{tag.id}}" {% if tag in product.tags.all %} selected {% endif %}>{{tag.name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Image</label>
									<div>
										<img src="{% if product.image %} {{product.image.url}} {% endif %}" width="200px" alt="">
									</div>
									<!-- <input type="file" accept="image/*" class="form-control" placeholder="Product Image"
										name="image" required disabled> -->
								</div>
							</div>

						</div>
					</div>

					<div class="row col-md-8 offset-md-2">
						<div id="msgSubmit" class="text-center"></div>
						<div id="msgSubmitErrors"></div>
					</div>

					<div class="my-2 ps-4">
						<button class="btn btn-primary rounded pill" style="width: 200px;">
							Update Product
						</button>
					</div>

				</div>

			</form>

		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<!-- CkEditor -->
<script src="{% static 'dashboard/vendor/ckeditor/ckeditor.js' %}"></script>

<script>
	ClassicEditor
		.create(document.querySelector('#description'))
		.catch(error => {
			console.error(error);
		});
</script>


<script>

	const getFormErrorHolders = (form_id, target) => {
		if (target === 0) {
			return `#${form_id} #msgSubmit`
		}
		return `#${form_id} #msgSubmitErrors`
	}

	const spinner = () => {
		return `
			<div class="d-flex align-items-center justify-content-center flex-column py-2">
				<div class="spinner-border ml-auto mb-2" role="status" aria-hidden="true"></div>
				<strong>Loading...</strong>
			</div>
		`
	}

	$(`#product-form`).on("submit", e => {
		e.preventDefault()
		updateProduct('product-form')
	})


	function updateProduct(form_id) {
		const loc = window.location
		const url = `${loc.protocol}//${loc.host}/api/products/${$('#product-id').val()}/`

		const formdata = new FormData(document.getElementById(form_id))

		toastr.options = {
			positionClass: "toast-bottom-center",
			progressBar: true,
			timeOut: 10000
		}
		const headers = {
			'X-CSRFToken': getCookie('csrftoken')
		}

		$(getFormErrorHolders(form_id, 0)).html(spinner)  // msgSubmit holder
		$(getFormErrorHolders(form_id, 1)).html("") // msgError holder
		axios.put(url, formdata, { headers }).then((response) => {
			const data = response.data;
			console.log(response)
			toastr.info('Product Created Successfully')
			$(getFormErrorHolders(form_id, 0)).html(`<div class="alert alert-success my-1">Product created successfully. It is being reviewed for approval.</div>`)
		}).catch((error) => {
			toastr.error(`Error - ${error.message}`)
			$(getFormErrorHolders(form_id, 0)).html(`<div class="alert alert-danger my-1">${error.message}</div>`)
			if (typeof error?.response?.data === 'object') {
				const stringified_error = JSON.stringify(error.response.data, null, 4)
				const highlight_HTML = hljs.highlight(stringified_error, { language: 'json' }).value
				const header = `<h4>Errors</h4>`
				$(getFormErrorHolders(form_id, 1)).html(`${header}<pre><code class="hljs rounded">${highlight_HTML}</code></pre>`)
			}
		});
	};
</script>

{% endblock %}