{% extends './../../base.html' %}
{% load static %}

{% block title %} Application Notifications {% endblock %}

{% block styles %}
<link href="{% static 'superadmin/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-description">
                <h1>Application Notifications</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border-0" >
                <div class="card-header">
                    <div class="btn-group d-flex justify-content-between btns">
                        <a href="{% url 'super-admin-notifications' %}?notifications=all" class="btn btn-outline-primary btn-first {% if request.GET.notifications == 'all' or request.GET.notifications == None %}active {% endif %}" aria-current="page">All</a>
                        <a href="{% url 'super-admin-notifications' %}?notifications=unread" class="btn btn-outline-success {% if request.GET.notifications == 'unread' %} active {% endif %}">Unread</a>
                        <a href="{% url 'super-admin-notifications' %}?notifications=read" class="btn btn-outline-danger btn-last {% if request.GET.notifications == 'read' %} active {% endif %}">Read</a>
                        </div>
                </div>
                <div class="card-body bg-light" style="border-radius: 10px !important;">
                    {% include './notifications-component.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}