{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Complete your Purchase {% endblock %}

{% block content %}
<!-- Start Page Title Area -->
<div class="page-title-area" style="background-image: url(/static/assets/img/page-title/bg.webp);">
    <div class="d-table" style="background: rgba(0, 0, 0, 0.7);">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Checkout</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Checkout Area -->
<section class="checkout-area ptb-100">
    <div class="container">
        {% if request.user.is_anonymous %}
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="user-actions">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>Returning customer?
                        <a href="{% url 'signin' %}">Click here to login</a>
                    </span>
                </div>
            </div>
        </div>
        {% endif %}

        <form id="checkout-form">

            <div class="row">
                <div class="col-lg-6 col-md-12 {% if request.user.is_authenticated %}offset-lg-3{% endif %}">
                    <div class="order-details">
                        <h3 class="title">Your Order</h3>
                        {% if request.user.is_authenticated %}
                        <div class="alert alert-info">
                            You are logged in as: {{request.user.username}}
                        </div>
                        {% endif %}
                        <div class="order-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="checkout-cart2">
                                    <!-- <tr>
                                        <td class="product-name">
                                            <a href="javascript:void(0)">Medical Mask</a>
                                        </td>
                                        <td class="product-total">
                                            <span class="subtotal-amount">KES </span>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                        <div class="container-fluid">
                            <div class="row py-3">
                                <div class="col-8">
                                    <p>
                                        <b>Order Total</b>
                                    </p>
                                </div>
                                <div class="col-4">
                                    <p>
                                        <b>
                                            KES <span id="checkout-total"></span>
                                        </b>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="payment-box">
                            <div class="payment-method">
                                <p>
                                    <input type="radio" id="mobile-transfer" value="mobile-transfer" name="payment-method" checked>
                                    <label for="mobile-transfer">MPesa checkout</label>
                                   Pay for the Order Items using MPesa
                                </p>
                                <div id="mpesa">
                                    
                                </div>
                                <p>
                                    <input type="radio" value="credit-card" id="credit-card" name="payment-method">
                                    <label for="credit-card">Credit Card Checkout</label>
                                    Pay for the Order Items using your Credit Card
                                </p>
                            </div>
                            <button type="submit" class="default-btn order-btn text-white d-block w-100">
                               Checkout
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- End Checkout Area -->
{% endblock %}


{% block scripts %}
<script>
    const checkoutForm = document.getElementById('checkout-form')
    checkoutForm.addEventListener('submit', e => {
        e.preventDefault()
        console.log(e)
        let paymentMethod = document.querySelector('input[name="payment-method"]:checked').value;
        console.log(paymentMethod)
        placeOrder('/health-and-wellness/checkout/orders/make/')
    })
</script>
{% endblock %}