{% extends './../../base.html' %}
{% load static %}
{% block title %} Register as | Service Provider | Patient | An explorer {% endblock title %}

{% block styles %}
<link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'superadmin/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- End Header Area -->


<style>
    .reg-card {
        --c-color: rgb(94, 94, 255);
        border-radius: 10px;
        padding: 20px;
        height: 100px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--c-color);
        outline-offset: 4px;
        outline: 2px solid transparent;
        cursor: pointer;
        transition: all 0.2s linear;
        background: transparent;
    }

    .reg-card:hover,
    .reg-card.active {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        outline: 2px solid var(--c-color) !important;
    }

    .custom-header {
        height: 250px;
    }
</style>

<!-- Start Page Title Area -->
<div class="custom-header bg-dark item-bg-2">
    <div class="container text-center h-100 d-flex align-items-center justify-content-center">
        <h2 class="text-white">Sign Up</h2>
    </div>
</div>
<!-- End Page Title Area -->


<!-- Start Signup Area -->
<div class="signup-area ptb-100">

    <div class="container">
        <ul class="nav nav-pills mb-3 row" id="pills-tab" role="tablist">
            <li class="nav-item col-md-4 mb-3" role="presentation">
                <button class="nav-lin reg-card active" id="pills-provider-tab" data-bs-toggle="pill"
                    data-bs-target="#provider" type="button" role="tab" aria-controls="pills-provider"
                    aria-selected="true">
                    <h3>Service Provider</h3>
                </button>
            </li>
            <li class="nav-item col-md-4 mb-3" role="presentation">
                <button class="nav-lin reg-card" id="pills-patient-tab" data-bs-toggle="pill" data-bs-target="#patient"
                    type="button" role="tab" aria-controls="pills-patient" aria-selected="false">
                    <h3>Patient</h3>
                </button>
            </li>
            <li class="nav-item col-md-4 mb-3" role="presentation">
                <button class="nav-lin reg-card" id="pills-user-tab" data-bs-toggle="pill" data-bs-target="#user"
                    type="button" role="tab" aria-controls="pills-user" aria-selected="false">
                    <h3>Basic User</h3>
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="provider" role="tabpanel" aria-labelledby="pills-provider-tab"
                tabindex="0">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        {% include './../sign-up-provider-component.html' %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="patient" role="tabpanel" aria-labelledby="pills-patient-tab" tabindex="0">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        {% include './../sign-up-patient-component.html' %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="pills-user-tab" tabindex="0">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        {% include './../sign-up-component.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Signup Area -->

{% endblock %}

{% block scripts %}
<script src="{% static 'superadmin/assets/plugins/select2/js/select2.full.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#doctor-form select').select2();
        $('#patient-form select').select2();
    })
</script>

<script>

    let qualifications = []

    function limitText(text, limit) {
        if (text) {
            if (text.length > limit) {
                return text.substring(0, limit) + '...'
            }
            return text
        }
    }

    function qualificationRow(qualification) {
        return `
            <tr>
                <td>${qualification?.course}</td>
                <td>${limitText(qualification?.institution, 10)}</td>
                <td>${qualification?.year}</td>
                <td>${qualification?.notes ? limitText(qualification?.notes, 10) : 'N/A'}</td>
                <td>${qualification?.file?.name}</td>
            </tr>
        `
    }

    function renderQualifications() {
        const qualificationEls = qualifications.map(q => {
            if (q) {
                return qualificationRow(q)
            }
        })
        $("#qualifications-holder").html(qualificationEls)
    }

    const qualificationModal = document.getElementById('qualification-modal')

    qualificationModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const form = qualificationModal.querySelector('#qualification-form')
        form.addEventListener('submit', e => {
            e.preventDefault()

            const course = qualificationModal.querySelector('#course').value
            const institution = qualificationModal.querySelector('#institution').value
            const year = qualificationModal.querySelector('#year').value
            const notes = qualificationModal.querySelector('#notes').value
            const file = qualificationModal.querySelector('#file').files[0]

            const q = {
                course, institution, year, notes: notes ? notes : 'N/A', file
            }

            qualifications.push(q)
            renderQualifications()

            form?.reset()
        })

    })

    const getFormErrorHolders = (form_id, target) => {
        if (target === 0) {
            return `#${form_id} #msgSubmit`
        }
        return `#${form_id} #msgSubmitErrors`
    }

    const spinner = () => {
        return `
			<div class="d-flex align-items-center justify-content-center flex-column py-2">
				<div class="spinner-border ml-auto mb-2" role="status" aria-hidden="true"></div>
				<strong>Loading...</strong>
			</div>
		`
    }

    $(`#doctor-form`).on("submit", e => {
        e.preventDefault()
        const pass1 = $("#doctor-form .pass1").val()
        const pass2 = $("#doctor-form .pass2").val()
        const phone = $("#doctor-form .phone").val()
        if (pass1 !== pass2) {
            toastr.error('Passwords do not match')
            return
        }
        else if (phone && phone.length < 9) {
            toastr.error('Phone number must be 9 numbers only')
            return
        }
        else if (phone && phone.length > 9) {
            toastr.error('Phone number must be 9 numbers only')
            return
        }
        postDoctor('doctor-form')
    })

    function postDoctor(form_id) {
        const loc = window.location
        const url = `${loc.protocol}//${loc.host}/api/doctors/`

        const formdata = new FormData(document.getElementById(form_id))
        formdata.append('user.username', $('#user-email').val())
        // formdata.append('qualifications', qualifications)

        for (let [key, value] of formdata.entries()) {
            console.log(`${key}: ${value}`);
        }

        toastr.options = {
            positionClass: "toast-bottom-center",
            progressBar: true,
            timeOut: 10000
        }
        const headers = {
            'X-CSRFToken': getCookie('csrftoken')
        }

        $(getFormErrorHolders(form_id, 0)).html(spinner)  // msgSubmit holder
        $(getFormErrorHolders(form_id, 1)).html("") // msgError holder

        axios.post(url, formdata, { headers }).then((response) => {
            const data = response.data;

            postQualifications('doctor-form', qualifications.map(each => ({
                doctor: data.id,
                ...each,
            })))

            toastr.info('Account Created Successfully')
            $(getFormErrorHolders(form_id, 0)).html(`<div class="alert alert-success my-1">Your account has been created successfully. It is pending verification and you will get an update in your email withing 48hrs. You can now login to continue.</div>`)
        }).catch((error) => {
            toastr.error(`Error - ${error.message}`)
            $(getFormErrorHolders(form_id, 0)).html(`<div class="alert alert-danger my-1">${error.message}</div>`)
            if (typeof error?.response?.data === 'object') {
                const stringified_error = JSON.stringify(error.response.data, null, 4)
                const highlight_HTML = hljs.highlight(stringified_error, { language: 'json' }).value
                const header = `<h4>Errors</h4>`
                $("#msgSubmitErrors").html(`${header}<pre><code class="hljs rounded">${highlight_HTML}</code></pre>`)
            }
        });
    };

    $("#patient-form .dob").on('change', e => {
        const dob = $("#patient-form .dob").val()
        if (!checkAge(dob)) {
            toastr.error("Age must be atleast 18 years.")
            return
        }
    })

    $(`#patient-form`).on("submit", e => {
        e.preventDefault()
        const dob = $("#patient-form .dob").val()
        if (checkAge(dob)) {
            postPatient('patient-form')
            return
        }
        else {
            toastr.error("Age must be atleast 18 years.")
            return
        }
    })

    function postQualifications(form_id, quals) {

        for (let i = 0; i < quals.length; i++) {
            const qualification = quals[i];

            if (qualification) {
                const formdata = new FormData();

                formdata.append(`doctor`, qualification?.doctor);
                formdata.append(`course`, qualification?.course);
                formdata.append(`institution`, qualification?.institution);
                formdata.append(`year`, qualification?.year);
                formdata.append(`notes`, qualification?.notes);
                formdata.append(`file`, qualification?.file);

                postEachQualification("doctor-form", formdata)
            }
        }


    }

    function postEachQualification(form_id, qualificationFormData) {

        $(getFormErrorHolders(form_id, 0)).html(spinner)  // msgSubmit holder
        $(getFormErrorHolders(form_id, 1)).html("") // msgError holder

        const loc = window.location
        const url = `${loc.protocol}//${loc.host}/api/qualifications/`

        const headers = {
            'X-CSRFToken': getCookie('csrftoken')
        }

        axios.post(url, qualificationFormData, { headers }).then((response) => {
            const data = response.data;
            toastr.info('Doctor Qualification added Successfully')
            $(getFormErrorHolders(form_id, 0)).html(`<div class="alert alert-success my-1">Doctor Updated Successfully.</div>`)
        }).catch((error) => {
            toastr.error(`Error - ${error.message}`)
            $(getFormErrorHolders(form_id, 0)).html(`<div class="alert alert-danger my-1">${error.message}</div>`)
            if(error?.response?.data?.user?.username){
                toastr.error("The email you entered has already been used to register an account. Contact support.")
            }
            if (typeof error?.response?.data === 'object') {
                const stringified_error = JSON.stringify(error.response.data, null, 4)
                const highlight_HTML = hljs.highlight(stringified_error, { language: 'json' }).value
                const header = `<h4>Errors</h4>`
                $(getFormErrorHolders(form_id, 1)).html(`${header}<pre><code class="hljs rounded">${highlight_HTML}</code></pre>`)
            }
        });
    }

    function postPatient(form_id) {
        const loc = window.location
        const url = `${loc.protocol}//${loc.host}/api/patients/`

        const formdata = new FormData(document.getElementById(form_id))

        toastr.options = {
            positionClass: "toast-bottom-center",
            progressBar: true,
            timeOut: 10000
        }
        const headers = {
            'X-CSRFToken': getCookie('csrftoken')
        }

        $(getFormErrorHolders(form_id, 0)).html(spinner)  // msgSubmit holder
        $(getFormErrorHolders(form_id, 1)).html("") // msgError holder
        axios.post(url, formdata, { headers }).then((response) => {
            const data = response.data;
            toastr.info('Account Created Successfully')
            $(getFormErrorHolders(form_id, 0)).html(`<div class="alert alert-success my-1">Your account has been created successfully. You can proceed to book appointments with various doctors and getting other services.</div>`)
        }).catch((error) => {
            toastr.error(`Error - ${error.message}`)
            $(getFormErrorHolders(form_id, 0)).html(`<div class="alert alert-danger my-1">${error.message}</div>`)
            if(error?.response?.data?.user?.username){
                toastr.error("The email you entered has already been used to register an account. Contact support.")
            }
            if (typeof error?.response?.data === 'object') {
                const stringified_error = JSON.stringify(error.response.data, null, 4)
                const highlight_HTML = hljs.highlight(stringified_error, { language: 'json' }).value
                const header = `<h4>Errors</h4>`
                $(getFormErrorHolders(form_id, 1)).html(`${header}<pre><code class="hljs rounded">${highlight_HTML}</code></pre>`)
            }
        });
    };


    function checkAge(value) {
        var selectedDate = new Date(value);

        var today = new Date();
        var ageDiff = today.getTime() - selectedDate.getTime();
        var ageDate = new Date(ageDiff);
        var age = Math.abs(ageDate.getUTCFullYear() - 1970);

        if (age > 18) {
            return true
        }
        return false
    }


    function attachPhoneChangeListeners() {
        // Find all input elements with class 'phone' using jQuery
        const phoneInputs = $('input.phone');

        // Loop over each phone input and attach an input listener
        phoneInputs.each(function () {
            $(this).on('input', function () {
                // Get the input's value and truncate it if necessary
                let val = $(this).val()
                let newValue = val.substring(0, 9);
                // If the length of the value is greater than 9, display a warning message
                if (val.length > 9) {
                    toastr.warning('Danger! Phone number too long.');
                }
                // If the value has changed, update the input's value
                if (newValue !== $(this).val()) {
                    $(this).val(newValue);
                }

            });
        });
    }

    attachPhoneChangeListeners()

    function attachPasswordChangeListeners() {
        // Find all input elements with type 'password' using jQuery
        const passwordInputs = $('input[type="password"]');

        // Loop over each password input and attach an input listener
        passwordInputs.each(function () {
            $(this).on('input', function () {
                // Get the input's value
                let password = $(this).val();
                console.log(password.length)
                // Check if the password meets the security requirements
                if (password.length >= 8) {
                    if (testPassword(password)) {
                        toastr.success('Password is secure!');
                    }
                }
            });
        });
        passwordInputs.each(function () {
            $(this).on('change', function () {
                // Get the input's value
                let password = $(this).val();
                // Check if the password meets the security requirements
                if (password.length < 8) {
                    toastr.warning('Password must be atleast 8 characters long!');
                }
            });
        });
    }

    function testPassword(password) {
        return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/.test(password)
    }

    attachPasswordChangeListeners()




</script>

{% endblock %}