{% extends './../../base.html' %}
{% load static %}
{% load humanize %}

{% load customtags %}

{% block title %} Orders - {{order.id}} {% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <div class="page-description">
                <h1>{{order.user.first_name}}'s Order</h1>
                <p>Email: {{order.user.email}}</p>
                <p>Phone No: {{order.user.profile.phone_number}}</p>
                <p>Ordered On: {{order.created_on}}</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2>Total amount: KES {{order.amount|intcomma}}</h2>
            {% with order.order_items.all as order_items %}
            <p>Total Items: {{order_items|length}}</p>
            <p>
                Order Status:
                {% if order.paid %}
                <button class="btn btn-sm btn-success">
                    Paid
                </button>
                {% else %}
                <button class="btn btn-sm btn-danger">
                    Not Paid
                </button>
                {% endif %}
            </p>
            <p>Ordered On: {{order.created_on}}</p>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="custom-th">Product Name</th>
                            <th class="custom-th">Facility</th>
                            <th class="custom-th">Price</th>
                            <th class="custom-th">Quantity</th>
                            <th class="custom-th">Sub-total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order_items %}
                        <tr>
                            <td>{{item.product.name}}</td>
                            <td>
                                <a
                                    href="{% if item.product.facility %}{% url 'super-admin-facilities-single' item.product.facility.id %}{% else %}#{% endif %}"
                                    target="_blank">
                                    {{item.product.facility.name}}
                                </a>
                            </td>
                            <td>{{item.price|intcomma}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.quantity|multiply:item.price|intcomma}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <strong>Total</strong>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>KES {{order.amount|intcomma}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endwith %}
        </div>
    </div>
</div>


{% endblock %}