{% load customtags %}

<form action="{% url 'account_profile_edit' %}" method="post" enctype="multipart/form-data" class="form mt-4">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 mb-2">
            <h3>Advanced information</h3>
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label for="country_code" class="form-label">Country Code</label>
            <select type="text" class="w-100 shadow-none" id="country_code" name="country_code" placeholder="Gender">
                <option value="">Select Code</option>
                {% for code in ''|country_codes %}
                <option value="{{code}}" {% if code == request.user.profile.country_code %} selected {% endif %}>{{code}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="text" id="phone" class="form-control form-control-sm shadow-none" name="phone_number"
                placeholder="Phone Number" value="{{request.user.profile.phone_number}}">
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label for="gender" class="form-label">Gender</label>
            <select type="text" id="gender" class="w-100 shadow-none" name="gender" placeholder="Gender"
                value="{{request.user.profile.gender}}">
                {% with request.user.profile.gender as gender %}
                <option value="">Select Gender</option>
                <option value="male" {% if gender == 'male' %} selected {% endif %}>Male</option>
                <option value="female" {% if gender == 'female' %} selected {% endif %}>Female</option>
                {% endwith %}
            </select>
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label for="country" class="form-label">Country</label>
            <input type="text" id="country" class="form-control shadow-none" name="country" placeholder="Country"
                value="{{request.user.profile.country}}">
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label for="city" class="form-label">City</label>
            <input type="text" id="city" class="form-control shadow-none" name="city" placeholder="City"
                value="{{request.user.profile.city}}">
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label for="postal_code" class="form-label">Address</label>
            <input type="text" class="form-control shadow-none" name="address"
                placeholder="Postal Code" value="{{request.user.profile.address}}">
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label class="form-label">Date of Birth</label>
            <input type="date" class="form-control shadow-none" name="dob"
                placeholder="Date of Birth" value="{{request.user.profile.dob|get_date}}">
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label class="form-label">Salutation</label>
            <select type="text" class="w-100 shadow-none" id="salutation" name="salutation" placeholder="Gender">
                <option value="">Select Salutation</option>
                {% get_salutations as salutations %}
                {% for salutation in salutations %}
                <option value="{{salutation.id}}" {% if salutation.id == request.user.profile.salutation.id %} selected {% endif %}>{{salutation.title}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label class="form-label">Pronouns</label>
            <input type="text" class="form-control shadow-none" name="pronouns"
                placeholder="Pronouns" value="{{request.user.profile.pronouns}}">
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label class="form-label">Race</label>
            <input type="text" class="form-control shadow-none" name="race"
                placeholder="Race" value="{{request.user.profile.race}}">
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label class="form-label">Sexual Orientation</label>
            <input type="text" class="form-control shadow-none" name="sexual_orientation"
                placeholder="Sexual Orientation" value="{{request.user.profile.sexual_orientation}}">
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label class="form-label">Preferred Name</label>
            <input type="text" class="form-control shadow-none" name="preferred_name"
                placeholder="Preferred Name" value="{{request.user.profile.preferred_name}}">
        </div>
        

        <div class="col-md-4 input-group-lg my-2 d-flex align-items-center">
            <button class="btn btn-primary rounded-pill px-5">
                Update
            </button>
        </div>
    </div>
</form>