{% load customtags %}
<div class="col-md-12" hx-target="this" hx-swap="outerHTML">
    <div class="card">
        <div class="card-body">
            <form method="POST" autocomplete="off" enctype="multipart/form-data" hx-encoding='multipart/form-data'>
                {% csrf_token %}
                <input class="visually-hidden" type="text" name="doctor" value="{{request.user.doctor.id}}">
                <div class="row">
                    <div class="col-md-4 input-group-lg mb-2">
                        <label for="course" class="form-label">Course</label>
                        <select required id="course" class="form-control shadow-none" name="course"
                            placeholder="Course">
                            {% get_courses as courses %}
                            {% for course in courses %}
                            <option value="{{course.id}}">{{course.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 input-group-lg mb-2">
                        <label for="institution" class="form-label">Institution</label>
                        <input required type="text" id="institution" class="form-control shadow-none" name="institution"
                            placeholder="Institution">
                    </div>
                    <div class="col-md-4 input-group-lg mb-2">
                        <label for="year" class="form-label">Year</label>
                        <input required type="text" id="year" class="form-control shadow-none" name="year"
                            placeholder="Year">
                    </div>
                    <div class="col-md-4 input-group-lg mb-2">
                        <label for="file" class="form-label">Support Document</label>
                        <input required type="file" accept="application/pdf" id="file" class="form-control shadow-none"
                            name="file" placeholder="Supporting Document">
                    </div>
                    <div class="col-md-12 input-group-lg mb-2">
                        <label for="notes" class="form-label">Notes</label>
                        <textarea rows="4" id="notes" class="form-control shadow-none" name="notes"
                            placeholder="Anything to add on"></textarea>
                    </div>
                    <div class="col-md-12 input-group-lg my-2 d-flex align-items-center">
                        <button class="btn btn-primary rounded-pill px-5"
                            hx-post="{% url 'doctor:add-qualification' %}">
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>