<form action="{% url 'account_edit' %}" method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 mb-2">
            <h3>Basic user information</h3>
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control shadow-none" name="first_name" id="first_name"
                placeholder="First Name" value="{{request.user.first_name}}">
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" id="last_name" class="form-control shadow-none" name="last_name" placeholder="Last Name"
                value="{{request.user.last_name}}">
        </div>
        <div class="col-md-4 input-group-lg mb-2">
            <label for="username" class="form-label">Username</label>
            <input type="text" disabled id="username" class="form-control shadow-none" name="username"
                placeholder="Username" value="{{request.user.username}}">
        </div>
        <div class="col-md-4 input-group-lg mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" id="email" class="form-control shadow-none" name="email" placeholder="Email"
                value="{{request.user.email}}">
        </div>
        <div class="col-md-4 input-group-lg my-2 d-flex align-items-center">
            <button class="btn btn-primary rounded-pill px-5">
                Update
            </button>
        </div>
    </div>
</form>