{% extends './../../base.html' %}
{% load customtags %}

{% block title %} Conditions {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-description">
                <h1>Conditions / Diseases</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-primary">
                            <i class="material-icons">coronavirus</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Total Conditions</span>
                            <span class="widget-stats-amount">{{total_conditions}}</span>
                            <!-- <span class="widget-stats-info">471 Orders Total</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-negative align-self-start">
                            <i class="material-icons">keyboard_arrow_down</i> 4%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col">
        <div class="card">
            <div class="card-body">

                <div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <div class="h-100 d-flex align-items-end">
                                <p>Showing {{page_obj|length}} results of {{paginator_count}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <table id="datatable4" class="display nowrap custom-table" style="width:auto">
                    <thead>
                        <tr>
                            <th class="custom-th-text">Name</th>
                            <th class="custom-th-text">More Information</th>
                            <th class="custom-th">Created On</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in page_obj %}
                        <tr>
                            <td>
                                {{obj.name}}
                            </td>
                            <td>
                                <button class="btn btn-primary rounded-pill px-4" data-bs-toggle="modal"
                                    data-bs-target="#more-info" data-bs-condition="{{obj|to_json:'condition'}}">
                                    Preview More
                                </button>
                            </td>
                            <td>{{obj.created_on}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="custom-th-text">Name</th>
                            <th class="custom-th-text">More Information</th>
                            <th class="custom-th">Created On</th>
                        </tr>
                    </tfoot>
                </table>

                <div>
                    <div>
                        {% if request.GET.page %}
                        <p>Showing page {{request.GET.page}} of {{page_count}}</p>
                        {% else %}
                        <p>Showing page 1 of {{page_count}}</p>
                        {% endif %}
                    </div>
                    <div class="border-0">
                        <nav aria-label="Page navigation example py-2">
                            <ul class="pagination flex-wrap">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="{{ request.build_absolute_uri|update_page_param:page_obj.previous_page_number }}">
                                        Previous
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-disabled="true">
                                        Previous
                                    </a>
                                </li>
                                {% endif %}

                                {% for page in pages %}
                                {% if request.GET.page == page|stringformat:'i' %}
                                <li class="page-item active">
                                    <a class="page-link" aria-current="page" href="javascript:void(0)">
                                        {{page}}
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ request.build_absolute_uri|update_page_param:page }}">
                                        {{page}}
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="{{ request.build_absolute_uri|update_page_param:page_obj.next_page_number }}">
                                        Next
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" href="javascript:void(0)" aria-disabled="true">
                                        Next
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="more-info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="more-info-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="more-info-title"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="vstack gap-2">

                    <h3>Fact sheet</h3>
                    <div id="factsheet" class="whitespace-preline"></div>

                    <h3>Pathogen</h3>
                    <div id="pathogen" class="whitespace-preline"></div>

                    <h3>Clinical Features</h3>
                    <div id="clinical_features" class="whitespace-preline"></div>

                    <h3>Transimission</h3>
                    <div id="transmission" class="whitespace-preline"></div>

                    <h3>Diagnosis</h3>
                    <div id="diagnosis" class="whitespace-preline"></div>

                    <h3>Treatment</h3>
                    <div id="treatment" class="whitespace-preline"></div>

                    <h3>Prevention</h3>
                    <div id="prevention" class="whitespace-preline"></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function () {
        "use strict";
        $('select').select2()

        // DataTable
        var table = $('#datatable4').DataTable({
            scrollY: false,
            scrollX: true,
            pageLength: 50,

            paging: false,
            info: false,
            searching: false,
        });

    })
</script>

<script>
    const myModal = document.getElementById('more-info')

    myModal.addEventListener('shown.bs.modal', (event) => {
        const button = event.relatedTarget

        const condition = JSON.parse(button.getAttribute('data-bs-condition'))

        const modalTitle = myModal.querySelector('.modal-title')
        const factsheet = myModal.querySelector('#factsheet')
        const pathogen = myModal.querySelector('#pathogen')
        const clinical_features = myModal.querySelector('#clinical_features')
        const transmission = myModal.querySelector('#transmission')
        const diagnosis = myModal.querySelector('#diagnosis')
        const treatment = myModal.querySelector('#treatment')
        const prevention = myModal.querySelector('#prevention')


        modalTitle.textContent = condition?.name
        factsheet.innerHTML = condition?.factsheet
        pathogen.innerHTML = condition?.pathogen
        clinical_features.innerHTML = condition?.clinical_features
        transmission.innerHTML = condition?.transmission
        diagnosis.innerHTML = condition?.diagnosis
        treatment.innerHTML = condition?.treatment
        prevention.innerHTML = condition?.prevention

    })

    myModal.addEventListener('hide.bs.modal', (event) => {
        const button = event.relatedTarget

        const modalTitle = myModal.querySelector('.modal-title')
        const factsheet = myModal.querySelector('#factsheet')
        const pathogen = myModal.querySelector('#pathogen')
        const clinical_features = myModal.querySelector('#clinical_features')
        const transmission = myModal.querySelector('#transmission')
        const diagnosis = myModal.querySelector('#diagnosis')
        const treatment = myModal.querySelector('#treatment')
        const prevention = myModal.querySelector('#prevention')

        modalTitle.textContent = ""
        factsheet.innerHTML = ""
        pathogen.innerHTML = ""
        clinical_features.innerHTML = ""
        transmission.innerHTML = ""
        diagnosis.innerHTML = ""
        treatment.innerHTML = ""
        prevention.innerHTML = ""

    })
</script>
{% endblock %}