{% extends './../../base.html' %}
{% load customtags %}

{% block title %} Service Categories {% endblock %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-description">
                <h1>Service Categories</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-primary">
                            <i class="material-icons">category</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Total Service Categories</span>
                            <span class="widget-stats-amount">{{total_service_categories}}</span>
                            <!-- <span class="widget-stats-info">471 Orders Total</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-negative align-self-start">
                            <i class="material-icons">keyboard_arrow_down</i> 4%
                        </div> -->
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="row col">
        <div class="card">
            <div class="card-body">

                <div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <div class="h-100 d-flex align-items-end">
                                <p>Showing {{page_obj|length}} results of {{paginator_count}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <table id="datatable4" class="display nowrap custom-table" style="width:auto">
                    <thead>
                        <tr>
                            <th class="custom-th-text">Name</th>
                            <th class="custom-th-text">Description</th>
                            <th class="custom-th">Created On</th>
                            <th class="custom-th">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in page_obj %}
                        <tr>
                            <td>
                                <div data-bs-toggle="modal" data-bs-target="#service-category-update-modal" data-bs-data="{{obj|to_json:'service_category'}}">
                                    {{obj.name}}
                                </div>
                            </td>
                            <td>
                                {{obj.description}}
                            </td>
                            <td>{{obj.created_on}}</td>
                            <td>
                                <button class="btn btn-rounded btn-danger text-white"
                                    onclick="deleteEntry('api/service-categories/{{obj.id}}/')">
                                    <i class="material-icons-two-tone">delete</i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="custom-th-text">Name</th>
                            <th class="custom-th-text">Description</th>
                            <th class="custom-th">Created On</th>
                            <th class="custom-th">Actions</th>
                        </tr>
                    </tfoot>
                </table>

                <div class="pagination-section">
                    <div>
                        {% if request.GET.page %}
                        <p>Showing page {{request.GET.page}} of {{page_count}}</p>
                        {% else %}
                        <p>Showing page 1 of {{page_count}}</p>
                        {% endif %}
                    </div>
                    
                    <div class="border-0">
                        <nav aria-label="Page navigation example py-2">
                            <ul class="pagination flex-wrap">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="{{ request.build_absolute_uri|update_page_param:page_obj.previous_page_number }}">
                                        Previous
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-disabled="true">
                                        Previous
                                    </a>
                                </li>
                                {% endif %}
    
                                {% for page in pages %}
                                {% if request.GET.page == page|stringformat:'i' %}
                                <li class="page-item active">
                                    <a class="page-link" aria-current="page" href="javascript:void(0)">
                                        {{page}}
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ request.build_absolute_uri|update_page_param:page }}">
                                        {{page}}
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
    
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="{{ request.build_absolute_uri|update_page_param:page_obj.next_page_number }}">
                                        Next
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" href="javascript:void(0)" aria-disabled="true">
                                        Next
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- Update Service Category -->
<div class="modal fade" id="service-category-update-modal" tabindex="-1" aria-labelledby="category-update-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="category-update-modal-label">Update Service Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="service-category-update-form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name" class="form-label">Service Category Name</label>
                        <input name="name" id="name" class="form-control" placeholder="Category Name">
                    </div> 
                    <div class="row col">
                        <div class="msgSubmit py-2"></div>
                        <div class="msgSubmitErrors py-2"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="service-category-update-form" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        "use strict";
        $('select').select2()

        // DataTable
        var table = $('#datatable4').DataTable({
            scrollY: false,
            scrollX: true,
            pageLength: 50,

            paging: false,
            info: false,
            searching: false,
        });

    })
</script>
<script>
    const facilityTypeUpdateModal = document.getElementById('service-category-update-modal')
    $('#service-category-update-modal').on('show.bs.modal', e => {
        const button = e.relatedTarget
        const data = JSON.parse(button.getAttribute('data-bs-data'))
        facilityTypeUpdateModal.querySelector('#name').value = data?.name

        facilityTypeUpdateModal.querySelector('#service-category-update-form').addEventListener('submit', e => {
            e.preventDefault();
            updateEntry(`api/service-categories/${data.id}/`, 'service-category-update-form')
        })
    })
</script>
{% endblock %}