{% extends 'base.html' %}
{% load static %}

{% block title %} What people say about Resq247 {% endblock title %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area" style="background-image: url(/static/assets/img/page-title/bg.webp);">
    <div class="d-table" style="background: rgba(0, 0, 0, 0.7);">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Testimonials</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Our Testimonial</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Clients Area -->
<section class="clients-area ptb-100">
    <div class="container">
        <div class="section-title">
            <div class="section-title">
                <span>Testimonial</span>
                <h2>What Client’s Say About Us</h2>
                <p>
                    Here is what the platform users have to say.
                </p>
            </div>
        </div>

        <div class="clients-slider owl-carousel owl-theme">
            {% for testimonial in testimonials %}
            <div class="clients-item">
                <div class="content">
                    <div class="icon">
                        <i class="flaticon-left-quote"></i>
                    </div>
                    <p>
                        Using technology to deliver health care has several advantages, including cost savings,
                        convenience, and the ability to provide care to people with mobility limitations, or those in
                        rural areas who don't have access to a local doctor or clinic. For these reasons, the use of
                        telehealth has grown significantly over the last decade. Currently, 76 percent of hospitals in
                        the U.S. connect doctors and patients remotely via telehealth, up from 35 percent a decade ago.
                    </p>
                    <div class="info">
                        <img src="assets/img/client/1.jpg" alt="image">
                        <h4>Steven Jony</h4>
                        <p>Manager</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- End Clients Area -->

{% endblock %}