{% extends './../../../base.html' %}
{% load customtags %}

{% block title %} Doctors - {{doctor.user.first_name}} {{doctor.user.last_name}} {% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <div class="page-description">
                <h1>Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</h1>
            </div>
        </div>
    </div>

    <div class="card border {% if doctor.is_verified %} border-success {% else %} border-danger {% endif %}" style="border-width: 2px !important;">
        {% if doctor.is_verified %} 
        <button class="btn btn-success rounded">Authorized</button>
        {% else %}
        <button class="btn btn-danger rounded">Not Authorized</button>
          {% endif %}
        <div class="card-body">
            <form method="post" id="doctor-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 mb-3">
                        <h4>Basic Information</h4>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">First Name</label>
                            <input required type="text" class="form-control" placeholder="First Name"
                                name="user.first_name" value="{{doctor.user.first_name}}">
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Last Name</label>
                            <input required type="text" class="form-control" placeholder="Last Name"
                                name="user.last_name" value="{{doctor.user.last_name}}">
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Username</label>
                            <input required type="text" class="form-control" placeholder="Username" name="user.username"
                                value="{{doctor.user.email}}">
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Email</label>
                            <input required type="email" id="user-email" class="form-control" placeholder="Email"
                                name="doctor.user.email" value="{{doctor.user.email}}">
                        </div>
                    </div>

                    <!-- <div class="col-lg-12 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Password  <small>(8 characters long, include symbols, numbers & alphabets)</small> </label>
                            <input required type="password" maxlength="8" minlength="8" class="form-control pass1" placeholder="Password" name="user.password">
                        </div>
                    </div>
        
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="" class="form-label">Confirm Password <small>(8 characters long, include symbols, numbers & alphabets)</small></label>
                            <input required type="password" minlength="8" maxlength="8" class="form-control pass2" placeholder="Confirm Password"
                                name="user.password1">
                        </div>
                    </div> -->

                    <div class="col-12 mb-3">
                        <h4>Profile Information</h4>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Phone Number</label>
                            <div class="input-group">
                                <span class="input-group-text">+254</span>
                                <input required type="number" class="form-control phone" placeholder="700000000"
                                    name="user.profile.phone_number" value="{{doctor.user.profile.phone_number}}"
                                    minlength="9" maxlength="9">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="form-group overflow-hidden">
                            <label for="" class="form-label">Gender</label>
                            <input required type="text" class="form-control" placeholder="male/female"
                                value="{{doctor.user.profile.gender}}" name="user.profile.gender">
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">
                                Profile Photo
                                <small>Current:
                                    {% if doctor.user.profile.profile_photo %}
                                    <a href="{{doctor.user.profile.profile_photo.url}}" target="_blank"
                                        referrerpolicy="noreferrer">Preview on new tab</a>
                                    {% else %}
                                    Not set
                                    {% endif %}
                                </small>
                            </label>
                            <div class="input-group">
                                <input required type="file" accept="image/png, image/jpg, image/jpeg"
                                    class="form-control" name="user.profile.profile_photo" maxlength="9">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Town/City</label>
                            <input required type="text" value="{{doctor.user.profile.city}}" class="form-control"
                                placeholder="Town/City" name="user.profile.city">
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Address</label>
                            <div class="input-group">
                                <textarea required class="form-control" name="user.profile.address"
                                    placeholder="P.0 BOX 1212-00100 Nairobi">{{doctor.user.profile.address}}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <h4>Proffessional Information</h4>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <label for="" class="form-label">About</label>
                        <textarea required class="form-control" rows="4" placeholder="About You"
                            name="about">{{doctor.about}}</textarea>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Doctor Specialities</label>
                            {% for speciality in doctor.specialities.all %}
                            <div class="d-flex align-items-center gap-3">
                                <span class="material-icons text-primary">
                                    done_all
                                </span>
                                <p class="m-0 p-0 text-capitalize">{{speciality.name}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">
                                What are you Signing Up as
                                <small>
                                    Current: <span class="text-capitalize">{{doctor.speciality_field.name}}</span>
                                </small>
                            </label>
                            <input required type="text" class="form-control"
                                placeholder="Clinic, Hospital, Pharmacy, etc" name="speciality_field"
                                value="{{doctor.speciality_field}}">
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <label for="" class="form-label">Qualifications</label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="custom-th">Course</th>
                                        <th class="custom-th">Institution</th>
                                        <th class="custom-th">Year</th>
                                        <th class="custom-th">Notes</th>
                                        <th class="custom-th">File (PDF)</th>
                                    </tr>
                                </thead>
                                <tbody id="qualifications-holder">
                                    {% for q in doctor.qualifications.all %}
                                    <tr>
                                        <td>{{q.course.name}}</td>
                                        <td>{{q.institution}}</td>
                                        <td>{{q.year}}</td>
                                        <td>{{q.notes}}</td>
                                        <td>
                                            {% if q.file %}
                                            <a href="{{q.file.url}}" target="_blank">Preview</a>
                                            {% else %}
                                            No File
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <h4>Licensing</h4>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">License Number</label>
                            <input required type="text" class="form-control" placeholder="License Number"
                                name="license_number" value="{{doctor.license_number}}">
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">Regulatory Body</label>
                            <input required type="text" class="form-control" placeholder="Regulatory Body"
                                name="regulatory_body" value="{{doctor.regulatory_body}}">
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="" class="form-label">
                                License Document
                                <small>
                                    Current file:
                                    {% if doctor.license_file %}
                                    <!-- <a href="{{doctor.license_file.url}}" data-bs-src="{{doctor.license_file.url}}" data-bs-toggle="modal" data-bs-target="#file-preview-modal">Preview on new Page</a> -->
                                    <a href="{{doctor.license_file.url}}" target="_blank">Preview on new Tab</a>
                                    {% else %}
                                    Not uploaded
                                    {% endif %}
                                </small>
                            </label>
                            <input required type="file" accept="application/pdf" class="form-control"
                                name="license_file">
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <h4 class="mb-2">Facilities</h4>
                        <ul class="list-group">
                            {% if doctor.facility %}
                            <a href="{% url 'super-admin-facilities-single' doctor.facility.id %}" target="_blank" referrerpolicy="noreferrer"
                                class="list-group-item list-group-item-action">{{doctor.facility.name}}</a>
                            {% endif %}
                            {% for facility in doctor.facilities.all %}
                            <a href="{% url 'super-admin-facilities-single' facility.id %}" target="_blank" referrerpolicy="noreferrer"
                                class="list-group-item list-group-item-action">{{facility.name}}</a>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-12">
                        <div class="">
                            <div id="msgSubmit"></div>
                            <div id="msgSubmitErrors"></div>
                        </div>
                    </div>

                    <!-- <div class="col-lg-12">
                        <div class="send-btn">
                            <button class="default-btn">Sign Up Now</button>
                        </div>
                    </div> -->
                </div>
            </form>

            <h4 class="my-3">Actions</h4>

            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center gap-3">
                        {% if doctor.is_verified %}
                        <a href="{% url 'super-admin-doctors-change-status' doctor.id 'False' %}"
                            class="btn btn-danger d-flex align-items-center gap-3">
                            <span class="material-icons">
                                close
                            </span>
                            <span>
                                De-Authorize
                            </span>
                        </a>
                        {% else %}
                        <a href="{% url 'super-admin-doctors-change-status' doctor.id 'True' %}"
                            class="btn btn-primary d-flex align-items-center gap-3">
                            <span class="material-icons">
                                done
                            </span>
                            <span>
                                Authorize
                            </span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- File Preview Modal -->
<div class="modal fade" id="file-preview-modal" tabindex="-1" aria-labelledby="file-preview-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="file-preview-title">File Preview</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 70vh;">
                <embed src="" id="file-frame" frameborder="0" width="100%" height="100%"></embed>
                <object
                    data="http://localhost:8000/media/providers/files/Recent_-_OS-XZFL7RJ7-Company_Search_CR12_jnZ5k4Q.pdf"
                    type="application/pdf" width="100%" height="100%">
                    <embed
                        src="http://localhost:8000/media/providers/files/Recent_-_OS-XZFL7RJ7-Company_Search_CR12_jnZ5k4Q.pdf"
                        type="application/pdf">
                </object>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $('#doctor-form').on('submit', e => {
        e.preventDefault()
    })
    $('#file-preview-modal').on("show.bs.modal", e => {
        const trigger = e.relatedTarget
        const loc = window.location
        const src = trigger.getAttribute('data-bs-src')
        const fileEmbed = document.getElementById('file-preview-modal').querySelector('#file-frame')
        fileEmbed.src = `${loc.protocol}//${loc.host}${src}`
        console.log(`${loc.protocol}//${loc.host}${src}`)
    })
</script>
{% endblock %}