{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock title %}
{% block content %}
<style>
    .top-services-content {

        background-color: #0a58ca;
        color: #ffffff;
        -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
        padding: 30px 20px;
        text-align: center;
        border: 2px solid #bbcafc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        border-radius: 15px;
        margin-bottom: 30px;
    }

    .top-services-content .icon {
        margin-bottom: 25px;
    }

    .top-services-content .icon i {
        display: inline-block;
        height: 90px;
        width: 90px;
        line-height: 90px;
        background-color: #eaf7fd;
        color: #6c9dfb;
        font-size: 40px;
        border-radius: 50px;
        border: 1px dashed #a1c3fc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .top-services-content h4 {
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 12px;
    }

    .top-services-content p {

        color: #ffffff;

    }

    .about-content h5 {
        background-color: #d8ecff;
        padding: 0.5rem;
    }

    .top-services-content:hover {
        border: 2px solid #ffffff;
        background-color: #d3da00;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    .top-services-content:hover .icon i {
        background-color: #207ef7;
        border: 1px dashed #207ef7;
        color: #ffffff;
    }

    .top-services-content:hover h4 {

        color: #000;
    }

    .top-services-content:hover p {

        color: #000;
    }

    .top-services-content.two {
        border: 2px solid #ffffff;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .top-services-content.two:hover {
        border: 2px solid #bbcafc;
    }

    .services-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f3f9ff;
        opacity: 1;
        z-index: -1;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        border-radius: 10px;
    }
</style>
<!-- Start Page Title Area -->
<div class="page-title-area item-bg-17">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>About us</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>About us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<section class="about-area pt-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="{% static 'assets/img/patient.png' %}" alt="image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <h3>ABOUT US</h3>
                    <h5>We are on a mission to make healthcare better, affordable and accessible to all</h5>

                    <ul class="about-features two">
                        <li>
                            <span id="span1" data-bs-toggle="modal" data-bs-target="#info-modal"
                            data-bs-title="Covid-19 tests" data-bs-content="women-content">
                                <i class='flaticon-doctor'></i>
                                Women health
                            </span>
                            <div class="d-none" id="women-content">
                          
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We understand that taking care of your health can be a deeply personal and emotional
                                    experience, which is why we are dedicated to providing you with the best possible
                                    care through our virtual services.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    As a woman, you often prioritize the needs of your loved ones over your own health,
                                    but it's important to remember that taking care of yourself is essential to your
                                    overall well-being. Our platform makes it easier than ever to prioritize your
                                    health, without having to leave the comfort of your own home.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    Whether you're seeking support for a specific health concern, or simply looking for
                                    ways to improve your overall health and wellness, our platform offers a range of
                                    virtual services tailored specifically to women's health needs. From virtual
                                    consultations with women's health specialists, to remote monitoring for chronic
                                    conditions, we are committed to providing you with personalized care that meets your
                                    unique needs and concerns. </p>

                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We understand that discussing sensitive health issues can be intimidating, which is
                                    why our platform offers a safe and confidential environment for you to discuss your
                                    concerns with a caring and compassionate healthcare provider. Our team of women's
                                    health specialists is here to listen to you, support you, and provide you with the
                                    information and resources you need to make informed decisions about your health.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We forever remain passionate about empowering women to take charge of their health
                                    and live their best lives. We believe that every woman deserves access to
                                    high-quality healthcare, no matter where she lives or what her circumstances may be.
                                    So why wait? Take the first step towards a healthier, happier you today and schedule
                                    a virtual consultation with one of our women's health specialists. We're here for
                                    you every step of the way.
                        

                            </div>
                        </li>
                      

                            
                      


                        <li>
                            <span id="span2" data-bs-toggle="modal" data-bs-target="#info-modal"
                            data-bs-title="Covid-19 tests" data-bs-content="covid-content">
                                <i class='flaticon-worm'></i>
                                Covid-19 tests
                            </span>
                            
                            <div class="d-none" id="covid-content">
                               
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We understand that the COVID-19 pandemic has been a difficult and emotional time for
                                    everyone. That's why we're here to provide you with fast, reliable, and
                                    compassionate COVID-19 testing services from the safety and comfort of your own
                                    home.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    As the world continues to face the challenges of COVID-19, we want to help you feel
                                    safe, secure, and in control of your health. Whether you're experiencing symptoms or
                                    you've been exposed to someone who has COVID-19, our team will guide you through the
                                    testing process with care and compassion. </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We understand that getting tested for COVID-19 can be stressful, but we want to
                                    reassure you that our healthcare providers are here to support you every step of the
                                    way. We offer a range of COVID-19 testing options, including self-administered
                                    at-home tests and mail-in laboratory tests, all with the goal of making testing as
                                    easy and stress-free as possible.

                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We believe health and their safety is a fundamental human right. That's why we've
                                    made it our mission to provide you with fast, reliable, and compassionate testing
                                    services, without having to leave the safety of your home.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We know that waiting for COVID-19 test results can be an anxious time, which is why
                                    our team is dedicated to providing you with your test results as quickly as
                                    possible. Our goal is to help you make informed decisions about your health and to
                                    give you the peace of mind you need to move forward during these challenging times.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    So, if you have any concerns about COVID-19, please don't hesitate to schedule a
                                    virtual consultation with one of our healthcare providers. We're here to support
                                    you, to listen to you, and to help you navigate this difficult time with care and
                                    compassion.
                                </p>

                             
                            </div>
                        </li>

                

                   

                        <li>
                            <span id="span3" data-bs-toggle="modal" data-bs-target="#info-modal"
                            data-bs-title="Men’s health" data-bs-content="men-content">
                                <i class='flaticon-cough'></i>
                                Men’s health
                            </span>
                            

                            <div class="d-none" id="men-content">
                               
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We understand that taking care of your health can be a deeply personal and emotional
                                    experience, which is why we are dedicated to providing you with compassionate and
                                    personalized care through our virtual services. </p>

                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    As men, we often feel the pressure to be strong and independent, but it's important
                                    to remember that asking for help when it comes to our health is a sign of strength,
                                    not weakness. Our telemedicine platform offers a range of services tailored
                                    specifically to men's health needs, from virtual consultations with men's health
                                    specialists to remote monitoring for chronic conditions.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We understand that discussing sensitive health issues can be intimidating, but our
                                    telemedicine platform offers a safe and confidential environment for you to discuss
                                    your concerns with a caring and compassionate healthcare provider. Our team of men's
                                    health specialists is here to listen to you, support you, and provide you with the
                                    information and resources you need to make informed decisions about your health.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We are passionate about empowering men to take charge of their health and live their
                                    best lives. We believe that every man deserves access to high-quality healthcare, no
                                    matter where he lives or what his circumstances may be. So why wait? Take the first
                                    step towards a healthier, happier you today and schedule a virtual consultation with
                                    one of our men's health specialists. We're here for you every step of the way.
                                </p>

                            </div>
                        </li>


                    

                        <li>
                            <span id="span4" data-bs-toggle="modal" data-bs-target="#info-modal"
                                data-bs-title="Chronic medical conditions" data-bs-content="chronic-content">
                                <i class='flaticon-blood-test'></i>
                                Chronic medical conditions
                            </span>

                            <div class="d-none" id="chronic-content">
                                
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We take a holistic approach to your care, considering your lifestyle, emotional
                                    well-being, and overall quality of life.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    Our team of healthcare professionals includes doctors, nurses, and specialists who
                                    are experts in managing chronic conditions such as diabetes, hypertension, heart
                                    disease, and more. They will work with you to develop a personalized care plan that
                                    meets your unique needs and goals.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    Our telemedicine platform allows you to access healthcare services from the comfort
                                    of your home or office, without the need for travel or waiting in crowded waiting
                                    rooms. You can schedule virtual appointments with your healthcare provider at a time
                                    that is convenient for you, and receive your medications and medical supplies
                                    delivered right to your doorstep.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    Our remote monitoring services allow you to track your vital signs, such as blood
                                    pressure and blood sugar levels, and share this information with your healthcare
                                    provider for real-time monitoring and adjustment of your care plan because we
                                    understand that living with a chronic condition can be stressful and challenging,
                                    but you don't have to face it alone. Our telemedicine platform provides you with the
                                    support and resources you need to manage your condition and improve your quality of
                                    life.
                                </p>

                            </div>
                        </li>




                        <li>
                            <span id="span5" data-bs-toggle="modal" data-bs-target="#info-modal"
                                data-bs-title="Pediatrics" data-bs-content="pediatrics-content">
                                <i class='flaticon-family'></i>
                                Pediatrics
                            </span>
                            <div class="d-none" id="pediatrics-content">

                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We understand that being a parent is a beautiful journey, but it can also be
                                    challenging, especially when it comes to taking care of your child's health. We
                                    understand that nothing is more important to you than the health and well-being of
                                    your child. </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    On our platform, we provide you with the highest quality care for your child, no
                                    matter where you are. We understand that sometimes, a trip to the doctor's office
                                    can be overwhelming, especially for children during those odd hours , That's why we
                                    offer virtual consultations with our paediatric specialists from the comfort of your
                                    home or office.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We know that as a parent, your child's health is your top priority, and it can be
                                    emotional and stressful when your child is sick. That's why our team of
                                    paediatricians, nurses, and specialists are here to provide you with the support and
                                    care you need, every step of the way. </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    Our platform offers a range of services designed to meet the unique needs of your
                                    child. From preventive care to acute illness management, we are here to provide you
                                    with the personalized care and attention your child deserves.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    We know that every child is unique, and that's why our pediatricians take a holistic
                                    approach to care, considering not just your child's physical health, but also their
                                    emotional and developmental wellbeing.
                                </p>
                            </div>
                        </li>








                        <li>
                            <span id="span6" data-bs-toggle="modal" data-bs-target="#info-modal"
                                data-bs-title="Virtual Care" data-bs-content="virtual-content">
                                <i class='flaticon-insurance'></i>
                                Virtual care
                            </span>
                            <div class="d-none" id="virtual-content">
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    it's a lifeline that connects patients with their healthcare providers when they
                                    need it the most. For many patients, telemedicine has been a source of comfort and
                                    reassurance, allowing them to receive the care they need while staying safe and
                                    comfortable in their own homes.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    For patients who are dealing with chronic illnesses or disabilities, telemedicine
                                    can be a game-changer. It provides you with the flexibility and convenience they
                                    need to manage their health conditions effectively, without the stress and
                                    inconvenience of traveling to a healthcare facility. It's a lifeline that connects
                                    you with your healthcare providers, helping them to stay on top of their
                                    medications, monitor their symptoms, and get the support you need to stay healthy.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    For patients who live in rural or remote areas, telemedicine can be a godsend. It
                                    will provide you with access to healthcare services that might otherwise be out of
                                    reach, connecting you with doctors and specialists who can provide you with the care
                                    you need. It's a lifeline that bridges the gap between patients and healthcare
                                    providers, ensuring that everyone has access to the care they need, regardless of
                                    where they live and social economic status.
                                </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    And for patients who are dealing with the challenges of aging, telemedicine can be a
                                    source of comfort and companionship. It provides them with a connection to the
                                    outside world, helping them to stay connected with their healthcare providers and
                                    their loved ones. It's a lifeline that helps them to stay engaged, to stay
                                    connected, and to stay healthy. </p>
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                    In these difficult times, telemedicine is more than just a technology - it's a
                                    lifeline that connects us all. It's a reminder that, even when we're apart, we're
                                    all in this together. So let's embrace the power of telemedicine, and let's work
                                    together to build a brighter, healthier future for us all.
                                </p>


                            </div>
                        </li>

                        <!-- Information Modal -->
                        <div class="modal fade" id="info-modal" tabindex="-1" aria-labelledby="info-modal-title"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="info-modal-title"></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#make-appointment-modal">Make Appointment</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Make appointment Modal -->
                        <div class="modal fade" id="make-appointment-modal" tabindex="-1"
                            aria-labelledby="make-appointment-modal-title" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="make-appointment-modal-title">Book an
                                            appointment</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="signup-form" style="box-shadow: none;max-width:100% !important;"
                                            method="post" id="appointment-form" enctype="multipart/form-data"
                                            action="book">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-6 form-group mb-3">
                                                    <label for="name" class="form-label">First Name:</label>
                                                    <input type="text" id="name" name="f_name" class="form-control"
                                                        required>
                                                </div>

                                                <div class="col-lg-6 form-group mb-3">
                                                    <label for="name">Last Name:</label>
                                                    <input type="text" id="name" name="l_name" class="form-control"
                                                        required>
                                                </div>

                                                <div class="col-lg-6 form-group mb-3">
                                                    <label for="name">Your Residence</label>
                                                    <input type="text" id="location" name="location"
                                                        class="form-control" required>
                                                </div>

                                                <div class="col-lg-6 form-group mb-3">
                                                    <label for="name">Phone Number</label>
                                                    <input type="number" id="phone" name="p_number" class="form-control"
                                                        required>
                                                </div>
                                                <div class="col-lg-12 form-group mb-30">
                                                    <label for="name">Email Address</label>
                                                    <input type="email" id="name" name="email" class="form-control"
                                                        required>
                                                </div>
                                                <div class="col-lg-6 form-group mb-3">
                                                    <label for="name">Schedule Date</label>
                                                    <input type="date" id="date" name="date" class="form-control"
                                                        required>
                                                </div>

                                                <div class="col-lg-6 form-group mb-3">
                                                    <label for="time-input">Schedule time:</label>
                                                    <input type="time" id="time-input" name="time" class="form-control"
                                                        required>
                                                </div>
                                                <div class="col-lg-12 form-group mb-3">
                                                    <label for="message">Why you want to book an appointment</label>
                                                    <textarea id="message" name="message" class="form-control"
                                                        required></textarea>
                                                </div>

                                            </div>


                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" form="appointment-form" class="btn btn-primary">Book
                                            Appointment</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service details -->



<div class="service-details ptb-10">
    <div class="container">
        <div class="container-fluid pt-100">

            <div class="row">
                <div class="col-lg- col-md-6 mb-5">
                    <div class="top-services-content h-100">
                        <div class="icon">
                            <i class="flaticon-clinic"></i>
                        </div>
                        <h4>WHO WE ARE</h4>
                        <p>We help medical facilities deploy sustainable digital healthcare solutions to advance patient
                            outcomes. ResQ247 is at the forefront of making virtual care and telehealth a reality to all
                            .</p>

                    </div>
                </div>

                <div class="col-lg- col-md-6 mb-5">
                    <div class="top-services-content h-100">
                        <div class="icon">
                            <i class="flaticon-insurance"></i>
                        </div>
                        <h4>MISSION</h4>
                        <p>Improve access to healthcare for all by leveraging technology and expertise to provide
                            high-quality telehealth and telemedicine services.</p>

                    </div>
                </div>

                <div class="col-lg- col-md-6 mb-5">
                    <div class="top-services-content two h-100">
                        <div class="icon">
                            <i class="flaticon-relationship"></i>
                        </div>
                        <h4>VISION</h4>
                        <p>
                            To create a world where access to high-quality healthcare is not limited by geography or
                            socioeconomic status, and where technology-enabled healthcare solutions are a standard part
                            of the healthcare ecosystem, improving patient outcomes and quality of life.
                        </p>
                    </div>
                </div>

                <div class="col-lg- col-md-6 mb-5">
                    <div class="top-services-content h-100">
                        <div class="icon">
                            <i class="flaticon-clinic"></i>
                        </div>
                        <h4>VALUES</h4>
                        <p>
                            Accessibility, innovation, patient-centeredness, quality, collaboration, and empathy
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-details-content ptb-100">
            <h4>ABOUT US</h4>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="services-item bg-1">
                        <div class="icon">
                            <i class="flaticon-bacteria"></i>
                        </div>

                        <p>
                            ResQ247 is a leading multi-brand provider in medical technology and products in Kenya. We
                            offer a comprehensive platform and cutting-edge technological solutions in the medical
                            industry to both healthcare providers and patients. Our broad array of products and services
                            are designed to enhance the quality of care and improve health outcomes for patients.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="services-item bg-2">
                        <div class="icon">
                            <i class="flaticon-shield"></i>
                        </div>

                        <p> Our virtual care and online medical consultancy services enable patients to access medical
                            consultations and support from the comfort of their own homes. Our licensed medical
                            practitioners and specialists provide personalized care and support, using the latest
                            technologies to ensure that patients receive the highest quality care.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="services-item bg-3">
                        <div class="icon">
                            <i class="flaticon-beauty-treatment"></i>
                        </div>
                        <a href="#">
                        </a>
                        <p> We also offer mobility hardware and assistive technology to support patients with
                            disabilities, enabling them to live more independent lives. Our range of medical devices
                            includes state-of-the-art equipment for diagnostic testing, monitoring, and treatment,
                            helping healthcare providers to deliver the best possible care to their patients.
                        </p>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="services-item bg-4">
                        <div class="icon">
                            <i class="flaticon-mental-health"></i>
                        </div>
                        <p>
                            Furthermore, we offer pharmacetical and nutraceutical products to support the health and
                            wellbeing of patients. Our licensed medical practitioners and specialists provide expert
                            advice and guidance to help patients make informed decisions about their health.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="services-item bg-5">
                        <div class="icon">
                            <i class="flaticon-crutches"></i>
                        </div>
                        <p>
                            At ResQ247, we are committed to delivering the best possible care to our patients. Our
                            cutting-edge technological solutions, combined with our team of experienced medical
                            professionals, enable us to provide personalized care and support that is tailored to the
                            individual needs of each patient. Contact us today to learn more about our products and
                            services or to schedule an appointment.
                        </p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h4>Scale Patient Safety, Improve Staff Efficiency, and Reduce Burnout</h4>
                    <p>ResQ247 platform are of high interest to healthcare organizations looking to improve
                        care quality, patient safety amid rising staff shortages and increasing patient loads.
                        Our solutions have potential to transform healthcare delivery by making it more
                        accessible, convenient, and cost-effective coupled with virtual monitoring it offers a
                        more affordable, efficient and a reliable service to patients your patients. Access patients’
                        data on the go, easy booking, data management from one dashboard, Monitor facility
                        activities still from the same dashboard.
                        Next-generation, predictive analytic patient monitoring lowers healthcare costs, improves
                        clinical outcomes and enhances the patient experience in hospital and at home, post-acute
                        care and chronic care management.</p>

                </div>
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src="{% static 'assets/img/health-services.jpg' %}" alt="image">
                    </div>
                </div>
            </div>


            <div class="container-fluid pt-50 pb-10">
                <div class="section-title">

                </div>

            </div>

        </div>
    </div>
</div>
<!-- End Service details -->
<script>
    const timeInput = document.getElementById('time-input');

    timeInput.addEventListener('input', function () {
        const selectedTime = this.value;
        const selectedHour = parseInt(selectedTime.split(':')[0]);

        // Check if selected time is before 8 am or after 4 pm
        if (selectedHour < 8 || selectedHour >= 16) {
            alert('Please select a time strictly between 8 am and 4 pm EAT.');
            this.value = '';
        }
    });
    const dateInput = document.getElementById('date');
    const today = new Date();

    dateInput.addEventListener('input', function () {
        const selectedDate = new Date(this.value);
        if (selectedDate < today) {
            alert('Date cannot be in the past');
            this.value = '';
        }
    });
</script>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myButton");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("closeM")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>
<script>
    // Get all the clickable spans
    const clickableSpans = document.querySelectorAll('.clickable-span');

    // Loop through the clickable spans and attach a click event listener to each one
    clickableSpans.forEach(span => {
        span.addEventListener('click', function () {
            // Get the ID of the clicked span
            const spanId = this.id;

            // Get the ID of the modal corresponding to the clicked span
            const modalId = `modal${spanId.slice(4)}`;

            // Get the modal element
            const modal = document.getElementById(modalId);

            // Get the close button element inside the modal
            const closeButton = modal.querySelector('.close');

            // When the user clicks on the span, display the corresponding modal
            modal.style.display = 'block';

            // When the user clicks on the close button, hide the modal
            closeButton.addEventListener('click', function () {
                modal.style.display = 'none';
            });
        });
    });

</script>


<script>
    const phoneInput = document.getElementById('phone');

    phoneInput.addEventListener('input', function () {
        const inputValue = this.value;

        // Remove all non-digit and non-plus characters from input
        const strippedValue = inputValue.replace(/[^0-9+]/g, '');

        // If stripped value is longer than 4 characters, truncate it to the first 4 characters
        const truncatedValue = strippedValue.substring(0, 9);

        // If stripped value contains more than one plus sign, remove all but the first one
        const finalValue = truncatedValue.replace(/\+/g, (match, offset) => offset ? '' : match);

        // Update input value to final value
        if (finalValue !== inputValue) {
            this.value = finalValue;
        }
    });

</script>
<script>
    const infoModal = document.getElementById('info-modal')
    infoModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget

        const title = button.getAttribute('data-bs-title')
        const contentId = button.getAttribute('data-bs-content')
        const content = $(`#${contentId}`).html()

        // Update the modal's content.
        const modalTitle = infoModal.querySelector('.modal-title')
        const modalBody = infoModal.querySelector('.modal-body')

        modalTitle.textContent = title
        modalBody.innerHTML = content
    })
</script>
{% endblock %}