{% extends 'base.html' %}
{% load static %}
{% load customtags %}

{% block title %} Medical Telehealth {% endblock %}

{% block styles %}
<link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'superadmin/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Start Main Banner Area -->

<div class="main-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="main-banner-content">
                            <h2>Achieve an End-to-end Virtual Care Solution
                                Optimizing on the Power of technology
                            </h2>
                            <p>
                                Virtual care, also known as telemedicine and Telehealth , is growing in popularity due
                                to its convenience for patients and efficiency for healthcare providers. As a result,
                                healthcare technology leaders are focusing on refining the IT infrastructure that
                                supports virtual care to remain competitive in the market. Providing a high-quality
                                digital experience can help position providers as leaders in the industry, attracting
                                both patients and caregiver talent.

                            </p>
                            <div class="banner-form">
                                <form action="{% url 'doctor_search' %}" method="get">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <div class="form-group">
                                                <select class="w-100" name="specialist">
                                                    <option value="">Select Specialist</option>
                                                    {% for spec in 'spec'|specialities %}
                                                    <option value="{{spec.id}}">
                                                        {{spec.name}}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <div class="form-group">
                                                <select class="w-100" name="condition">
                                                    <option value="">Select Condition</option>
                                                    {% for illness in 'illness'|illness %}
                                                    <option value="{{illness.id}}">{{illness.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <div class="form-group">
                                                <button type="submit" class="banner-form-btn">
                                                    Search
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="banner-btn">
                                <a href="https://virtualcare.resq247.life/" class="default-btn">
                                    Make An Appointment
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="banner-image">
                            <img src="{% static 'assets/img/doctor.png' %}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="default-shape">
        <div class="shape-1">
            <img src="{% static 'assets/img/shape/shape-1.png' %}" alt="image">
        </div>

        <div class="shape-2 rotateme">
            <img src="{% static 'assets/img/shape/shape-3.jpg' %}" alt="image">
        </div>

        <div class="shape-3">
            <img src="{% static 'assets/img/shape/shape-3.jpg' %}" alt="image">
        </div>

        <div class="shape-4">
            <img src="{% static 'assets/img/shape/shape-3.jpg' %}" alt="image">
        </div>

        <div class="shape-5">
            <img src="{% static 'assets/img/shape/shape-2.png' %}" alt="image">
        </div>

        <div class="shape-6">
            <img src="{% static 'assets/img/shape/shape-5.png' %}" alt="image">
        </div>

        <div class="shape-7">
            <img src="{% static 'assets/img/shape/shape-7.png' %}" alt="image">
        </div>
    </div>
</div>
<!-- End Main Banner Area -->

<!-- Start Top Services Area -->
<section class="top-services-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="top-services-content two h-100">
                    <div class="icon">
                        <i class="flaticon-relationship"></i>
                    </div>
                    <h3> Telehealth </h3>
                    <p>Facilitates secure, seamless and synchronous audio and video communication and collaboration
                        between clinicians and patients to manage care in a virtual setting.

                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="top-services-content two h-100">
                    <div class="icon">
                        <i class="flaticon-insurance"></i>
                    </div>
                    <h3>Disruptive Technology </h3>
                    <p>
                        We develop innovative solutions that promote the future of care and improve the patient
                        experience, from the digital front door to the hospital in the home.

                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="top-services-content two h-100">
                    <div class="icon">
                        <i class="flaticon-clinic"></i>
                    </div>
                    <h3>Remote Patient Monitoring</h3>
                    <p>
                        Allows patients to measure and securely transmit vital data to their provider to ensure they’re
                        managing their health in accordance with their care plan. Clinicians can make timely adjustments
                        as needed.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Top Services Area -->

<!-- Start About Area -->
<section class="about-area pb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="{% static 'assets/img/about.png' %}" alt="image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <h3>Realizing the Power of Virtual Care
                    </h3>
                    <p>
                        There are compelling reasons for healthcare technology leaders to refine the IT infrastructure
                        that supports virtual care, not in the least because it is poised to become highly competitive
                        due to its effectiveness and efficiency for the provider and convenience for the patient.
                        Providers that can deliver a high-quality digital experience will position themselves as
                        front-runners for both consumers and caregiver talent.
                    </p>

                    <ul class="about-features">
                        <li>
                           <span id="span6" data-bs-toggle="modal" data-bs-target="#info-modal" data-bs-title="Personalized care" data-bs-content="personalized-care" >
                                <i class='flaticon-check'></i>
                                Personalized care
                            </span>
                            <div class="d-none" id="personalized-care">
                              <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                By leveraging advanced IT infrastructure, healthcare providers can collect and analyse
                                patient data to offer personalized care that is tailored to individual patient needs.
                                This can improve patient outcomes and satisfaction.
                            </p>
                        </div>
                        </li>
                        
                        <li>
                             <span id="span5" data-bs-toggle="modal" data-bs-target="#info-modal" data-bs-title="Cost-effective care" data-bs-content="cost-effective" >
                                <i class='flaticon-check'></i>
                                Cost-effective care
                            </span>
                           <div class="d-none" id="cost-effective">
                            
                            <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                Virtual care can reduce healthcare costs by eliminating the need for in-person visits,
                                which can be expensive for patients and providers alike. Virtual care can also reduce
                                costs associated with administrative tasks and overhead.
                            </p>
                        </div>
                        </li>
                        
                        
                        <li>
                             <span id="span4" data-bs-toggle="modal" data-bs-target="#info-modal" data-bs-title="Improved patient engagement" data-bs-content="improved-patient" >
                                <i class='flaticon-check'></i>
                                Improved patient engagement
                            </span>
                            
                            <div class="d-none" id="improved-patient">
                           
                                <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                Virtual care can help to increase patient engagement and participation in their own
                                care, as patients can access health information, track their progress, and communicate
                                with their providers more easily.
                                </p>
                            </div>
                            
                        </li>
                        
                        <li>
                            <span id="span3" data-bs-toggle="modal" data-bs-target="#info-modal" data-bs-title="Improved provider satisfaction" data-bs-content="improved-satisfaction" >
                                <i class='flaticon-check'></i>
                                Improved provider satisfaction
                            </span>

                        <div class="d-none" id="improved-satisfaction">
                            
                            <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                Advanced IT infrastructure can help to reduce provider burnout and increase job
                                satisfaction by reducing administrative tasks, improving workflow efficiency, and
                                enabling providers to deliver high-quality care to patients.
                            </p>
                        </div>
                    
                        </li>
                        
                        <li>
                           <span id="span2" data-bs-toggle="modal" data-bs-target="#info-modal" data-bs-title="Enhanced security and privacy" data-bs-content="enhanced-security" >
                                <i class='flaticon-check'></i>
                                Enhanced security and privacy
                            </span>
                            
                           <div class="d-none" id="enhanced-security">
                            
                            <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                Advanced IT infrastructure can provide enhanced security and privacy for patient data,
                                ensuring that patient information is protected from unauthorized access or theft.
                            </p>
                        </div>
                        </li>

                        <li>
                        
                             <span id="span1" data-bs-toggle="modal" data-bs-target="#info-modal" data-bs-title="Better outcomes tracking" data-bs-content="tracking" >
                                <i class='flaticon-check'></i>
                                 Better outcomes tracking
                            </span>
                            
                            <div class="d-none" id="tracking">
                           
                            <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                IT infrastructure can help healthcare providers to track patient outcomes more
                                effectively, enabling them to identify areas where care can be improved and adjust
                                treatment plans accordingly.
                            </p>
                        </div>
                            
                        </li>
                        <li>
                           <span id="span7" data-bs-toggle="modal" data-bs-target="#info-modal" data-bs-title="Improved care coordination" data-bs-content="coordination" >
                                <i class='flaticon-check'></i>
                                 Improved care coordination
                            </span>
                            
                            <div class="d-none" id="coordination">
                            
                            <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                Virtual care can improve care coordination among healthcare providers, enabling them to
                                collaborate more effectively and deliver better care to patients. </p>
                        </div>
                        </li>
                        <li>
                        
                             <span id="span8" data-bs-toggle="modal" data-bs-target="#info-modal" data-bs-title="Greater flexibility" data-bs-content="greater-flexibility" >
                                <i class='flaticon-check'></i>
                                 Greater flexibility
                            </span>
                            
                            <div class="d-none" id="greater-flexibility">
                            
                            <p class="" style="padding: 0.5rem;border-radius: 10px;margin-bottom: 0;">
                                Virtual care can provide greater flexibility for patients and providers, enabling them
                                to access and deliver care from any location with an internet connection. This can help
                                to reduce scheduling conflicts and improve access to care. </p>
                        </div>
                        </li>
                    </ul><br>

                    
                    <!--main modal-->
                      <div class="modal fade" id="info-modal" tabindex="-1" aria-labelledby="info-modal-title"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="info-modal-title"></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <span class="fs-6">Learn how healthcare organizations could potentially see major gains from the
                        expansion of virtual care.</span>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Services Area -->
<section class="services-area  pt-100 pb-70">
    <div class="container">
        <div class="section-title_care">
            <h2 class="text-white fs-1 mb-3 text-center">Evolution and advancement <br> of virtual Care.
            </h2>

            <ul class="accordion">
                <li class="accordion-item" style="box-shadow:none; border:none;background: transparent;">

                    <a class="accordion-title" href="javascript:void(0)" style="padding: inherit;color: white">
                        Healthcare organizations expanded virtual care around 2020 and 2021 at an astounding rate,
                        allowing them to continue caring for patients during the COVID-19 pandemic in ways that
                        addressed safety, convenience and efficiency.
                        <small style="background: none; color: blue;"> Read more </small>
                    </a>
                    <p class="accordion-content text-white" style="display: none;">
                        In the process, many providers assembled disparate, disconnected solutions and technology that
                        created silos, inconsistent and poor workflows, and less-than-optimal protections for privacy
                        and security. The challenge for providers currently is to knit those hastily erected,
                        crisis-driven systems into a cohesive, intentional and strategic platform to provide exceptional
                        virtual care to their patients.

                        There are compelling reasons for healthcare technology leaders to refine the IT infrastructure
                        that supports virtual care. Chief among them is that virtual care is poised to become highly
                        competitive, thanks to its effectiveness and efficiency for the provider and its convenience for
                        the patient. Providers that can deliver a high-quality digital experience will position
                        themselves as front-runners for both consumers and caregiver talent.

                        While organizations refine the technologies underpinning virtual care, they also will need to
                        establish appropriate policies and procedures. Together, these will facilitate compliance with
                        regulations and best practices, and will help organizations increase adoption of virtual
                        services by patients and clinicians.
                        From a competition perspective, virtual care has the potential to significantly alter the
                        healthcare landscape. Maturing capabilities, combined with patients’ embrace of virtual care,
                        open the door to new competitors, disruptions and enhanced consumer expectations. As the field
                        continues to evolve, providers must incorporate these considerations into their post-pandemic
                        business strategies.
                        <a class="accordion-title" href="javascript:void(0)">
                            <small style="background: none; color: blue;"> Read less </small>
                        </a>
                    </p>
                </li>
            </ul>
        </div>

        <div class="row mt-3">
            <div class="col-lg-4 col-md-6">
                <div class="services-item bg-1" style="--bg-image: url({% static 'assets/img/family.jpg' %})">
                    <div class="icon">
                        <i class="flaticon-bacteria"></i>
                    </div>
                    <a href="#">
                        <h3>All-In-One Solution for Clinics & hospitals</h3>
                    </a>
                    <p>The Only solution for Your medical facility Needs</p>
                    {% comment %} <a href="#" class="read-btn">Read More +</a> {% endcomment %}
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-item bg-2" style="--bg-image: url({% static 'assets/img/image1.jpg' %})">
                    <div class="icon">
                        <i class="flaticon-shield"></i>
                    </div>
                    <a href="#">
                        <h3>Simple, Secure, Telemedicine, Med E-commerce & pharmacy platform </h3>
                    </a>
                    <p>Video Calls, Care Plans, Secure Messaging. One solution for all your Telehealth and telemedicine
                        needs</p>
                    {% comment %} <a href="#" class="read-btn">Read More +</a> {% endcomment %}
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-item bg-3 " style="--bg-image: url({% static 'assets/img/cancer.jpg' %})">
                    <div class="icon">
                        <i class="flaticon-beauty-treatment"></i>
                    </div>
                    <a href="#">
                        <h3>Engage & Retain Patients </h3>
                    </a>
                    <p>Stay Connected With Your Patients Increasing Revisits And Revenue Growth</p>
                    {% comment %} <a href="#" class="read-btn">Read More +</a> {% endcomment %}
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-item bg-4" style="--bg-image: url({% static 'assets/img/conditions.jpg' %})">
                    <div class="icon">
                        <i class="flaticon-mental-health"></i>
                    </div>
                    <a href="#">
                        <h3>Appointments On Your Virtual Practice</h3>
                    </a>
                    <p>Manage your clinic and online appointments and consultations in one place. Allow staff to
                        schedule appointments for patients or have patient book them online or on our mobile app.</p>
                    {% comment %} <a href="#" class="read-btn">Read More +</a> {% endcomment %}
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-item bg-5" style="--bg-image: url({% static 'assets/img/first.jpg' %})">
                    <div class="icon">
                        <i class="flaticon-crutches"></i>
                    </div>
                    <a href="#">
                        <h3>Grow Your Practice</h3>
                    </a>
                    <p>Attract and Acquire More Patients with Patient Marketing & Reputation Management</p>
                    {% comment %} <a href="#" class="read-btn">Read More +</a> {% endcomment %}
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-item bg-6" style="--bg-image: url({% static 'assets/img/lab.jpg' %})">
                    <div class="icon">
                        <i class="flaticon-pregnancy"></i>
                    </div>
                    <a href="#">
                        <h3>Remote Monitoring</h3>
                    </a>
                    <p>Reduce hospital re-admissions with timely health tracking and intervention with Remote Patient
                        Monitoring on the Virtual Practice.</p>
                    {% comment %} <a href="#" class="read-btn">Read More +</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<!-- Start App Area -->
<section class="app-area ptb-100">
    <div class="container-fluid pl-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="app-image">
                    <img src="{% static 'assets/img/app.png' %}" alt="image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="app-content">
                    <span>Appointment</span>
                    <h3>How To Get Started by Using Our App</h3>
                    <p> Many healthcare systems around the world together with government agencies and startup companies
                        are building and delivering Telehealth solutions</p>


                    <div class="app-text">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <h4>Pick Your Package</h4>
                        <p>Our telehealth app offers a range of packages to suit different needs and budgets.
                            <a href="{% url 'how-it-works' %}" style="padding: inherit;">
                                <small style="background: none; color: blue;"> Read more</small>
                            </a>
                        </p>
                    </div>

                    <div class="app-text">
                        <div class="icon">
                            <i class="flaticon-mobile-app"></i>
                        </div>
                        <h4>Resq 247 App Setup</h4>
                        <p>Setting up our telehealth app is quick and easy!
                            <a href="{% url 'how-it-works' %}" style="padding: inherit;">
                                <small style="background: none; color: blue;"> Read more</small>
                            </a>
                        </p>
                    </div>

                    <div class="app-text">
                        <div class="icon">
                            <i class="flaticon-patient"></i>
                        </div>
                        <h4>Patient Onboarding</h4>
                        <p> Patient onboarding is the process of introducing new patients to our telehealth app and
                            getting them
                            started with virtual care.
                            <a href="{% url 'how-it-works' %}" style="padding: inherit;">
                                <small style="background: none; color: blue;"> Read more</small>
                            </a>
                        </p>
                    </div>

                    <div class="app-text">
                        <div class="icon">
                            <i class="flaticon-broadcasting"></i>
                        </div>
                        <h4>Going Live</h4>
                        <p>Going live with our telehealth app is a simple and straightforward process.
                            <a href="{% url 'how-it-works' %}" style="padding: inherit;">
                                <small style="background: none; color: blue;"> Read more</small>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End App Area -->

<!-- Start Solutions Area -->
<section class="solutions-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="solutions-content">
                    <span>Solutions</span>
                    <h3>Solutions</h3>
                    <div class="faq-accordion-content">
                        <ul class="accordion">
                            <li class="accordion-item" style="box-shadow:none; border:none;">
                                <a class="accordion-title" href="javascript:void(0)" style="padding: inherit;">
                                    Unpacking universal healthcare coverage. The industry landscape is rapidly changing,
                                    Telehealth virtual health care IT
                                    <small style="background: none; color: blue;"> Read more<i
                                            class="fa fa-angle-double-right"
                                            style="background: none; color: blue;position: relative;left: -0.8rem; right: auto;top: auto;bottom: 0.2rem;"></i></small>
                                </a>
                                <p class="accordion-content">

                                    solutions provide many benefits to both healthcare providers and patients, including
                                    increased access to care, improved patient satisfaction, and reduced costs.
                                    Healthcare providers must carefully evaluate the various options available and
                                    ensure that the solutions they choose create an environment where healthcare is
                                    never a struggle. </p>

                            </li>
                        </ul>
                    </div>

                    <ul class="solutions-features">

                        <li>
                            <span>
                                <a href="{% url 'analytic' %}" class="nav-link">Analytic Solutions </a>
                            </span>

                        </li>

                        <li>
                            <span>
                                <a href="{% url 'healthcare' %}" class="nav-link"> Healthcare services financing
                                </a>

                            </span>

                        </li>

                        <li>
                            <span>
                                <a href="{% url 'equip' %}" class="nav-link">
                                    Healthcare equip financing
                                </a>
                            </span>

                        </li>

                        <li>
                            <span>
                                <a href="{% url 'shop' %}" class="nav-link">
                                    Med E-commerce
                                </a>
                            </span>

                        </li>

                        <li>
                            <span>
                                <a href="{% url 'medicare' %}" class="nav-link">
                                    IT Medicare solutions
                                </a>

                            </span>
                        </li>

                        <li>
                            <span>
                                <a href="{% url 'telehealth' %}" class="nav-link">
                                    Telehealth facilities Hosting
                                </a>
                            </span>
                        </li>

                        <li>
                            <span>
                                <a href="{% url 'emergency' %}" class="nav-link">
                                    Emergency medical response

                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="solutions-image">
                    <img src="{% static 'assets/img/solutions.png' %}" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Solutions Area -->

<!-- Start Doctor Area -->
<section class="doctor-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="section-title">
            <div class="section-title">
                <span>Our Doctors</span>
                <h2>Featured Medical Specialists</h2>
                <p>
                    People trust us with their lives. We have the opportunity to help people change their health for the
                    better.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="doctor-item">
                    <div class="image">
                        <img src="{% static 'assets/img/team/image1.jpg' %}" alt="image">
                    </div>
                    <div class="content">
                        <h3>Dr. James Adult</h3>
                        <span>Cardiologist</span>

                        <ul class="social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="doctor-item">
                    <div class="image">
                        <img src="{% static 'assets/img/team/image2.jpg' %}" alt="image">
                    </div>
                    <div class="content">
                        <h3>Dr. James Alison</h3>
                        <span>Medicine</span>

                        <ul class="social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="doctor-item">
                    <div class="image">
                        <img src="{% static 'assets/img/team/image3.jpg' %}" alt="image">
                    </div>
                    <div class="content">
                        <h3>Dr. Peter Adlock</h3>
                        <span>Neurologiest</span>

                        <ul class="social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="doctor-item">
                    <div class="image">
                        <img src="{% static 'assets/img/team/image4.jpg' %}" alt="image">
                    </div>
                    <div class="content">
                        <h3>Dr. Jelin Alis</h3>
                        <span>Medicine</span>

                        <ul class="social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Doctor Area -->

<!-- Start Appointment Area -->
<section class="appointment-area ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-fun-fact">
                            <h3>
                                <span class="odometer" data-count="2700">00</span>
                                <span class="sign-icon">+</span>
                            </h3>
                            <p>Care Locations</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-fun-fact">
                            <h3>
                                <span class="odometer" data-count="2.7">00</span>
                                <span class="sign-icon">K</span>
                            </h3>
                            <p>Virtual Care Solutions</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-fun-fact">
                            <h3>
                                <span class="odometer" data-count="99.60">00</span>
                                <span class="sign-icon">%</span>
                            </h3>
                            <p>Connections Success Rate</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-fun-fact">
                            <h3>
                                <span class="odometer" data-count="30">00</span>
                                <span class="sign-icon">+</span>
                            </h3>
                            <p>Award Winning</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="appointment-form">
                    <div class="content">
                        <span>Call to Action</span>
                        <h3>Make An Appointment</h3>
                    </div>
                    <form action="{% url 'doctor_search' %}" method="get">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="form-group">
                                    <select class="w-100" name="specialist">
                                        <option value="">Select Specialist</option>
                                        {% for spec in 'spec'|specialities %}
                                        <option value="{{spec.id}}">
                                            {{spec.name}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="form-group">
                                    <select class="w-100" name="condition">
                                        <option value="">Select Condition</option>
                                        {% for illness in 'illness'|illness %}
                                        <option value="{{illness.id}}">{{illness.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <button type="submit" class="default-btn w-100">
                                    Search
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Appointment Area -->

<!-- Start Consult Area -->
<section class="consult-area ptb-100">
    <div class="container-fluid pl-0">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="consult-image">
                    <img src="{% static 'assets/img/consult.png' %}" alt="image">
                </div>
            </div>

            <div class="col-lg-5">
                <div class="consult-content">
                    <span>Online Consult</span>
                    <h3>Get 24/7 Care Right From Your Phone</h3>
                    <p>We provide 24/7 care for you we are just a phone away</p>
                    <ul class="list">
                        <li>
                            <i class="flaticon-check-1"></i>
                            Get unlimited 24/7 Video Chat with a provider at no extra cost
                        </li>
                        <li>
                            <i class="flaticon-check-1"></i>
                            Easily book appointments and renew prescriptions
                        </li>
                        <li>
                            <i class="flaticon-check-1"></i>
                            Skip unnecessary trips to the ER or urgent care
                        </li>
                        <li>
                            <i class="flaticon-check-1"></i>
                            Have a Remote Visit with your primary care provider over video
                        </li>
                        <li>
                            <i class="flaticon-check-1"></i>
                            A message with your provider
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Consult Area -->

<!-- Start Blog Area -->
<div class="container">
    <div class="section-title">
        <span>News</span>
        <h2 class="text-capitalize">HEALTH TIPS &amp; BLOG SECTION</h2>
        <p>
            At times, it can be challenging to prioritize your health when you have so much on our plate. We are
            here to help you take small, but significant steps towards better health and wellbeing. Here are some
            simple health tips to get you started:
        </p>
    </div>
</div>

<div class="py-3 bg-light blog-area">
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-md-3">
                <div class="services-item">
                    <div class="icon">
                        <i class="flaticon-check"></i>
                    </div>
                    <h3 class="text-center"> Move Your Body</h3>
                    <p class="text-center">
                        Exercise boosts not only your physical health but also your mental
                        wellbeing. Try to incorporate movement into your daily routine, whether it&#39;s a quick
                        walk, a
                        yoga session, or dancing around your living room.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services-item">
                    <div class="icon">
                        <i class="flaticon-check"></i>
                    </div>
                    <h3 class="text-center">Nourish Yourself</h3>
                    <p class="text-center">
                        Fuel your body with whole, nutrient-dense foods that support your overall
                        health. Focus on eating plenty of fruits, vegetables, lean proteins, and healthy fats.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services-item">
                    <div class="icon">
                        <i class="flaticon-check"></i>
                    </div>
                    <h3 class="text-center">Prioritize Rest</h3>
                    <p class="text-center">
                        Getting enough quality sleep is crucial for your physical and emotional
                        health. Aim for at least seven hours of sleep each night and create a relaxing environment to
                        help you unwind.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services-item">
                    <div class="icon">
                        <i class="flaticon-check"></i>
                    </div>
                    <h3 class="text-center">Practice Self-Care</h3>
                    <p class="text-center">
                        Take care of yourself daily by doing activities that bring you joy and
                        relaxation. Whether it&#39;s reading a book, taking a bath, or practicing meditation, make time
                        for self-care.
                    </p>
                </div>
            </div>
        </div>
        <p class="text-center">
            Small changes can make a significant impact on your health and wellbeing.
            <br>
            Elevate your life today by incorporating these simple tips.
        </p>
    </div>
</div>


<section class="blog-area pb-70 pt-5">
    <div class="container-fluid">

        <div class="row">
            {% for blog in blogs %}
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="image">
                        <a href="{% url 'single_blog' blog.id blog.slug %}">
                            <img src="{{ blog.image.url }}" loading="lazy" alt="image">
                        </a>

                        <a href="{% url 'single_blog' blog.id blog.slug %}" class="date">
                            {{blog.created_on}}
                        </a>
                    </div>

                    <div class="content">
                        <h3>
                            <a href="{% url 'single_blog' blog.id blog.slug %}">
                                {{blog.title}}
                            </a>
                        </h3>

                        <a href="{% url 'single_blog' blog.id blog.slug %}" class="blog-btn">Read More +</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Blog Area -->

{% endblock %}

{% block scripts %}
<script>
    const infoModal = document.getElementById('info-modal')
    infoModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget

        const title = button.getAttribute('data-bs-title')
        const contentId = button.getAttribute('data-bs-content')
        const content = $(`#${contentId}`).html()

        // Update the modal's content.
        const modalTitle = infoModal.querySelector('.modal-title')
        const modalBody = infoModal.querySelector('.modal-body')

        modalTitle.textContent = title
        modalBody.innerHTML = content
    })
</script>
<script src="{% static 'superadmin/assets/plugins/select2/js/select2.full.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('select').select2();
    })
</script>

<script>
    // Get all the clickable spans
    const clickableSpans = document.querySelectorAll('.clickable-span');

    // Loop through the clickable spans and attach a click event listener to each one
    clickableSpans.forEach(span => {
        span.addEventListener('click', function () {
            // Get the ID of the clicked span
            const spanId = this.id;

            // Get the ID of the modal corresponding to the clicked span
            const modalId = `modal${spanId.slice(4)}`;

            // Get the modal element
            const modal = document.getElementById(modalId);

            // Get the close button element inside the modal
            const closeButton = modal.querySelector('.close');

            // When the user clicks on the span, display the corresponding modal
            modal.style.display = 'block';

            // When the user clicks on the close button, hide the modal
            closeButton.addEventListener('click', function () {
                modal.style.display = 'none';
            });
        });
    });

</script>

{% endblock %}