{% extends './../components/base.html' %}
{% load static %}
{% block title %} Lab Orders {% endblock %}

{% load humanize %}

{% block styles %}
<link href="{% static 'dashboard/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% now "H" as current_hour %}

<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<div class="form-head d-flex mb-3 mb-md-4 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h3 class="text-black font-w600 text-capitalize">Welcome Dr {{request.user.username}}</h3>
				<p class="mb-0 fs-18">
					{% if current_hour|add:"0" < 12 %} Good morning! {% elif current_hour|add:"0" < 18 %} Good
						afternoon! {% else %} Good evening! {% endif %} </p>
			</div>
		</div>
		<!-- Stats -->
		<div class="row">
			<div class="col-xl-4 col-xxl-4 col-sm-6">
				<div class="card gradient-bx text-white bg-info rounded">
					<div class="card-body">
						<div class="media align-items-center">
							<div class="media-body">
								<p class="mb-1">Lab Orders</p>
								<div class="d-flex flex-wrap">
									<h2 class="fs-40 font-w600 text-white mb-0 me-3">{{appointments|length}}</h2>
								</div>
							</div>
							<span class="border rounded-circle p-4">
								<i class="lni lni-hospital"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="card">
			<div class="card-header">
				<h3>Lab Orders</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="appointments" class="display" style="width:100%">
						<thead>
							<tr>
								<th>Laboratory</th>
								<th>Urgency</th>
								<th>Sample Date</th>
								<th>Created On</th>
							</tr>
						</thead>
						<tbody>
							{% for lab_order in lab_orders %}
							<tr>
								<td>{{lab_order.facility.name}}</td>
								<td>{{lab_order.urgency}}</td>
								<td>{{lab_order.sample_date_time}}</td>
								<td>{{lab_order.created_on}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'dashboard/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script>
	$('#appointments').DataTable()
</script>
{% endblock %}