{% extends './../components/base.html' %}
{% load static %}
{% load customtags %}
{% block title %} Appointment with patient {{appointment.patient.user.get_full_name}} {% endblock %}

{% load humanize %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <h3 class="text-black font-w600 text-capitalize mb-3"></h3>
        <div class="card">
            <div class="card-header">
                <h3>Appointment with patient {{appointment.patient.user.get_full_name}}</h3>
            </div>
            <div class="card-body">
                
                {% include './../components/appointment-info-for-doctor.html' with include_chat=True %}
                <div class="d-flex mt-3" style="gap: 10px;">
                    <a target="_blank" href="{% url 'doctor:doctor-notes-form' appointment.id %}" class="btn btn-primary">Doctor Notes Form</a>
                    {% if appointment.consultation_category == 'mental' %}
                    <a target="_blank" href="{% url 'doctor:mental-form' appointment.id %}" class="btn btn-primary">Mental Health Form</a>
                    {% endif %}
                    {% if appointment.consultation_category == 'medical' %}
                    <a target="_blank" href="{% url 'doctor:lab-form' appointment.id %}" class="btn btn-primary">Fill Lab Test Form</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}