{% extends 'base.html' %}
{% load static %}

{% block title %} Payment & Refund Policy {% endblock title %}

{% block content %}
<div class="page-title-area item-bg-7" style="background-image: url(/static/new/privacy-policy.jpg);">
    <div class="d-table" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Payment & Refund Policy</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Payment & Refund Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-details ptb-100">
    <div class="container">
        <h2>
            Payment Policy
        </h2>
        <p>
            Thank you for choosing ResQ247 services. This Payment Policy outlines the terms and conditions regarding
            payments made on our platform. By accessing our services, you agree to comply with this policy.
        </p>
        <h4>
            Payment Methods
        </h4>
        <p>
            ResQ247 accepts payments through secure online payment platforms, including credit cards, debit cards, and
            other
            authorized payment methods. All transactions are processed in a secure and encrypted manner to ensure the
            safety
            of your personal and financial information.
        </p>
        <h4>
            Billing and Charges
        </h4>
        <p>
            When you access our services, you will be charged according to the consultation fees specified by the
            respective
            doctors on our platform or product you chose. The charges may vary based on the duration and complexity of
            the
            consultation. You will be provided with a breakdown of the charges before confirming your appointment.
        </p>
        <h4>
            Payment Authorization
        </h4>
        <p>
            By initiating a payment transaction on ResQ247, you authorize us to charge the specified amount to your
            selected
            payment method. It is your responsibility to ensure that you have sufficient funds or credit available to
            cover
            the charges. In case of any payment authorization issues, your consultation appointment may be canceled or
            rescheduled , this includes MPESA payments .
        </p>
        <h4>
            Secure Payment Processing
        </h4>
        <p>
            ResQ247 utilizes industry-standard security protocols and measures to protect your payment information. We
            partner with trusted and secure payment service providers to handle all financial transactions securely.
            However, we cannot be held liable for any breaches or unauthorized access caused by external factors beyond
            our
            control.
        </p>
        <h4>
            Payment Confirmation
        </h4>
        <p>
            Once your payment is successfully processed, you will receive a confirmation email with the details of your
            appointment and payment transaction. Please retain this email as proof of payment and for future reference.
        </p>
        <h2>
            Refund Policy
        </h2>
        <p>
            At ResQ247, we strive to provide high-quality services to our patients. However, we understand that
            circumstances may arise where you may require a refund. This Refund Policy outlines the conditions under
            which
            refunds can be issued.
        </p>
        <h2>
            Consultation Cancellation:
        </h2>
        <p>
            If you wish to cancel your consultation appointment, you must do so at least 24 hours before the scheduled
            time.
            In such cases, a full refund will be issued to the original payment method. However, if the cancellation is
            made
            less than 24 hours before the appointment, the refund amount may be subject to deductions for administrative
            purposes.
        </p>
        <h2>
            Doctor Unavailability
        </h2>
        <p>
            In the event that the selected doctor becomes unavailable for your consultation due to unforeseen
            circumstances
            or technical difficulties, we will make every effort to reschedule your appointment. If rescheduling is not
            possible, a full refund will be issued.
        </p>
        <h2>
            Unsatisfactory Service
        </h2>
        <p>
            If you are dissatisfied with the service provided, please contact our customer support within 48 hours of
            the
            consultation. We will review your concerns and, if appropriate, offer a partial or full refund based on the
            specific circumstances.
        </p>
        <h2>
            Technical Issues
        </h2>
        <p>
            If you encounter technical difficulties on our platform that prevent you from accessing the consultation or
            receiving satisfactory service, please inform us immediately. We will investigate the issue and, if deemed
            valid, issue a refund or reschedule the appointment, as per your preference.
        </p>
        <h2>
            Refund Processing
        </h2>
        <p>
            Refunds will be processed within a reasonable timeframe after approval. The refund amount will be credited
            to
            the original payment method used for the transaction. Please note that the processing time may vary
            depending on
            your financial institution.
        </p>
        <p>
            Please note that this Payment and Refund Policy may be subject to change. We encourage you to review this
            policy
            periodically to stay informed about any updates. If you have any questions or concerns regarding payments or
            refunds, please contact our customer support team, and we will be happy to assist you.
        </p>
    </div>
</div>

{% endblock %}