{% extends 'base.html' %}
{% load static %}

{% block title %} Telemedicine Platform Medical Practitioner Contract {% endblock title %}

{% block content %}
<div class="page-title-area item-bg-7" style="background-image: url(/static/new/privacy-policy.jpg);">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Telemedicine Platform Medical Practitioner Contract</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Telemedicine Platform Medical Practitioner Contract</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-details ptb-100">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center">
            <a href="#" class="btn btn-primary">Download Contract</a>
        </div>
    </div>
</div>

{% endblock %}