{% extends 'base.html' %}
{% load static %}

{% block title %} Practitioners Use Terms & Conditions {% endblock title %}

{% block content %}
<div class="page-title-area item-bg-7" style="background-image: url(/static/new/privacy-policy.jpg);">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Practitioners Use Terms & Conditions</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Practitioners Use Terms & Conditions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-details ptb-100">
    <div class="container">
        <p>
            Welcome to our ResQ247 virtual care platform. These terms and conditions govern your use of our
            telemedicine platform as a healthcare provider. Please read these terms and conditions carefully
            before using our platform. By using our platform, you agree to be bound by these terms and
            conditions.
        </p>
        <h3>Introduction</h3>
        <p>
            These terms and conditions apply to all healthcare providers who use our telemedicine platform to
            provide healthcare services. By using our telemedicine platform, you agree to comply with these
            terms and conditions and all applicable laws and regulations.
        </p>
        <h3>Eligibility</h3>
        <p>
            To use our telemedicine platform as a healthcare provider, you must be licensed and authorized to
            provide healthcare services in your jurisdiction. You must also have access to a computer or mobile
            device with a stable internet connection.
        </p>
        <h3>Registration</h3>
        <p>
            To use our telemedicine platform as a healthcare provider, you must register and create an account.
            During the registration process, you will be required to provide personal and professional
            information, including your name, date of birth, contact information, and license number, photos ,
            academic testimonials etc. You must ensure that all information you provide is accurate, complete,
            and up to date. It is a criminal offense to share in accurate information as practitioner and you will
            remain solely liable to this. You are responsible for maintaining the confidentiality of your account
            information, including your password.
        </p>
        <h3>Services</h3>
        <p>
            As a healthcare provider on our telemedicine platform, you will provide healthcare services through
            secure video conferencing technology. You will be responsible for providing accurate and timely
            healthcare services to patients. You must comply with all applicable laws and regulations related to
            the provision of healthcare services that include but not limited to confidentiality to patients
            information.
        </p>
        <h3>Fees</h3>
        <p>
            Fees for using our telemedicine platform vary depending on the services provided. You will be
            required to share your fees as a practitioner /will adopt our fees where necessary for consulting
            services. There is onboarding fees of 195 USD per practicing Month and 3-5 % commission for all
            transactions. The charges do not include relevant taxes. We accept payment via credit card, PayPal, ,
            bank transfer or MPESA . The platformer operators have the right to change the rates without
            consulting practitioners , however any changes shall be communicated 30 days before effecting
            them.
        </p>
        <h3>Cancellation and Refund Policy</h3>
        <p>
            If you need to cancel or a subscription, you must provide at least 14 days’ notice. Failure to do so
            may result in a cancellation fee. Refunds will be issued in accordance with our cancellation policy.
            Refunds will be processed within 14 business days of the cancellation from the day the cancellation
            notice is booked. All relevant fees which are due shall be deducted.
        </p>
        <h3>Technical Requirements</h3>
        <p>
            To use our telemedicine platform, you must have access to a computer or mobile device with a
            stable internet connection. You must also have a webcam, microphone, and speakers. We
            recommend using Google Chrome or Mozilla Firefox as your web browser.
        </p>
        <h3>Privacy and Confidentiality</h3>
        <p>
            We are committed to protecting the privacy and confidentiality of all information exchanged on our
            telemedicine platform. We comply with all applicable privacy laws and regulations, including the
            Health Insurance Portability and Accountability Act (HIPAA).
        </p>
        <p>
            As a healthcare provider on our telemedicine platform, you must comply with all applicable privacy
            laws and regulations. You must also maintain the confidentiality of all patient information and not
            disclose any patient information to third parties without the patient&#39;s consent.
        </p>
        <h3>Consent</h3>
        <p>
            By using our telemedicine platform as a healthcare provider, you consent to the collection, use, and
            disclosure of your personal and professional information in accordance with this policy. You also
            consent to providing healthcare services through our telemedicine platform.
        </p>
        <h3>Disclaimers</h3>
        <p>
            Our telemedicine platform is not a substitute for in-person medical care, encourage patients to have
            physical consultations by licensed practitioners where necessary. If a patient is experiencing a
            medical emergency, please instruct them to call their local emergency services immediately.
            We are not liable for any damages or injuries that may result from the use of our telemedicine
            platform.
        </p>
        <h3>Changes to Policy</h3>
        <p>
            We reserve the right to change this policy at any time. Any changes will be posted on our website
            and will become.
        </p>
    </div>
</div>

{% endblock %}