{% extends 'base.html' %}
{% load static %}

{% block title %} User Policy and Refund Guidelines {% endblock title %}

{% block content %}
<div class="page-title-area item-bg-7" style="background-image: url(/static/new/privacy-policy.jpg);">
    <div class="d-table" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>User Policy and Refund Guidelines</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>User Policy and Refund Guidelines</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-details ptb-100">
    <div class="container">
        <p>
            Welcome to ResQ247 virtual care platform. We are committed to providing you with high-quality
            healthcare services in a safe and secure environment. To ensure that we provide you with the best
            possible care, we have developed this comprehensive user policy which outlines the terms and
            conditions for using our telemedicine platform.
        </p>
        <h3>Introduction</h3>
        <p>
            This user policy applies to all users of our telemedicine platform, including patients, healthcare
            providers, and support staff. By using our telemedicine platform, you agree to comply with this policy
            and all applicable laws and regulations.
        </p>
        <h3>Eligibility</h3>
        <p>
            To use our telemedicine platform, you must be 18 years old and have a valid email address. You must
            also have access to a computer or mobile device with a stable internet connection.
        </p>
        <h3>Registration</h3>
        <p>
            To use our telemedicine platform, you must register and create an account. During the registration
            process, you will be required to provide personal information such as your name, date of birth, and
            contact information, your ID number , location , your photo , academic testimonials for practitioners
            etc. .
        </p>
        <p>
            You must ensure that all information you provide is accurate, complete, and up to date. You are
            responsible for maintaining the confidentiality of your account information, including your password.u
        </p>
        <h3>Services</h3>
        <p>
            Our telemedicine platform provides healthcare services through secure video conferencing
            technology.
        </p>
        <p>
            Our services include consultations, assessments, and treatment plans. We may also offer
            additional services such as access to healthcare professionals and educational resources.
        </p>
        <p>
            A practitioner may suggest a physical assessment based on their initial interaction with you. ONLY
            ResQ247 approved facilities which are listed on the platform are allowed to cover these services.
        </p>
        <p>
            You are solely responsible for anything that would happen outside of the mentioned facilities. If you don’t
            get the facility name on the platform, please contact us with the name of the practitioner and the
            proposed facility.
        </p>
        <h3>
            Fees
        </h3>
        <p>
            Fees for using our telemedicine platform vary depending on the services provided. You will be
            informed of the fees at the time of booking an appointment. Payment is due prior to the start of the
            appointment. You will have to pay all the required money in full to reserve you’re your booking, Unpaid
            requests shall not be accepted as a booking. We accept payment via MPESA , All accepted card in
            Kenya or bank transfer.
        </p>
        <h3>Cancellation and Refund Policy</h3>
        <p>
            If you need to cancel or reschedule an appointment, you must provide at least 24 hours&#39; notice.
            Failure to do so may result in a cancellation fee. If you cancel an appointment with less than 24 hours&#39;
            notice, you will be charged a cancellation fee equivalent to the full cost of the appointment.
            Refunds will be issued in accordance with our cancellation policy. Refunds will be processed within 14
            business days of the cancellation.
        </p>
        <h3>Technical Requirements</h3>
        <p>
            To use our telemedicine platform, you must have access to a computer or mobile device with a stable
            internet connection. You must also have a webcam, microphone, and speakers. We recommend
            using Google Chrome or Mozilla Firefox as your web browser.
        </p>
        <h3>Privacy and Confidentiality</h3>
        <p>
            We are committed to protecting your privacy and ensuring the confidentiality of your personal and
            medical information. We comply with all applicable privacy laws and regulations, including the Health
            Insurance Portability and Accountability Act (HIPAA).
        </p>
        <p>
            Our platform uses secure video conferencing technology to ensure the privacy and confidentiality of
            your consultations. We do not record or store any video or audio data from your consultations.
        </p>
        <h3>Consent</h3>
        <p>
            By using our telemedicine platform, you consent to the collection, use, and disclosure of your
            personal and medical information in accordance with this policy. You also consent to receiving
            healthcare services through our telemedicine platform.
        </p>
        <h3>Disclaimers</h3>
        <p>
            Our telemedicine platform is not a substitute for in-person medical care. If you are experiencing a
            medical emergency, please call your local emergency services immediately. Our telemedicine platform
            is not a substitute for in-person medical care. If you are experiencing a medical emergency, please call
            your
            local emergency services immediately or visit your nearest medical facility.
        </p>
        <p>
            We do not guarantee the accuracy, completeness, or reliability of any information provided through
            our telemedicine platform. We are not liable for any damages or injuries that may result from the use
            of our telemedicine platform.
        </p>
        <h3>Changes to Policy</h3>
        <p>
            We reserve the right to change this policy at any time. Any changes will be posted on our website and
            will become effective immediately upon posting. Your continued use of our telemedicine platform after
            any changes have been made will constitute your acceptance of the revised policy.
        </p>
        <h3>Prohibited Conduct</h3>
        <p>
            You are prohibited from engaging in any conduct that is harmful.
        </p>
    </div>
</div>

{% endblock %}