{% load static %}

{% load customtags %}
{% load website_tags %}
{% load humanize %}

<style>
    .profile-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
    }

    .bg-none {
        background: transparent !important;
        background-color: transparent !important;
    }

    .custom-shadow {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
</style>

<!-- Start Header Area -->
<header class="header-area">
    <div class="top-header py-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-2">
                    <ul class="top-list">

                        <li>
                            <i class='flaticon-phone-call'></i>
                            <a href="tel:0738247247">Call Us: 0738247247</a>
                        </li>
                    </ul>
                </div>


                <div class="col-lg-7 py-2">
                    <div class="d-flex align-items-center gap-2 flex-wrap" style="justify-content: center">
                        <a href="{% url 'medical_practitioners' %}"
                            class="default-bt btn btn-primary rounded rounded-pill py-2 px-4 bg-primary  me-2"
                            style="white-space:nowrap;">
                            ResQ247 Virtual Care
                        </a>
                        <a href="tel:+254738247247"
                            class="default-bt btn btn-danger rounded rounded-pill py-2 px-4  me-2"
                            style="white-space:nowrap;">
                            Emergency
                        </a>
                        <a href="{% url 'symptom_checker' %}"
                            class="default-bt btn text-dark rounded rounded-pill py-2 px-4  me-2"
                            style="white-space:nowrap; background: #FFD700; border-color: #FFD700;">
                            Symptom Checker
                        </a>
                        <!-- <div class="dropdown">
                            <button href="#"
                                class="btn btn-primary bg-primary rounded rounded-pill py-2 px-4 me-2 dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Free Trial
                                <span></span>
                            </button>
                            <ul class="dropdown-menu custom-shadow border-0 py-3 px-2">

                                <li><a class="dropdown-item p-2" href="javascript:void(0)" data-bs-target="#request_demo_form-modal" data-bs-toggle="modal">Service Provider</a>
                                </li>
                                <li><a class="dropdown-item p-2" href="javascript:void(0)" data-bs-target="#request_demo_form-modal" data-bs-toggle="modal">Request Demo</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>

                <div class="col-lg-3">
                    <ul class="top-social d-flex justify-content-end align-items-center m-0">
                        <li>
                            <button type="button" onclick="toggleTheme()"
                                class="btn position-relative rounded d-flex justify-content-center align-items-center"
                                style="width: 30px !important; height: 30px !important;" id="theme-toggler">
                                <i class="fa fs-5 bg-none text-white" id="theme-icon"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" data-bs-target="#cart-offcanvas" data-bs-toggle="offcanvas"
                                class="btn btn-danger position-relative rounded d-flex justify-content-center align-items-center"
                                style="width: 30px !important; height: 30px !important;">
                                <i class="fa fa-shopping-cart"
                                    style="font-size: 18px; background: transparent; color: white;"></i>
                                <span
                                    class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-primary"
                                    style="font-size: 12px;">
                                    <span id="navbar-count">0</span>
                                    <span class="visually-hidden">Shopping cart</span>
                                </span>
                            </button>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <div class="nav-item dropdown dropdown-left">
                                <button
                                    class="btn btn-secondary dropdown-toggle d-flex align-items-center py-0 bg-transparent border-0"
                                    type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="profile-icon me-2">
                                        <img src="{% if request.user.profile.profile_photo %} {{request.user.profile.profile_photo.url}} {% endif %}"
                                            alt="">
                                    </div>
                                    <span style="text-transform: lowercase !important;">
                                        {{request.user.username|truncatechars:8}}
                                    </span>
                                </button> 
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li class="m-0 d-block">
                                        <a href="{% url 'account_profile' %}" class="dropdown-item d-bloc nav-link p-2"
                                            type="button">
                                            <i class="fa fa-user me-2"></i>
                                            Profile
                                        </a>
                                    </li>
                                    {% if request.user.is_superuser %}
                                    <li class="m-0 d-block">
                                        {% get_admin_unread_notifications_count as admin_notifications %}
                                        <a href="{% url 'super-admin' %}" class="dropdown-item d-bloc nav-link p-2 "
                                            type="button">
                                            <i class="fa fa-right-from-bracket me-2"></i>
                                            Super Admin
                                            <span class="badge text-bg-danger">{{admin_notifications}}</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if request.user.patient %}
                                    <li class="m-0 d-block">
                                        <a href="{% url 'patient:dashboard' %}"
                                            class="dropdown-item d-bloc nav-link p-2 " type="button">
                                            <i class="fa fa-chevron-right me-2"></i>
                                            Go to Patient Dashboard
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if request.user.doctor %}
                                    <li class="m-0 d-block">
                                        <a href="{% url 'doctor:dashboard' %}"
                                            class="dropdown-item d-bloc nav-link p-2 " type="button">
                                            <i class="fa fa-chevron-right me-2"></i>
                                            Go to Doctor Dashboard
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li class="m-0 d-block">
                                        {% get_my_unread_notifications_count request.user.id as my_notifications %}
                                        <a href="{% url 'account_notifications' %}" class="dropdown-item d-bloc nav-link p-2 " type="button">
                                            <i class="fa fa-chevron-right me-2"></i>
                                            Notifications <span class="badge text-bg-danger">{{my_notifications}}</span>
                                        </a>
                                    </li>
                                    
                                    <li class="m-0 d-block">
                                        <a href="{% url 'logout' %}" class="dropdown-item d-bloc nav-link p-2 "
                                            type="button">
                                            <i class="fa fa-right-from-bracket me-2"></i>
                                            Logout
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <a href="javascript:void(0)" class="log-in" data-bs-toggle="modal"
                                data-bs-target="#login-modal1">
                                Sign In
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'register-as' %}" class="sign-in" data-bs-toggle="modalf"
                                data-bs-target="#signup-modalp">
                                Sign Up
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Start Navbar Area -->
    <div class="navbar-area navbar-two py-1">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'assets/img/logo.png' %}" class="black-logo" style="height: 56px;"
                                alt="image">
                            <img src="{% static 'assets/img/logo-2.png' %}" class="white-logo" style="height: 56px;"
                                alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-navbar">
            <div class="container">

                <nav class="navbar navbar-expand-md navbar-light ">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'assets/img/logo.png' %}" class="black-logo" style="height: 56px;"
                            alt="image">
                        <img src="{% static 'assets/img/logo-2.png' %}" class="white-logo" style="height: 56px;"
                            alt="image">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Services
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for link in 'services'|get_navbar_links:request.path %}
                                    <li class="nav-item">
                                        <a href="{% url link.view_name %}"
                                            class="nav-link {% if link.active %}active{% endif %}">
                                            {{link.label}}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Solution
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for link in 'solutions'|get_navbar_links:request.path %}
                                    <li class="nav-item">
                                        <a href="{% url link.view_name %}"
                                            class="nav-link {% if link.active %}active{% endif %}">
                                            {{link.label}}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'shop' %}" class="nav-link">
                                    Medi-care Shop
                                    <!-- <i class="fa fa-angle-down"></i> -->
                                    <i class="fa fa-shopping-cart"></i>
                                </a>


                                <ul class="dropdown-menu">

                                    {% for type_ in 'products'|product_types %}
                                    <li class="nav-item">
                                        <a href="{% url 'shop-product-type' type_.id type_.name %}"
                                            class="nav-link text-capitalize">
                                            {{type_.name}}
                                        </a>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Health in Hand
                                    <i class="fa fa-angle-down"></i>
                                </a>

                                <ul class="dropdown-menu ">

                                    {% for link in 'health-in-hand'|get_navbar_links:request.path %}
                                    {% if link.children|length > 0 %}
                                    <li class="nav-item ">
                                        <a href="javascript:void(0)" class="nav-link">
                                            {{link.label}}
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for child in link.children %}
                                            <li class="nav-item">
                                                <a href="{% url child.view_name %}"
                                                    class="nav-link {% if child.active %}active{% endif %}">
                                                    {{child.label}}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% else %}
                                    <li class="nav-item">
                                        <a href="{% url link.view_name %}"
                                            class="nav-link {% if link.active %}active{% endif %}">
                                            {{link.label}}
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>

                            {% with 'about'|is_page_active:request.path as active %}
                            <li class="nav-item">
                                <a href="{% url 'about' %}" class="nav-link {% if active %}active{% endif %}">
                                    About Us
                                </a>
                            </li>
                            {% endwith %}

                            {% with 'blogs'|is_page_active:request.path as active %}
                            <li class="nav-item">
                                <a href="{% url 'blogs' %}" class="nav-link {% if active %}active{% endif %}">
                                    Resources
                                </a>
                            </li>
                            {% endwith %}
                            {% comment %}
                            {% with 'contact'|is_page_active:request.path as active %}
                            <li class="nav-item">
                                <a href="{% url 'contact' %}" class="nav-link {% if active %}active{% endif %}">
                                    Contact Us
                                </a>
                            </li>
                            {% endwith %}
                            {% endcomment %}

                        </ul>

                        <div class="others-options gap-2">
                            <a href="{% url 'home-based-care' %}" class="default-btn">
                                Home Care
                                <span></span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
</header>
<!-- End Header Area -->

<!-- Cart offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="cart-offcanvas" aria-labelledby="cart-header">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="cart-header">Shopping Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Qty</th>
                        <th>Sub total</th>
                    </tr>
                </thead>
                <tbody class="align-middle" id="navbar-cart">

                </tbody>
            </table>
        </div>

    </div>
    <div class="offcanvas-footer py-2">
        <div class="h-100 px-3 d-flex flex-column justify-content-center gap-2">
            <h4 class="m-0 p-0">KES <span id="navbar-total"></span></h4>
            <div>
                <a href="{% url 'cart' %}" class="btn btn-primary rounded-pill py-2 px-4">
                    <span class="me-2">Proceed to Cart</span>
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End of offcanvas cart -->


<!-- Sign In Modal -->
<div class="modal fade" id="login-modal1" tabindex="-1" aria-labelledby="login-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h1 class="modal-title fs-5" id="login-modal-title">Sign In to Your Account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> -->
            <div class="modal-body">
                {% include './../auth/sign-in-component.html' with noshadow=True %}
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>


<!-- Sign Up Modal -->
<div class="modal fade" id="signup-modal" tabindex="-1" aria-labelledby="signup-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h1 class="modal-title fs-5" id="signup-modal-title">Create a new Free account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> -->
            <div class="modal-body">
                {% include './../auth/sign-up-component.html' %}
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>


<!-- Request Demo Modal -->
<div class="modal fade" id="request_demo_form-modal" tabindex="-1" aria-labelledby="request_demo_form-modal-title"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="request_demo_form-modal-title">Request Demo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include './../forms/request_demo_form.html' with form_id='request_demo_form' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="request_demo_form" class="btn btn-primary">Request Demo</button>
            </div>
        </div>
    </div>
</div>