{% load customtags %}

<div class="signup-form" style="max-width: 100%;">
    <h3>Create your Patient Account</h3>
    {% for msg in messages %}
    {% if msg.tags == 'error' %}
    <div class="alert alert-danger">
        {{msg}}
    </div>
    {% else %}
    <div class="alert alert-{{msg.tags}}">
        {{msg}}
    </div>
    {% endif %}
    {% endfor %}
    <form method="post" id="patient-form" action="{% url 'signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <h4>Basic Information</h4>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="" class="form-label">First Name</label>
                    <input required type="text" class="form-control" placeholder="First Name" name="user.first_name"
                        value="{{user.first_name}}">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="" class="form-label">Last Name</label>
                    <input required type="text" class="form-control" placeholder="Last Name" name="user.last_name"
                        value="{{user.last_name}}">
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="" class="form-label">Username</label>
                    <input required type="text" class="form-control" placeholder="Username" name="user.username"
                        value="{{user.username}}">
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="" class="form-label">Email</label>
                    <input required type="email" class="form-control" placeholder="Email" name="user.email"
                        value="{{user.email}}">
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="" class="form-label">Password <small>(8 characters minimum, include symbols, numbers &
                            alphabets)</small> </label>
                    <input required type="password" class="form-control pass1" minlength="8" placeholder="Password"
                        name="user.password">
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="" class="form-label">Confirm Password <small>(8 characters minimum, include symbols,
                            numbers & alphabets)</small></label>
                    <input required type="password" minlength="8" class="form-control pass2"
                        placeholder="Confirm Password" name="user.password1">
                </div>
            </div>

            <div class="col-lg-12 mb-3">
                <h4>Profile Information</h4>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="" class="form-label">Country Code</label>
                            <select required class="w-100 form-control" name="user.profile.country_code">
                                <option value="">Code</option>
                                {% for code in ''|country_codes %}
                                <option value="{{code}}">{{code}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label for="" class="form-label">Phone Number*</label>
                            <input required type="number" class="form-control phone" placeholder="700000000"
                                name="user.profile.phone_number" minlength="9" maxlength="9">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="" class="form-label w-100 d-block">Gender</label>
                    <select class="w-100 form-control" name="user.profile.gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="" class="form-label">Date of Birth</label>
                    <input required type="date" class="form-control dob" placeholder="Date of Birth" name="dob">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="" class="form-label">Profile Photo</label>
                    <div class="input-group">
                        <input required type="file" accept="image/png, image/jpg, image/jpeg" class="form-control"
                            name="user.profile.profile_photo" maxlength="9">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="" class="form-label">Town/City</label>
                    <input required type="text" class="form-control" placeholder="Town/City" name="user.profile.city">
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="" class="form-label">Address</label>
                    <div class="input-group">
                        <textarea required class="form-control" name="user.profile.address"
                            placeholder="Your Address"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <h4>Extra Information</h4>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="" class="form-label">Reason For Sign Up (optional)</label>
                    <textarea type="text" class="form-control"
                        placeholder="Why you are signing Up ie. Medical Condition, etc"
                        name="reason_for_signup"></textarea>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="">
                    <div id="msgSubmit"></div>
                    <div id="msgSubmitErrors"></div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="send-btn">
                    <button class="default-btn">Sign Up Now</button>
                </div>
                <br>
                <span>Already a registered user? <a href="{% url 'signin' %}">Login!</a></span>
            </div>
        </div>
    </form>
</div>